<div>
    <h2>
        <span jhiTranslate="cmaApp.alert.home.title">Alerts</span>
        <button class="btn btn-primary float-right jh-create-entity create-alert" [routerLink]="['/', { outlets: { popup: ['alert-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.alert.home.createLabel">
            Create new Alert
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="alerts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stamp"><span jhiTranslate="cmaApp.alert.stamp">Stamp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="cmaApp.alert.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="cmaApp.alert.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="cmaApp.alert.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contactRowNums"><span jhiTranslate="cmaApp.alert.contactRowNums">Contact Row Nums</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientCampaignName"><span jhiTranslate="cmaApp.alert.clientCampaign">Client Campaign</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientListName"><span jhiTranslate="cmaApp.alert.clientList">Client List</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alert of alerts ;trackBy: trackId">
                <td><a [routerLink]="['../alert', alert.id ]">{{alert.id}}</a></td>
                <td>{{alert.stamp | date:'medium'}}</td>
                <td>{{alert.description}}</td>
                <td>{{alert.type}}</td>
                <td>{{alert.status}}</td>
                <td>{{alert.contactRowNums}}</td>
                <td>
                    <div *ngIf="alert.clientCampaignId">
                        <a [routerLink]="['../client-campaign', alert.clientCampaignId  ]" >{{alert.clientCampaignName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="alert.clientListId">
                        <a [routerLink]="['../client-list', alert.clientListId  ]" >{{alert.clientListName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../alert', alert.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alert/'+ alert.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alert/'+ alert.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="alerts && alerts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
