<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAlertLabel" jhiTranslate="cmaApp.alert.home.createOrEditLabel">Create or edit a Alert</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!alert.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="alert.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alert.stamp" for="field_stamp">Stamp</label>
            <div class="d-flex">
                <input id="field_stamp" type="datetime-local" class="form-control" name="stamp" [(ngModel)]="alert.stamp"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alert.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="alert.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alert.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="alert.type" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alert.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="alert.status" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alert.contactRowNums" for="field_contactRowNums">Contact Row Nums</label>
            <input type="text" class="form-control" name="contactRowNums" id="field_contactRowNums"
                [(ngModel)]="alert.contactRowNums" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alert.clientCampaign" for="field_clientCampaign">Client Campaign</label>
            <select class="form-control" id="field_clientCampaign" name="clientCampaign" [(ngModel)]="alert.clientCampaignId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCampaignOption.id" *ngFor="let clientCampaignOption of clientcampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alert.clientList" for="field_clientList">Client List</label>
            <select class="form-control" id="field_clientList" name="clientList" [(ngModel)]="alert.clientListId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientListOption.id" *ngFor="let clientListOption of clientlists; trackBy: trackClientListById">{{clientListOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
