
<div *ngIf="alert">
    <h2><span jhiTranslate="cmaApp.alert.detail.title">Alert</span> {{alert.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.alert.stamp">Stamp</span></dt>
        <dd>
            <span>{{alert.stamp | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.alert.description">Description</span></dt>
        <dd>
            <span>{{alert.description}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.alert.type">Type</span></dt>
        <dd>
            <span>{{alert.type}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.alert.status">Status</span></dt>
        <dd>
            <span>{{alert.status}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.alert.contactRowNums">Contact Row Nums</span></dt>
        <dd>
            <span>{{alert.contactRowNums}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.alert.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="alert.clientCampaignId">
                <a [routerLink]="['/client-campaign', alert.clientCampaignId]">{{alert.clientCampaignName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.alert.clientList">Client List</span></dt>
        <dd>
            <div *ngIf="alert.clientListId">
                <a [routerLink]="['/client-list', alert.clientListId]">{{alert.clientListName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'alert/'+ alert.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
