<div *ngIf="campaignListContactQuestionResult">
    <h2><span
        jhiTranslate="cmaApp.campaignListContactQuestionResult.detail.title">Campaign List Contact Question Result</span> {{campaignListContactQuestionResult.id}}
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.campaignListContactQuestionResult.contactRowNum">Contact Row Num</span></dt>
        <dd>
            <span>{{campaignListContactQuestionResult.contactRowNum}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignListContactQuestionResult.cvalue">Cvalue</span></dt>
        <dd>
            <span>{{campaignListContactQuestionResult.cvalue}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignListContactQuestionResult.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="campaignListContactQuestionResult.clientCampaignId">
                <a [routerLink]="['/client-campaign', campaignListContactQuestionResult.clientCampaignId]">{{campaignListContactQuestionResult.clientCampaignName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignListContactQuestionResult.clientList">Client List</span></dt>
        <dd>
            <div *ngIf="campaignListContactQuestionResult.clientListId">
                <a [routerLink]="['/client-list', campaignListContactQuestionResult.clientListId]">{{campaignListContactQuestionResult.clientListName}}</a>
            </div>
        </dd>
        <dt><span
            jhiTranslate="cmaApp.campaignListContactQuestionResult.bookingQuestionField">Booking Question Field</span>
        </dt>
        <dd>
            <div *ngIf="campaignListContactQuestionResult.bookingQuestionFieldId">
                <a [routerLink]="['/booking-question-field', campaignListContactQuestionResult.bookingQuestionFieldId]">{{campaignListContactQuestionResult.bookingQuestionFieldName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'campaign-list-contact-question-result/'+ campaignListContactQuestionResult.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
