<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCampaignListContactQuestionResultLabel"
            jhiTranslate="cmaApp.campaignListContactQuestionResult.home.createOrEditLabel">Create or edit a Campaign
            List Contact Question Result</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!campaignListContactQuestionResult.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="campaignListContactQuestionResult.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactQuestionResult.contactRowNum"
                   for="field_contactRowNum">Contact Row Num</label>
            <input type="number" class="form-control" name="contactRowNum" id="field_contactRowNum"
                   [(ngModel)]="campaignListContactQuestionResult.contactRowNum"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactQuestionResult.cvalue"
                   for="field_cvalue">Cvalue</label>
            <input type="text" class="form-control" name="cvalue" id="field_cvalue"
                   [(ngModel)]="campaignListContactQuestionResult.cvalue"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactQuestionResult.clientCampaign"
                   for="field_clientCampaign">Client Campaign</label>
            <select class="form-control" id="field_clientCampaign" name="clientCampaign"
                    [(ngModel)]="campaignListContactQuestionResult.clientCampaignId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCampaignOption.id"
                        *ngFor="let clientCampaignOption of clientcampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactQuestionResult.clientList"
                   for="field_clientList">Client List</label>
            <select class="form-control" id="field_clientList" name="clientList"
                    [(ngModel)]="campaignListContactQuestionResult.clientListId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientListOption.id"
                        *ngFor="let clientListOption of clientlists; trackBy: trackClientListById">{{clientListOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label"
                   jhiTranslate="cmaApp.campaignListContactQuestionResult.bookingQuestionField"
                   for="field_bookingQuestionField">Booking Question Field</label>
            <select class="form-control" id="field_bookingQuestionField" name="bookingQuestionField"
                    [(ngModel)]="campaignListContactQuestionResult.bookingQuestionFieldId">
                <option [ngValue]="null"></option>
                <option [ngValue]="bookingQuestionFieldOption.id"
                        *ngFor="let bookingQuestionFieldOption of bookingquestionfields; trackBy: trackBookingQuestionFieldById">{{bookingQuestionFieldOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
