<div>
    <h2>
        <span
            jhiTranslate="cmaApp.campaignListContactQuestionResult.home.title">Campaign List Contact Question Results</span>
        <button class="btn btn-primary float-right jh-create-entity create-campaign-list-contact-question-result"
                [routerLink]="['/', { outlets: { popup: ['campaign-list-contact-question-result-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="cmaApp.campaignListContactQuestionResult.home.createLabel">
            Create new Campaign List Contact Question Result
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="campaignListContactQuestionResults">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="contactRowNum"><span
                    jhiTranslate="cmaApp.campaignListContactQuestionResult.contactRowNum">Contact Row Num</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="cvalue"><span
                    jhiTranslate="cmaApp.campaignListContactQuestionResult.cvalue">Cvalue</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="clientCampaignName"><span
                    jhiTranslate="cmaApp.campaignListContactQuestionResult.clientCampaign">Client Campaign</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="clientListName"><span jhiTranslate="cmaApp.campaignListContactQuestionResult.clientList">Client List</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="bookingQuestionFieldName"><span
                    jhiTranslate="cmaApp.campaignListContactQuestionResult.bookingQuestionField">Booking Question Field</span>
                    <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignListContactQuestionResult of campaignListContactQuestionResults ;trackBy: trackId">
                <td><a
                    [routerLink]="['../campaign-list-contact-question-result', campaignListContactQuestionResult.id ]">{{campaignListContactQuestionResult.id}}</a>
                </td>
                <td>{{campaignListContactQuestionResult.contactRowNum}}</td>
                <td>{{campaignListContactQuestionResult.cvalue}}</td>
                <td>
                    <div *ngIf="campaignListContactQuestionResult.clientCampaignId">
                        <a [routerLink]="['../client-campaign', campaignListContactQuestionResult.clientCampaignId  ]">{{campaignListContactQuestionResult.clientCampaignName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campaignListContactQuestionResult.clientListId">
                        <a [routerLink]="['../client-list', campaignListContactQuestionResult.clientListId  ]">{{campaignListContactQuestionResult.clientListName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campaignListContactQuestionResult.bookingQuestionFieldId">
                        <a [routerLink]="['../booking-question-field', campaignListContactQuestionResult.bookingQuestionFieldId  ]">{{campaignListContactQuestionResult.bookingQuestionFieldName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../campaign-list-contact-question-result', campaignListContactQuestionResult.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign-list-contact-question-result/'+ campaignListContactQuestionResult.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign-list-contact-question-result/'+ campaignListContactQuestionResult.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campaignListContactQuestionResults && campaignListContactQuestionResults.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
