<div>
    <div *ngFor="let outcomeSubReason of outcomeSubReasons">
        <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio"
                   [id]="'field_'+outcomeSubReason.id" [name]="'field_'+outcomeSubReason.id"
                   [value]="outcomeSubReason.id"
                   [(ngModel)]="campaignListResult.outcomeSubReasonId">
            <label class="custom-control-label"
                   [for]="'field_'+outcomeSubReason.id">{{outcomeSubReason.name}}</label>
        </div>
    </div>
</div>
