<div>
    <h4>QA Approval</h4>

    <div class="form-group">
        <label class="form-control-label" for="field_qa_notes">Notes</label>
        <textarea type="text" class="form-control" name="notes" id="field_qa_notes"
                  [(ngModel)]="notes"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" (click)="doApprove()">
            <span>Approve</span>
        </button>
        <button class="btn btn-danger" (click)="doDecline()">
            <span>Decline</span>
        </button>
    </div>

    <div class="form-group">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Date</span></th>
                    <th><span>Caller Id</span></th>
                    <th><span>Type</span></th>
                    <th><span>Details</span></th>
                    <th><span>Notes</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let history of (callHistories | orderBy:'createdDate')">
                    <td>{{history.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                    <td>{{history.userLogin}}</td>
                    <td>{{history.typeName}}</td>
                    <td>{{history.details}}</td>
                    <td>{{history.note}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
