<div>
    <div class="alert alert-danger" *ngIf="campaignListContactResult.smsIsSent">
        <span>An SMS has already been sent to this contact check call history for further details</span>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-outline-danger"
                (click)="reset()">Reload Template
        </button>
    </div>

    <jhi-client-campaign-sms-properties *ngIf="sms"
                                        [editForm]="editForm"
                                        [clientCampaignSms]="sms"
                                        [mode]="ClientCampaignSmsDialogComponentMode.SEND"></jhi-client-campaign-sms-properties>

    <div class="form-group">
        <button class="btn btn-success" (click)="doSend()">
            <span class="fa fa-send"></span>
            <span>Send{{sendToQa ? ' to QA' : ''}}</span>
        </button>
    </div>
</div>
