<div>

    <div class="row form-group">
        <div class="col-6">
            <div>
                <label class="form-control-label" for="field_campaign">Select Campaign to Move to</label>
                <ng-select id="field_campaign"
                           [items]="clientCampaigns"
                           bindLabel="name"
                           [(ngModel)]="moveData.selectedClientCampaign"
                           (change)="clientCampaignChange($event)">
                </ng-select>
            </div>
        </div>
        <div class="col-6">
            <div>
                <label class="form-control-label" for="field_list">Select Data List to Move to</label>
                <ng-select id="field_list"
                           [items]="moveData.selectedClientCampaign && moveData.selectedClientCampaign.clientLists || []"
                           bindLabel="name"
                           [(ngModel)]="moveData.selectedClientList"
                           [disabled]="!moveData.selectedClientCampaign">
                </ng-select>
            </div>
        </div>
    </div>

</div>
