<div>

    <div class="form-group">
        <button class="btn btn-primary" (click)="applyToRecord()">
            <span>Apply to Record</span>
        </button>
        <button class="btn btn-primary" (click)="applyToOrganisation()">
            <span>Apply to Organisation</span>
        </button>
    </div>

</div>
