<!--suppress HtmlFormInputWithoutLabel -->
<div>
    <div *ngFor="let bookingQuestion of clientCampaign.bookingQuestions; let i = index"
         class="form-group">
        <h5 class="form-group">{{bookingQuestion.questionText}}</h5>

        <div *ngFor="let field of bookingQuestion.fields" class="form-group">
            <div *ngIf="field.dataType === BookingQuestionFieldDataType.APPOINTMENT_DATE.ident">
                <label class="form-control-label" [for]="'field_' + field.id">{{field.name}}</label>
                <input type="date" class="form-control" [id]="'field_' + field.id" [name]="'field_' + field.id"
                       [ngModel]="valueMap[field.id]?.cvalue"
                       (ngModelChange)="valueChange(field, $event)">
            </div>

            <div *ngIf="field.dataType === BookingQuestionFieldDataType.APPOINTMENT_TIME.ident">
                <label class="form-control-label" [for]="'field_' + field.id">{{field.name}}</label>
                <input type="time" class="form-control" [id]="'field_' + field.id" [name]="'field_' + field.id"
                       [ngModel]="valueMap[field.id]?.cvalue"
                       (ngModelChange)="valueChange(field, $event)">
            </div>

            <div *ngIf="field.dataType === BookingQuestionFieldDataType.NUMBER.ident">
                <label class="form-control-label" [for]="'field_' + field.id">{{field.name}}</label>
                <input type="number" class="form-control" [id]="'field_' + field.id" [name]="'field_' + field.id"
                       [ngModel]="valueMap[field.id]?.cvalue"
                       (ngModelChange)="valueChange(field, $event)">
            </div>

            <div *ngIf="field.dataType === BookingQuestionFieldDataType.CHECKBOX.ident">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input class="custom-control-input" type="checkbox"
                           [id]="'field_' + field.id" [name]="'field_' + field.id"
                           [ngModel]="valueMap[field.id]?.cvalue"
                           (ngModelChange)="valueChange(field, $event)">
                    <label class="custom-control-label" [for]="'field_' + field.id">{{field.name}}</label>
                </div>
            </div>

            <div *ngIf="field.dataType === BookingQuestionFieldDataType.SHORT_TEXT.ident">
                <label class="form-control-label" [for]="'field_' + field.id">{{field.name}}</label>
                <input type="text" class="form-control" [id]="'field_' + field.id" [name]="'field_' + field.id"
                       [ngModel]="valueMap[field.id]?.cvalue"
                       (ngModelChange)="valueChange(field, $event)">
            </div>

            <div *ngIf="field.dataType === BookingQuestionFieldDataType.LONG_TEXT.ident">
                <label class="form-control-label" [for]="'field_' + field.id">{{field.name}}</label>
                <textarea type="text" class="form-control" [id]="'field_' + field.id" [name]="'field_' + field.id"
                          [ngModel]="valueMap[field.id]?.cvalue"
                          (ngModelChange)="valueChange(field, $event)"></textarea>
            </div>

            <div *ngIf="field.dataType === BookingQuestionFieldDataType.DROPDOWN.ident">
                <label class="form-control-label" [for]="'field_' + field.id">{{field.name}}</label>
                <ng-select *ngIf="field.prePopulationData"
                           [id]="'field_' + field.id" [name]="'field_' + field.id"
                           [items]="field.prePopulationData.split(',')"
                           [ngModel]="valueMap[field.id]?.cvalue"
                           (ngModelChange)="valueChange(field, $event)">
                </ng-select>
                <span *ngIf="!field.prePopulationData">Pre population data is empty</span>
            </div>

            <div *ngIf="field.dataType === BookingQuestionFieldDataType.DATE.ident">
                <label class="form-control-label" [for]="'field_' + field.id">{{field.name}}</label>
                <input type="date" class="form-control" [id]="'field_' + field.id" [name]="'field_' + field.id"
                       [ngModel]="valueMap[field.id]?.cvalue"
                       (ngModelChange)="valueChange(field, $event)">
            </div>

            <div *ngIf="field.dataType === BookingQuestionFieldDataType.TIME.ident">
                <label class="form-control-label" [for]="'field_' + field.id">{{field.name}}</label>
                <input type="time" class="form-control" [id]="'field_' + field.id" [name]="'field_' + field.id"
                       [ngModel]="valueMap[field.id]?.cvalue"
                       (ngModelChange)="valueChange(field, $event)">
            </div>

            <div *ngIf="field.dataType === BookingQuestionFieldDataType.NON_EDITABLE.ident && field.isVisible">
                <label class="form-control-label" [for]="'field_' + field.id">{{field.name}}</label>
                <input type="text" class="form-control" [id]="'field_' + field.id" [name]="'field_' + field.id"
                       [ngModel]="valueMap[field.id]?.cvalue"
                       (ngModelChange)="valueChange(field, $event)"
                       readonly>
            </div>
        </div>
    </div>
</div>
