<div>
    <div class="form-group" *ngIf="showHoldFromCallPool()">
        <label class="form" for="field_show_campaign_booking_form_questions">Hold from Call Pool?</label>
        <button type="button" class="btn btn-toggle" data-toggle="button" aria-pressed="true"
                id="field_show_campaign_booking_form_questions" name="field_show_campaign_booking_form_questions"
                style="display: block;"
                [class.active]="campaignListContactManagement.holdFromCallPool"
                (click)="campaignListContactManagement.holdFromCallPool = !campaignListContactManagement.holdFromCallPool">
            <div class="handle"></div>
        </button>
    </div>

    <div class="form-group" *ngIf="showRemainder()">
        <label class="form" for="field_set_remainder">Set Reminder for appointment /
            callback</label>
        <input type="datetime-local" class="form-control" id="field_set_remainder" name="field_set_remainder"
               [(ngModel)]="campaignListContactManagement.stamp"/>
    </div>

    <div class="form-group">
        <label class="form" for="field_calendly">Client Calendar:</label>
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <button id="field_calendly" class="btn btn-link" style="margin-top: -3px;"
                onclick="Calendly.initPopupWidget({url: 'https://calendly.com/angela-morrissey-1/15min?hide_event_type_details=1'});return false;">
            <span>Schedule With Calendly</span>
        </button>
    </div>

    <div class="form-group" *ngIf="outcome.linkToSchedule === YesAndNo.YES.ident">
        <label class="form">Click link to access Client
            Calendar</label>
        <a href="https://example.com" target="_blank">https://example.com</a>
    </div>
</div>
