<div>
    <h4 class="modal-title">{{outcome.name}}</h4>
    <div class="progress">
        <div class="progress-bar" role="progressbar"
             [style.width.%]="getCompletePercent()">{{getCompletePercent() + '%'}}</div>
    </div>

    <br/>

    <tabs (onTabClick)="onTabClick($event)" (tabChanged)="onTabChanged($event)">
        <tab tabTitle="Sub Reason" [tabIdent]="SUB_REASON"
             [tabClass]="subReasonTabIsCompleted() ? 'nav-item-state-success': 'nav-item-state-secondary'"
             *ngIf="showSubReasonTab()">
            <jhi-console-outcome-sub-reason
                [campaignListResult]="campaignListContactResult"></jhi-console-outcome-sub-reason>
        </tab>
        <tab tabTitle="Booking Form" [tabIdent]="BOOKING_QUESTION"
             [tabClass]="bookingFromTabIsCompleted() ? 'nav-item-state-success': 'nav-item-state-secondary'"
             *ngIf="showBookingFromTab()">
            <jhi-console-outcome-booking [clientCampaign]="clientCampaign"
                                         [clientList]="clientList"
                                         [dataListContact]="_dataListContact"
                                         [campaignListContactQuestionResults]="campaignListContactQuestionResults"></jhi-console-outcome-booking>
        </tab>
        <tab tabTitle="Contact Management" [tabIdent]="CONTACT_MANAGEMENT"
             [tabClass]="contactManagementTabIsCompleted() ? 'nav-item-state-success': 'nav-item-state-secondary'"
             *ngIf="showContactManagementTab()">
            <jhi-console-outcome-contact [outcome]="outcome"
                                         [campaignListContactManagement]="campaignListContactManagement"></jhi-console-outcome-contact>
        </tab>
        <tab tabTitle="Email" [tabIdent]="EMAIL"
             [tabClass]="sendEmailTabIsCompleted() ? 'nav-item-state-success': 'nav-item-state-secondary'"
             *ngIf="showSendEmailTab()">
            <jhi-console-outcome-email [baseEmailTemplateId]="outcome.emailTemplateId"
                                       [dataListContact]="_dataListContact"
                                       [dataListSummary]="dataListSummary"
                                       [campaignListContactResult]="campaignListContactResult"
                                       [sendToQa]="isSendToQA()"
                                       (send)="emailSendHandler($event)"></jhi-console-outcome-email>
        </tab>
        <tab tabTitle="SMS" [tabIdent]="SMS"
             [tabClass]="sendSMSTabIsCompleted() ? 'nav-item-state-success': 'nav-item-state-secondary'"
             *ngIf="showSendSMSTab()">
            <jhi-console-outcome-sms [baseSmsId]="outcome.smsId"
                                     [campaignListContactResult]="campaignListContactResult"
                                     [sendToQa]="isSendToQA()"
                                     (send)="smsSendHandler()"></jhi-console-outcome-sms>
        </tab>
        <tab tabTitle="Move" [tabIdent]="MOVE"
             [tabClass]="moveTabIsCompleted() ? 'nav-item-state-success': 'nav-item-state-secondary'"
             *ngIf="showMoveTab()">
            <jhi-console-outcome-move [moveData]="moveData"></jhi-console-outcome-move>
        </tab>
        <tab tabTitle="QA Approval" [tabIdent]="QA_APPROVAL"
             [tabClass]="'nav-item-state-secondary'"
             *ngIf="showQaApprovalTab()">
            <jhi-console-outcome-qa-approval [clientList]="clientList"
                                             [dataListCompany]="dataListCompany"
                                             [dataListContact]="_dataListContact"
                                             (approve)="approveHandler()"
                                             (decline)="declineHandler()"></jhi-console-outcome-qa-approval>
        </tab>
        <tab tabTitle="Apply" [tabIdent]="APPLY"
             [tabClass]="'nav-item-state-secondary'"
             *ngIf="!withQaApprovalTab">
            <jhi-console-outcome-apply (apply)="applyHandler($event)"></jhi-console-outcome-apply>
        </tab>
    </tabs>
</div>
<div>
    <button type="button" class="btn btn-secondary"
            (click)="cancelClick()">Cancel
    </button>
    <button class="btn btn-default" [hidden]="!tabs.hasPrevTab()" (click)="tabs.prevTab()">
        <span class="fa fa-arrow-left"></span>
        <span>Back</span>
    </button>
    <button class="btn btn-primary" [hidden]="!tabs.hasNextTab() || tabs.isLastTab()"
            (click)="tabs.nextTab()">
        <span class="fa fa-arrow-right"></span>
        <span>Next</span>
    </button>
    <!--<button class="btn btn-success" [hidden]="!tabs.isLastTab()" (click)="finishClick()">
        <span class="fa fa-flag-checkered"></span>
        <span>Finish</span>
    </button>-->
</div>
