<div class="input-group" style="margin-bottom:auto; width:110%;">
    <div class="input-group-append">
        <select name="selector-{{column2Search.name}}" class="form-control fa fmg-search-types"
                [(ngModel)]="search.type"
                (ngModelChange)="sendFilter()">
            <option *ngFor="let type of typesSearch" [ngClass]="type.icon"
                    [ngValue]="type.type" [innerHTML]="type.txt"></option>
        </select>
    </div>
    <input class="form-control " type="text" [(ngModel)]="search.val2Search"
           (ngModelChange)="sendFilter()" name="input-{{column2Search.name}}"/>
</div>
