<div>
    <h2>
        <span jhiTranslate="cmaApp.campaignPortalUser.home.title">Campaign Portal Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-campaign-portal-user" [routerLink]="['/', { outlets: { popup: ['campaign-portal-user-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.campaignPortalUser.home.createLabel">
            Create new Campaign Portal User
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="campaignPortalUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="cmaApp.campaignPortalUser.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientCampaignName"><span jhiTranslate="cmaApp.campaignPortalUser.clientCampaign">Client Campaign</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="cmaApp.campaignPortalUser.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignPortalUser of campaignPortalUsers ;trackBy: trackId">
                <td><a [routerLink]="['../campaign-portal-user', campaignPortalUser.id ]">{{campaignPortalUser.id}}</a></td>
                <td>{{campaignPortalUser.email}}</td>
                <td>
                    <div *ngIf="campaignPortalUser.clientCampaignId">
                        <a [routerLink]="['../client-campaign', campaignPortalUser.clientCampaignId  ]" >{{campaignPortalUser.clientCampaignName}}</a>
                    </div>
                </td>
                <td>
                    {{campaignPortalUser.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../campaign-portal-user', campaignPortalUser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign-portal-user/'+ campaignPortalUser.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign-portal-user/'+ campaignPortalUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campaignPortalUsers && campaignPortalUsers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
