<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCampaignPortalUserLabel" jhiTranslate="cmaApp.campaignPortalUser.home.createOrEditLabel">Create or edit a Campaign Portal User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!campaignPortalUser.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="campaignPortalUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignPortalUser.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="campaignPortalUser.email" required/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignPortalUser.clientCampaign" for="field_clientCampaign">Client Campaign</label>
            <select class="form-control" id="field_clientCampaign" name="clientCampaign" [(ngModel)]="campaignPortalUser.clientCampaignId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCampaignOption.id" *ngFor="let clientCampaignOption of clientcampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignPortalUser.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="campaignPortalUser.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
