
<div *ngIf="campaignPortalUser">
    <h2><span jhiTranslate="cmaApp.campaignPortalUser.detail.title">Campaign Portal User</span> {{campaignPortalUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.campaignPortalUser.email">Email</span></dt>
        <dd>
            <span>{{campaignPortalUser.email}}</span>
        </dd>
        <!--<dt><span jhiTranslate="cmaApp.campaignPortalUser.emailOutcome">Email Outcome</span></dt>
        <dd>
            <span>{{campaignPortalUser.emailOutcome}}</span>
        </dd>-->
        <dt><span jhiTranslate="cmaApp.campaignPortalUser.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="campaignPortalUser.clientCampaignId">
                <a [routerLink]="['/client-campaign', campaignPortalUser.clientCampaignId]">{{campaignPortalUser.clientCampaignName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignPortalUser.user">User</span></dt>
        <dd>
            {{campaignPortalUser.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'campaign-portal-user/'+ campaignPortalUser.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
