<div>
    <h2>
        <span jhiTranslate="cmaApp.outcome.home.title">Outcomes</span>
        <button class="btn btn-primary float-right jh-create-entity create-outcome"
                [routerLink]="['/', { outlets: { popup: ['outcome-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="cmaApp.outcome.home.createLabel">
            Create new Outcome
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="outcomes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="cmaApp.outcome.name">Name</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="templateName"><span jhiTranslate="cmaApp.outcome.template">Template</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="typeName"><span jhiTranslate="cmaApp.outcome.type">Type</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="addSubReason"><span jhiTranslate="cmaApp.outcome.addSubReason">Add Sub Reason</span><span
                    class="fa fa-sort"></span></th>
                <!--<th jhiSortBy="outcomeSubReasonName"><span jhiTranslate="cmaApp.outcome.outcomeSubReason">Outcome Sub Reason</span>
                    <span class="fa fa-sort"></span></th>-->
                <th><span>Category</span></th>
                <th><span>Ownership/Kill record?</span></th>
                <th jhiSortBy="callPoolCycle"><span
                    jhiTranslate="cmaApp.outcome.callPoolCycle">Call pool cycle</span><span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="daysAfterCallBack"><span jhiTranslate="cmaApp.outcome.daysAfterCallBack">If not transacted against for this many days after call back date</span><span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="parked"><span
                    jhiTranslate="cmaApp.outcome.parked">Parked?</span><span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="qcqa"><span
                    jhiTranslate="cmaApp.outcome.qcqa">QC/QA</span><span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="showCampaignBookingFormQuestions"><span>Show Campaign Booking Form Questions</span><span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="killRecord"><span
                    jhiTranslate="cmaApp.outcome.killRecord">Kill Record After X Attempts</span><span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="killRecordAttempts"><span
                    jhiTranslate="cmaApp.outcome.killRecordAttempts">Attempts</span><span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="enterNurtureStream"><span
                    jhiTranslate="cmaApp.outcome.enterNurtureStream">Enter into Nurture Stream</span><span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="clientCampaignName"><span>Client Campaign</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="clientCampaignName"><span>Move To Client Campaign</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="clientListName"><span>Move To Client List</span>
                    <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let outcome of outcomes ;trackBy: trackId">
                <td><a [routerLink]="['../outcome', outcome.id ]">{{outcome.id}}</a></td>
                <td>{{outcome.name}}</td>
                <td>
                    <div *ngIf="outcome.templateId">
                        <a [routerLink]="['../client-campaign-template', outcome.templateId  ]">{{outcome.templateName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="outcome.typeId">
                        <a [routerLink]="['../outcome-type', outcome.typeId  ]">{{outcome.typeName}}</a>
                    </div>
                </td>
                <td>{{outcome.addSubReason}}</td>
                <!--<td>
                    <div *ngIf="outcome.outcomeSubReasonId">
                        <a [routerLink]="['../outcome-sub-reason', outcome.outcomeSubReasonId  ]">{{outcome.outcomeSubReasonName}}</a>
                    </div>
                </td>-->
                <td>{{outcome.categoryIdent}}</td>
                <td>{{outcome.ownership}}</td>
                <td>{{outcome.callPoolCycle}}</td>
                <td>{{outcome.daysAfterCallBack}}</td>
                <td>{{outcome.parked}}</td>
                <td>{{outcome.qcqa}}</td>
                <td>{{outcome.showCampaignBookingFormQuestions}}</td>
                <td>{{outcome.killRecord}}</td>
                <td>{{outcome.killRecordAttempts}}</td>
                <td>{{outcome.enterNurtureStream}}</td>
                <td>
                    <div *ngIf="outcome.clientCampaignId">
                        <a [routerLink]="['../client-campaign', outcome.clientCampaignId  ]">{{outcome.clientCampaignName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="outcome.moveToCampaignId">
                        <a [routerLink]="['../client-campaign', outcome.moveToCampaignId  ]">{{outcome.moveToCampaignName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="outcome.clientListId">
                        <a [routerLink]="['../client-list', outcome.clientListId  ]">{{outcome.clientListName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../outcome', outcome.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'outcome/'+ outcome.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'outcome/'+ outcome.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="outcomes && outcomes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
