<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" atLeastOneNotNo>

    <div class="modal-header">
        <h4 class="modal-title" id="myOutcomeLabel" jhiTranslate="cmaApp.outcome.home.createOrEditLabel">Create or edit
            a Outcome</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!outcome.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="outcome.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.outcome.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="outcome.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.outcome.template"
                   for="field_template">Template</label>
            <select class="form-control" id="field_template" name="template" [(ngModel)]="outcome.templateId">
                <option *ngIf="!editForm.value.template" [ngValue]="null" selected></option>
                <option [ngValue]="clientCampaignTemplateOption.id"
                        *ngFor="let clientCampaignTemplateOption of clientcampaigntemplates; trackBy: trackClientCampaignTemplateById">
                    {{clientCampaignTemplateOption.name}}
                </option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.template?.dirty && editForm.controls.template?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.template?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.outcome.type"
                   for="field_type">Type</label>
            <select class="form-control" id="field_type" name="type" [(ngModel)]="outcome.typeId" required>
                <option *ngIf="!editForm.value.type" [ngValue]="null" selected></option>
                <option [ngValue]="outcomeType.id"
                        *ngFor="let outcomeType of outcomeTypes; trackBy: trackOutcomeTypeById">
                    {{outcomeType.name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-4">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox"
                               id="field_add_sub_reason" name="field_add_sub_reason"
                               [(ngModel)]="outcome.addSubReason"
                               (ngModelChange)="addSubReasonChange($event)">
                        <label class="custom-control-label" for="field_add_sub_reason">Add Sub Reason</label>
                    </div>
                </div>
                <!--<div class="col-8" *ngIf="outcome.addSubReason">
                    <label class="form-control-label" jhiTranslate="cmaApp.outcome.outcomeSubReason"
                           for="field_outcomeSubReason">Outcome Sub Reason</label>
                    <select class="form-control" id="field_outcomeSubReason" name="outcomeSubReason"
                            [(ngModel)]="outcome.outcomeSubReasonId" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="outcomeSubReasonOption.id"
                                *ngFor="let outcomeSubReasonOption of outcomesubreasons; trackBy: trackById">{{outcomeSubReasonOption.name}}</option>
                    </select>
                </div>-->
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_category">Category</label>
            <ng-select id="field_category" name="field_category"
                       [items]="CATEGORIES"
                       bindLabel="name"
                       bindValue="ident"
                       [(ngModel)]="outcome.categoryIdent"
                       required>
            </ng-select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_ownership">Ownership/Kill record?</label>
            &nbsp;<span class="fa fa-question-circle"
                        ngbTooltip="Allow agent to create activity/call back"
                        container="body"></span>
            <ng-select id="field_ownership" name="field_ownership"
                       [items]="OWNERSHIPS"
                       bindLabel="name"
                       bindValue="ident"
                       [(ngModel)]="outcome.ownership"
                       required>
            </ng-select>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-4">
                    <label class="form-control-label" for="field_call_pool_cycle">Call pool cycle</label>
                    &nbsp;<span class="fa fa-question-circle"
                                ngbTooltip="Does record reactivate into call pool if no activity is set?"
                                container="body"></span>
                    <ng-select id="field_call_pool_cycle" name="field_call_pool_cycle"
                               [items]="CallPoolCycle.ITEMS"
                               bindLabel="name"
                               bindValue="ident"
                               [(ngModel)]="outcome.callPoolCycle">
                    </ng-select>
                </div>
                <div class="col">
                    <label class="form-control-label"
                           for="field_days_after_call_back">If not transacted against for this many days after call back
                        date</label>
                    <input type="number" class="form-control"
                           id="field_days_after_call_back"
                           name="field_days_after_call_back"
                           [(ngModel)]="outcome.daysAfterCallBack"
                           [required]="outcome.callPoolCycle === CallPoolCycle.YES_DATE.ident"
                           [disabled]="outcome.callPoolCycle !== CallPoolCycle.YES_DATE.ident"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_parked">Parked?</label>
            &nbsp;<span class="fa fa-question-circle"
                        ngbTooltip="Is record parked for a period"
                        container="body"></span>
            <ng-select id="field_parked" name="field_parked"
                       [items]="PARKEDS"
                       bindLabel="name"
                       bindValue="ident"
                       [(ngModel)]="outcome.parked">
            </ng-select>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-8">
                    <label class="form-control-label" for="field_ownership_duration">Ownership duration</label>
                    &nbsp;<span class="fa fa-question-circle"
                                ngbTooltip="Does Agent own record indefinitely"
                                container="body"></span>
                    <ng-select id="field_ownership_duration" name="field_ownership_duration"
                               [items]="OWNERSHIPDURATIONS"
                               bindLabel="name"
                               bindValue="ident"
                               [(ngModel)]="outcome.ownershipDuration">
                    </ng-select>
                </div>
                <div class="col">
                    <label class="form-control-label"
                           for="field_ownership_duration_count">If no activity for this many days after set call back
                        date</label>
                    <input type="number" class="form-control"
                           id="field_ownership_duration_count" name="field_ownership_duration_count"
                           [(ngModel)]="outcome.ownershipDurationCount"
                           [required]="outcome.ownershipDuration === OwnershipDuration.DUMP.ident || outcome.ownershipDuration === OwnershipDuration.TRANSFER.ident"
                           [disabled]="outcome.ownershipDuration !== OwnershipDuration.DUMP.ident && outcome.ownershipDuration !== OwnershipDuration.TRANSFER.ident"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_qcqa">QC/QA</label>
            <ng-select id="field_qcqa" name="field_qcqa"
                       [items]="QCQAS"
                       bindLabel="name"
                       bindValue="ident"
                       [(ngModel)]="outcome.qcqa">
            </ng-select>
        </div>

        <div class="form-group">
            <label class="form" for="field_show_campaign_booking_form_questions">Show Campaign
                Booking Form Questions</label>
            <button type="button" class="btn btn-toggle" data-toggle="button" aria-pressed="true"
                    id="field_show_campaign_booking_form_questions" name="field_show_campaign_booking_form_questions"
                    style="display: block;"
                    [class.active]="outcome.showCampaignBookingFormQuestions"
                    (click)="toggleShowCampaignBookingFormQuestions()">
                <div class="handle"></div>
            </button>
        </div>

        <div class="card form-group">
            <div class="card-header">
                Minimum Of One Needs To Be Sent
            </div>
            <div class="card-body">
                <div *ngIf="editForm.errors?.allHasNoValue && (editForm.touched || editForm.dirty)"
                     class="cross-validation-error-message alert alert-danger">
                    At least one of these 3 selected boxes must have a value other than "No".
                </div>

                <div class="row">
                    <div class="col-6">
                        <label class="form-control-label" for="field_email_to_contact">Email to contact</label>
                        <ng-select id="field_email_to_contact" name="field_email_to_contact"
                                   [items]="Invite.ITEMS"
                                   bindLabel="name"
                                   bindValue="ident"
                                   [(ngModel)]="outcome.emailToContact">
                        </ng-select>
                    </div>
                    <div class="col">
                        <label class="form-control-label" for="field_email_use">Email to use</label>
                        <ng-select id="field_email_use" name="field_email_use"
                                   [items]="emailTemplates"
                                   bindLabel="name"
                                   bindValue="id"
                                   [(ngModel)]="outcome.emailTemplateId"
                                   [disabled]="outcome.emailToContact === Invite.NO.ident">
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="form-control-label" for="field_sms">SMS</label>
                        <ng-select id="field_sms" name="field_sms"
                                   [items]="Invite.ITEMS"
                                   bindLabel="name"
                                   bindValue="ident"
                                   [(ngModel)]="outcome.sms">
                        </ng-select>
                    </div>
                    <div class="col">
                        <label class="form-control-label" for="field_sms_text">SMS Text to Use</label>
                        <ng-select id="field_sms_text" name="field_sms_text"
                                   [items]="smss"
                                   bindLabel="name"
                                   bindValue="id"
                                   [(ngModel)]="outcome.smsId"
                                   [disabled]="outcome.sms === Invite.NO.ident">
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="form-control-label" for="field_calendar_invite">Calendar</label>
                        <ng-select id="field_calendar_invite" name="field_calendar_invite"
                                   [items]="Invite.ITEMS"
                                   bindLabel="name"
                                   bindValue="ident"
                                   [(ngModel)]="outcome.calendarInvite">
                        </ng-select>
                    </div>
                    <div class="col">
                        <label class="form-control-label" for="field_link_to_schedule">Link to Schedule</label>
                        <ng-select id="field_link_to_schedule" name="field_link_to_schedule"
                                   [items]="YesAndNo.ITEMS"
                                   bindLabel="name"
                                   bindValue="ident"
                                   [(ngModel)]="outcome.linkToSchedule">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-4">
                    <label class="form-control-label" for="field_kill_record">Kill Record After X
                        Attempts</label>
                    <ng-select id="field_kill_record" name="field_kill_record"
                               [items]="YesAndNo.ITEMS"
                               bindLabel="name"
                               bindValue="ident"
                               [(ngModel)]="outcome.killRecord">
                    </ng-select>
                </div>
                <div class="col">
                    <label class="form-control-label"
                           for="field_kill_record_attempts">&nbsp;</label>
                    <input type="number" class="form-control"
                           id="field_kill_record_attempts"
                           name="field_kill_record_attempts"
                           [(ngModel)]="outcome.killRecordAttempts"
                           [required]="outcome.killRecord === YesAndNo.YES.ident"
                           [disabled]="outcome.killRecord !== YesAndNo.YES.ident"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input" type="checkbox"
                       id="field_enter_nurture_stream" name="field_enter_nurture_stream"
                       [(ngModel)]="outcome.enterNurtureStream">
                <label class="custom-control-label" for="field_enter_nurture_stream">Enter into Nurture Stream</label>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestion.clientCampaign"
                   for="field_clientCampaign">Client Campaign</label>
            <select class="form-control" id="field_clientCampaign" name="clientCampaign"
                    [(ngModel)]="outcome.clientCampaignId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCampaignOption.id"
                        *ngFor="let clientCampaignOption of clientCampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <!--<div class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox"
                               id="field_move_to_another_campaign" name="field_move_to_another_campaign"
                               [(ngModel)]="outcome.moveToAnotherCampaign">
                        <label class="custom-control-label" for="field_move_to_another_campaign">Move Record To Another
                            Campaign</label>
                    </div>-->

                    <label class="form-control-label" for="field_move_to_another_campaign">Move Record To Another
                        Campaign</label>
                    <ng-select id="field_move_to_another_campaign" name="field_move_to_another_campaign"
                               [items]="YesAndNo.ITEMS"
                               bindLabel="name"
                               bindValue="ident"
                               [(ngModel)]="outcome.moveToAnotherCampaign"
                               (ngModelChange)="moveToAnotherCampaignChange()">
                    </ng-select>
                </div>
                <div class="col">
                    <div>
                        <label class="form-control-label"
                               for="field_move_to_campaign">Select Campaign to move to</label>
                        <ng-select id="field_move_to_campaign" name="field_move_to_campaign"
                                   [items]="clientCampaigns"
                                   bindLabel="name"
                                   bindValue="id"
                                   [(ngModel)]="outcome.moveToCampaignId"
                                   (ngModelChange)="moveToCampaignIdChange()"
                                   [disabled]="outcome.moveToAnotherCampaign !== YesAndNo.YES.ident"
                                   [required]="outcome.moveToAnotherCampaign === YesAndNo.YES.ident">
                        </ng-select>
                    </div>
                    <div>
                        <label class="form-control-label"
                               for="field_move_to_data_list">Select Data list to move to</label>
                        <ng-select id="field_move_to_data_list" name="field_move_to_data_list"
                                   [items]="clientLists"
                                   bindLabel="name"
                                   bindValue="id"
                                   [(ngModel)]="outcome.clientListId"
                                   [disabled]="outcome.moveToAnotherCampaign !== YesAndNo.YES.ident || !outcome.moveToCampaignId"
                                   [required]="outcome.moveToAnotherCampaign === YesAndNo.YES.ident">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
