<div *ngIf="outcome">
    <h2><span jhiTranslate="cmaApp.outcome.detail.title">Outcome</span> {{outcome.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.outcome.name">Name</span></dt>
        <dd>
            <span>{{outcome.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.outcome.template">Template</span></dt>
        <dd>
            <div *ngIf="outcome.templateId">
                <a [routerLink]="['/client-campaign-template', outcome.templateId]">{{outcome.templateName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestion.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="outcome.clientCampaignId">
                <a [routerLink]="['/client-campaign', outcome.clientCampaignId]">{{outcome.clientCampaignName}}</a>
            </div>
        </dd>
        <!--<dt><span jhiTranslate="cmaApp.outcome.outcomeSubReason">Outcome Sub Reason</span></dt>
        <dd>
            <div *ngIf="outcome.outcomeSubReasonId">
                <a [routerLink]="['/outcome-sub-reason', outcome.outcomeSubReasonId]">{{outcome.outcomeSubReasonName}}</a>
            </div>
        </dd>-->
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'outcome/'+ outcome.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
