<jhi-header-console></jhi-header-console>

<h2>Campaign Targets</h2>
<br/>

<form>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col col-md-1 mr-3">
                    <label for="campaignLabel">Campaign:</label>
                </div>
                <div class="col">
                    <select class="form-control" id="report_clientCampaign" name="reportClientCampaign"
                            [(ngModel)]="reportSearch.campaingId" (change)="getListByCampign()">
                        <option [ngValue]="clientCampaignOption.id"
                                *ngFor="let clientCampaignOption of clientcampaigns">{{clientCampaignOption.name}}</option>
                    </select>
                </div>
                <div class="col col-md-1">
                    <label for="listLabel">List:</label>
                </div>
                <div class="col">
                    <select class="form-control" id="report_clientList" name="reportClientList"
                            [(ngModel)]="reportSearch.clientList" (change)="loadReports()">
                        <option [ngValue]="clientListOption.id"
                                *ngFor="let clientListOption of clientlists">{{clientListOption.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
        </div>
    </div>
    <div class="row mb-5"></div>
    <div class="row ml-1">
        <div class="col">
            <div class="row">
                <div class="row">
                    <div class="col col-md-2 mr-3">
                        <label for="campaignLabel">From:</label>
                    </div>
                    <div class="col col-md-6 mr-1">
                        <jhi-datetimepicker [typesSearch]="dateTypesSearch" [column2Search]="'from'"
                                            (responseObj)="sendSearch($event)"
                                            [initDate]="this.reportSearch.fromReport"></jhi-datetimepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-2">
                        <label for="campaignLabel">To:</label>
                    </div>
                    <div class="col col-md-6">
                        <jhi-datetimepicker [typesSearch]="dateTypesSearch" [column2Search]="'from'"
                                            (responseObj)="sendSearch($event)"
                                            [initDate]="this.reportSearch.toReport"></jhi-datetimepicker>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-6">
    </div>
    </div>
    <div class="row mb-5"></div>
</form>

<br/>

<ngb-tabset>
    <ngb-tab title="Call per Hour">
        <ng-template ngbTabContent>
            <div class="row mt-5" style="height: 1000px">
                <div class="col h-50">
                    <ngx-charts-line-chart
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi.callPerHour"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-line-chart>
                </div>
                <div class="col col-md-1"></div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Conversation per Hour">
        <ng-template ngbTabContent>
            <div class="row mt-5" style="height: 1000px">
                <div class="col h-50">
                    <ngx-charts-line-chart
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi.conversationPerHour"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-line-chart>
                </div>
                <div class="col col-md-1"></div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Contact Rate %">
        <ng-template ngbTabContent>
            <div class="row mt-5" style="height: 1000px">
                <div class="col h-50">
                    <ngx-charts-line-chart
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi.contactRate"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-line-chart>
                </div>
                <div class="col col-md-1"></div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Hours per Lead">
        <ng-template ngbTabContent>
            <div class="row mt-5" style="height: 1000px">
                <div class="col h-50">
                    <ngx-charts-line-chart
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi.hoursPerLead"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-line-chart>
                </div>
                <div class="col col-md-1"></div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Conversion Rate">
        <ng-template ngbTabContent>
            <div class="row mt-5" style="height: 1000px">
                <div class="col h-50">
                    <ngx-charts-line-chart
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi.conversionRate"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-line-chart>
                </div>
                <div class="col col-md-1"></div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Lead to Sales Conversion %">
        <ng-template ngbTabContent>
            <div class="row mt-5" style="height: 1000px">
                <div class="col h-50">
                    <ngx-charts-line-chart
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi.leadToSales"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-line-chart>
                </div>
                <div class="col col-md-1"></div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Average Sale Value">
        <ng-template ngbTabContent>
            <div class="row mt-5" style="height: 1000px">
                <div class="col h-50">
                    <ngx-charts-line-chart
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi.averageSale"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-line-chart>
                </div>
                <div class="col col-md-1"></div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Custom - Report" [disabled]="true">
        <ng-template ngbTabContent>
            <div class="row mt-5" style="height: 1000px">
                <div class="col h-50">
                    <ngx-charts-line-chart
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="multi.costumePhase"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-line-chart>
                </div>
                <div class="col col-md-1"></div>
            </div>
        </ng-template>
    </ngb-tab>

</ngb-tabset>

