<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.portal_account_assigned.title}">Hamilton Portal Account Assigned To Campaign</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.portal_account_assigned.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.portal_account_assigned.text1(${campaign})}">
            You have been added to campaign on the Hamilton system, please click on the link to sign in
        </p>
        <p>
            <a href="http://cma.qualitygateway.com/">http://cma.qualitygateway.com/</a>
        </p>

        <p th:text="#{email.portal_account_assigned.text2}">
            When you login to Hamilton you will now be able to access the portal data for that campaign
        </p>
        <p>
            <span th:text="#{email.portal_account.assigned.text3}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Hamilton.</em>
        </p>
    </body>
</html>
