<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.portal_account_created.title}">Hamilton Portal Account Created</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.portal_account_created.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.portal_account_created.text1(${campaign})}">
            We have made a new portal account for you at Hamilton. With this account, you can access the data for your campaign(s)
        </p>
        <p th:text="#{email.portal_account_created.text2(${user.login})}">
            Your username is
        </p>
        <p th:text="#{email.portal_account_created.text3}">
            Could you please now go to the following link to reset your password, so your account is ready for you to use:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Reset Link</a>
        </p>
        <p>
            <span th:text="#{email.portal_account_created.text4}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Hamilton.</em>
        </p>
    </body>
</html>
