<jhi-header-console></jhi-header-console>

<h2>My Client Feedback</h2>

<div class="row mb-5"></div>

<ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
    [modules]="modules">
</ag-grid-angular>
