<div>
    <h2>
        <span jhiTranslate="cmaApp.alertUser.home.title">Alert Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-alert-user" [routerLink]="['/', { outlets: { popup: ['alert-user-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.alertUser.home.createLabel">
            Create new Alert User
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="alertUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isRead"><span jhiTranslate="cmaApp.alertUser.isRead">Is Read</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="readDate"><span jhiTranslate="cmaApp.alertUser.readDate">Read Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="alertId"><span jhiTranslate="cmaApp.alertUser.alert">Alert</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="cmaApp.alertUser.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alertUser of alertUsers ;trackBy: trackId">
                <td><a [routerLink]="['../alert-user', alertUser.id ]">{{alertUser.id}}</a></td>
                <td>{{alertUser.isRead}}</td>
                <td>{{alertUser.readDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="alertUser.alertId">
                        <a [routerLink]="['../alert', alertUser.alertId  ]" >{{alertUser.alertId}}</a>
                    </div>
                </td>
                <td>
                    {{alertUser.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../alert-user', alertUser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alert-user/'+ alertUser.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alert-user/'+ alertUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="alertUsers && alertUsers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
