
<div *ngIf="alertUser">
    <h2><span jhiTranslate="cmaApp.alertUser.detail.title">Alert User</span> {{alertUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.alertUser.isRead">Is Read</span></dt>
        <dd>
            <span>{{alertUser.isRead}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.alertUser.readDate">Read Date</span></dt>
        <dd>
            <span>{{alertUser.readDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.alertUser.alert">Alert</span></dt>
        <dd>
            <div *ngIf="alertUser.alertId">
                <a [routerLink]="['/alert', alertUser.alertId]">{{alertUser.alertId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.alertUser.user">User</span></dt>
        <dd>
            {{alertUser.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'alert-user/'+ alertUser.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
