<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAlertUserLabel" jhiTranslate="cmaApp.alertUser.home.createOrEditLabel">Create or edit a Alert User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!alertUser.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="alertUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alertUser.isRead" for="field_isRead">Is Read</label>
            <input type="checkbox" class="form-control" name="isRead" id="field_isRead"
                [(ngModel)]="alertUser.isRead" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alertUser.readDate" for="field_readDate">Read Date</label>
            <div class="d-flex">
                <input id="field_readDate" type="datetime-local" class="form-control" name="readDate" [(ngModel)]="alertUser.readDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alertUser.alert" for="field_alert">Alert</label>
            <select class="form-control" id="field_alert" name="alert" [(ngModel)]="alertUser.alertId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="alertOption.id" *ngFor="let alertOption of alerts; trackBy: trackAlertById">{{alertOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.alertUser.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="alertUser.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
