<h2>Personal Bests</h2>
<br/>
<form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" jhiSortable="campaign" (sort)="onSort($event)">Campaign</th>
            <th scope="col" jhiSortable="avgCall" (sort)="onSort($event)">Avg Call Per Hour</th>
            <th scope="col" jhiSortable="conversation" (sort)="onSort($event)">Conversations per Hour</th>
            <th scope="col" jhiSortable="contactRate" (sort)="onSort($event)">Contact Rate %</th>
            <th scope="col" jhiSortable="hoursLead" (sort)="onSort($event)">Hours per Lead</th>
            <th scope="col" jhiSortable="conversionRate" (sort)="onSort($event)">Conversion Rate %</th>
            <th scope="col" jhiSortable="lead2Sale" (sort)="onSort($event)">Lead to Sale Conversion%</th>
            <th scope="col" jhiSortable="averageSale" (sort)="onSort($event)">Average Sale Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let personalBests of personalBestslist | async; index as i">
            <td>
                <ngb-highlight [result]="personalBests.campaign" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="personalBests.avgCall" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="personalBests.conversations" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="personalBests.contactRate | percent:'1.2-2'"
                               [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="personalBests.hoursLead" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="personalBests.conversionRate | percent:'1.2-2'"
                               [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="personalBests.lead2Sale | percent:'1.2-2'"
                               [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="personalBests.averageSale | currency: 'GBP'"
                               [term]="filter.value"></ngb-highlight>
            </td>
        </tr>
        </tbody>
    </table>

    <div style="width: 25%;">
        <h5 class="card-header">Summary</h5>
        <div style="margin-top:5%;">
            <div class="input-group input-group-sm" data-toggle="tooltip"
                 data-placement="top" title="{{personalSummary[0].campaign}}" [ngClass]="pointerClass"
                 (mouseover)="setPointer('cursor-pointer')"
                 (mouseleave)="setPointer('')">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 190px;">Average Calls Per Hour</span>
                </div>
                <div style="margin-left: 3%;"></div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" disabled="true" [value]="personalSummary[0].value">
            </div>
        </div>

        <div style="margin-top:5%;">
            <div class="input-group input-group-sm" data-toggle="tooltip"
                 data-placement="top" title="{{personalSummary[1].campaign}}" [ngClass]="pointerClass"
                 (mouseover)="setPointer('cursor-pointer')"
                 (mouseleave)="setPointer('')">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 190px;">Conversation per Hour</span>
                </div>
                <div style="margin-left: 3%;"></div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" disabled="true" [value]="personalSummary[1].value">
            </div>
        </div>

        <div style="margin-top:5%;">
            <div class="input-group input-group-sm" data-toggle="tooltip"
                 data-placement="top" title="{{personalSummary[2].campaign}}" [ngClass]="pointerClass"
                 (mouseover)="setPointer('cursor-pointer')"
                 (mouseleave)="setPointer('')">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 190px;">Contact Rate%</span>
                </div>
                <div style="margin-left: 3%;"></div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" disabled="true"
                       [value]="personalSummary[2].value | percent: '1.2-2'">
            </div>
        </div>

        <div style="margin-top:5%;">
            <div class="input-group input-group-sm" data-toggle="tooltip"
                 data-placement="top" title="{{personalSummary[3].campaign}}" [ngClass]="pointerClass"
                 (mouseover)="setPointer('cursor-pointer')"
                 (mouseleave)="setPointer('')">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 190px;">Hours per Lead</span>
                </div>
                <div style="margin-left: 3%;"></div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" disabled="true" [value]="personalSummary[3].value">
            </div>
        </div>

        <div style="margin-top:5%;">
            <div class="input-group input-group-sm" data-toggle="tooltip"
                 data-placement="top" title="{{personalSummary[4].campaign}}" [ngClass]="pointerClass"
                 (mouseover)="setPointer('cursor-pointer')"
                 (mouseleave)="setPointer('')">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 190px;">Conversion Rate %</span>
                </div>
                <div style="margin-left: 3%;"></div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" disabled="true"
                       [value]="personalSummary[4].value | percent: '1.2-2'">
            </div>
        </div>

        <div style="margin-top:5%;">
            <div class="input-group input-group-sm" data-toggle="tooltip"
                 data-placement="top" title="{{personalSummary[5].campaign}}" [ngClass]="pointerClass"
                 (mouseover)="setPointer('cursor-pointer')"
                 (mouseleave)="setPointer('')">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 190px;">Lead to Sales Conversion %</span>
                </div>
                <div style="margin-left: 3%;"></div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" disabled="true"
                       [value]="personalSummary[5].value | percent: '1.2-2'">
            </div>
        </div>

        <div style="margin-top:5%;">
            <div class="input-group input-group-sm" data-toggle="tooltip"
                 data-placement="top" title="{{personalSummary[6].campaign}}" [ngClass]="pointerClass"
                 (mouseover)="setPointer('cursor-pointer')"
                 (mouseleave)="setPointer('')">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 190px;">Average Sale Value</span>
                </div>
                <div style="margin-left: 3%;"></div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" disabled="true"
                       [value]="personalSummary[6].value | currency: 'GBP'">
            </div>
        </div>
    </div>


</form>
