<div>
    <h2>
        <span>Client List Grid</span>
        <button type="submit"
                (click)="previousState()"
                *ngIf="hasPreviousState()"
                class="btn btn-info float-right">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fields && fields.length">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="row_num">
                    <span>Row Num</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th *ngFor="let field of fields" [jhiSortBy]="'field_'+field.id">
                    <span>{{field.fieldName}}</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of rows">
                <td>{{row.rowNum + 1}}</td>
                <td *ngFor="let field of fields">
                    <div *ngIf="!isEditing(row, field);else mode_enter_value">
                        <span *ngIf="row.values[field.id].cvalue" (click)="enterEditingMode(row, field)">
                            {{row.values[field.id].cvalue || '{empty}'}}
                        </span>
                        <span *ngIf="!row.values[field.id].cvalue" (click)="enterEditingMode(row, field)"
                              style="background-color: rgb(255,251,174);">
                            {{'{empty}'}}
                        </span>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-list/'+ listId + '/rows/' + row.rowNum + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="rows && rows.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

    <ng-template #mode_enter_value>
        <input type="text" class="form-control no-padding"
               #enterValue
               [(ngModel)]="enteredValue"
               (keyup.enter)="applyValue()"
               (keyup.esc)="exitEditingMode()"
               (blur)="exitEditingMode()"/>
    </ng-template>
</div>
