<div>
    <h2>
        <span jhiTranslate="cmaApp.clientList.home.title">Client Lists</span>
        <!--<button class="btn btn-primary float-right jh-create-entity create-client-list"
                [routerLink]="['/', { outlets: { popup: ['client-list-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="cmaApp.clientList.home.createLabel">
            Create new Client List
            </span>
        </button>-->
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientLists">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="cmaApp.clientList.name">Name</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="rowCount"><span jhiTranslate="cmaApp.clientList.rowCount">No. Items</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="clientCampaignName"><span
                    jhiTranslate="cmaApp.clientList.clientCampaign">Client Campaign</span> <span
                    class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientList of clientLists ;trackBy: trackId">
                <td><a [routerLink]="['../client-list', clientList.id ]">{{clientList.id}}</a></td>
                <td>{{clientList.name}}</td>
                <td>{{clientList.rowCount || 0}}</td>
                <td>
                    <div *ngIf="clientList.clientCampaignId">
                        <a [routerLink]="['../client-campaign', clientList.clientCampaignId  ]">{{clientList.clientCampaignName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-list', clientList.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-list/'+ clientList.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['../client-list', clientList.id, 'grid' ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-table"></span>
                            <span class="d-none d-md-inline">Grid</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-list/'+ clientList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm"
                                *ngIf="!principal.hasOnlyAuthorityDirect(['ROLE_USER'])">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clientLists && clientLists.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
