<div *ngIf="clientList">
    <h2><span jhiTranslate="cmaApp.clientList.detail.title">Client List</span> {{clientList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.clientList.name">Name</span></dt>
        <dd>
            <span>{{clientList.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientList.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="clientList.clientCampaignId">
                <a [routerLink]="['/client-campaign', clientList.clientCampaignId]">{{clientList.clientCampaignName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            *ngIf="hasPreviousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-list/'+ clientList.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <button type="submit"
            [routerLink]="['/client-list', clientList.id, 'grid' ]"
            class="btn btn-info">
        <span class="fa fa-table"></span>&nbsp;<span class="d-none d-md-inline">Grid</span>
    </button>
</div>
