




<form  (ngSubmit)="onSubmit()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientListLabel" jhiTranslate="cmaApp.clientList.home.createOrEditLabel">Create or edit a Client List</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientList.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientList.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientList.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="clientList.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>


        <div *ngIf="!clientList.clientCampaignId">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="cmaApp.clientList.clientCampaign" for="field_clientCampaign">Client Campaign</label>
                <select class="form-control" id="field_clientCampaign" name="clientCampaign" [(ngModel)]="clientList.clientCampaignId" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="clientCampaignOption.id" *ngFor="let clientCampaignOption of clientcampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
                </select>
            </div>
        </div>


    

        <div *ngIf="clientList.clientCampaignId">
            <div class="form-group">
                <label class="form-control-label" for="field_campaignPortalUsers">Assigned Portal Users</label>
                <ng-select id="field_campaignPortalUsers" name="campaignPortalUsers"
                           [items]="portalUsersForCampaigns"
                           multiple="true"
                           bindLabel="email"
                           bindValue="id"
                           [multiple]="true"
                           [addTag]="allclentlistid"
                           [(ngModel)]="allclentlistid">
              
                </ng-select>
            </div>
        </div>
<!-- 
        <div *ngIf="clientList.clientCampaignId"> 
            <div class="form-group">
                <label class="form-control-label" for="field_campaignPortalUsers">Assigned Portal Users</label>  
        <ng-select  bindLabel="email"
        bindValue="id" id="field_campaignPortalUsers" name="campaignPortalUsers" [multiple]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="allclentlistid" >
            <ng-option *ngFor="let car of clientList.portalUsers" [value]="car.id">{{car.email}}</ng-option>
        </ng-select>
    </div>
</div>  -->

<!--        -->
<!--        <div class="form-group">-->
<!--            <label class="form-control-label" for="field_users">Assigned Portal Users</label>-->
<!--            <ng-select id="field_users"-->
<!--                       [items]="users"-->
<!--                       multiple="true"-->
<!--                       bindLabel="login"-->
<!--                       [ngModel]="_wizardState.clientCampaign.managers"-->
<!--                       [loading]="usersLoading"-->
<!--                       disabled="">-->
<!--            </ng-select>-->
<!--        </div>-->
        <!-- <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientList.clientCampaign" for="field_clientCampaign">Client Campaign</label>
            <select class="form-control" id="field_clientCampaign" name="clientCampaign" [(ngModel)]="clientList.clientCampaignId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCampaignOption.id" *ngFor="let clientCampaignOption of clientcampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
            </select>
        </div> -->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
