<div class="modal-header">
    <h4 class="modal-title">{{ options.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="no()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{ options.message }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            [hidden]="options.noHidden"
            (click)="no()">{{options.noCaption || 'No'}}
    </button>
    <button type="button" class="btn btn-success"
            [hidden]="options.yesHidden"
            (click)="yes()">{{options.yesCaption || 'Yes'}}
    </button>
</div>
