<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title">Email Outcomes For A Portal User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="campaignPortalUser.email" readonly/>
        </div>

        <h4>Email Settings For Outcomes</h4>

        <div class="form-group">
            <!--<label class="form-control-label" for="copy_template">Email Templates for Campaign</label>-->

            <div class="table-responsive" *ngIf="outcomes.length">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>Outcome</span></th>
                        <th><span>Email Immediately</span></th>
                        <th><span>Email Daily Digest</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let outcome of outcomes ;trackBy: trackId">
                        <td>{{outcome.name}}</td>
                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input class="custom-control-input" type="checkbox"
                                       [id]="'field_email_immediately'+outcome.id"
                                       [name]="'field_email_immediately'+outcome.id"
                                       [ngModel]="getEmailImmediately(outcome)"
                                       (ngModelChange)="setEmailImmediately(outcome, $event)">
                                <label class="custom-control-label"
                                       [for]="'field_email_immediately'+outcome.id"></label>
                            </div>
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input class="custom-control-input" type="checkbox"
                                       [id]="'field_email_daily'+outcome.id"
                                       [name]="'field_email_daily'+outcome.id"
                                       [ngModel]="getEmailDaily(outcome)"
                                       (ngModelChange)="setEmailDaily(outcome, $event)">
                                <label class="custom-control-label"
                                       [for]="'field_email_daily'+outcome.id"></label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
