
<div *ngIf="campaignPortalUserOutcome">
    <h2><span jhiTranslate="cmaApp.campaignPortalUserOutcome.detail.title">Campaign Portal User Outcome</span> {{campaignPortalUserOutcome.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.campaignPortalUserOutcome.campaignPortalUser">Campaign Portal User</span></dt>
        <dd>
            <div *ngIf="campaignPortalUserOutcome.campaignPortalUserId">
                <a [routerLink]="['/campaign-portal-user', campaignPortalUserOutcome.campaignPortalUserId]">{{campaignPortalUserOutcome.campaignPortalUserEmail}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignPortalUserOutcome.outcome">Outcome</span></dt>
        <dd>
            <div *ngIf="campaignPortalUserOutcome.outcomeId">
                <a [routerLink]="['/outcome', campaignPortalUserOutcome.outcomeId]">{{campaignPortalUserOutcome.outcomeName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'campaign-portal-user-outcome/'+ campaignPortalUserOutcome.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
