<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCampaignPortalUserOutcomeLabel" jhiTranslate="cmaApp.campaignPortalUserOutcome.home.createOrEditLabel">Create or edit a Campaign Portal User Outcome</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!campaignPortalUserOutcome.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="campaignPortalUserOutcome.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignPortalUserOutcome.campaignPortalUser" for="field_campaignPortalUser">Campaign Portal User</label>
            <select class="form-control" id="field_campaignPortalUser" name="campaignPortalUser" [(ngModel)]="campaignPortalUserOutcome.campaignPortalUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="campaignPortalUserOption.id" *ngFor="let campaignPortalUserOption of campaignportalusers; trackBy: trackCampaignPortalUserById">{{campaignPortalUserOption.email}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignPortalUserOutcome.outcome" for="field_outcome">Outcome</label>
            <select class="form-control" id="field_outcome" name="outcome" [(ngModel)]="campaignPortalUserOutcome.outcomeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="outcomeOption.id" *ngFor="let outcomeOption of outcomes; trackBy: trackOutcomeById">{{outcomeOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
