<div>
    <h2>
        <span jhiTranslate="cmaApp.campaignPortalUserOutcome.home.title">Campaign Portal User Outcomes</span>
        <button class="btn btn-primary float-right jh-create-entity create-campaign-portal-user-outcome" [routerLink]="['/', { outlets: { popup: ['campaign-portal-user-outcome-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.campaignPortalUserOutcome.home.createLabel">
            Create new Campaign Portal User Outcome
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="campaignPortalUserOutcomes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="campaignPortalUserEmail"><span jhiTranslate="cmaApp.campaignPortalUserOutcome.campaignPortalUser">Campaign Portal User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="outcomeName"><span jhiTranslate="cmaApp.campaignPortalUserOutcome.outcome">Outcome</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignPortalUserOutcome of campaignPortalUserOutcomes ;trackBy: trackId">
                <td><a [routerLink]="['../campaign-portal-user-outcome', campaignPortalUserOutcome.id ]">{{campaignPortalUserOutcome.id}}</a></td>
                <td>
                    <div *ngIf="campaignPortalUserOutcome.campaignPortalUserId">
                        <a [routerLink]="['../campaign-portal-user', campaignPortalUserOutcome.campaignPortalUserId  ]" >{{campaignPortalUserOutcome.campaignPortalUserEmail}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campaignPortalUserOutcome.outcomeId">
                        <a [routerLink]="['../outcome', campaignPortalUserOutcome.outcomeId  ]" >{{campaignPortalUserOutcome.outcomeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../campaign-portal-user-outcome', campaignPortalUserOutcome.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign-portal-user-outcome/'+ campaignPortalUserOutcome.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign-portal-user-outcome/'+ campaignPortalUserOutcome.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campaignPortalUserOutcomes && campaignPortalUserOutcomes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
