<div>
    <h2>
        <span jhiTranslate="cmaApp.clientCampaign.home.title">Client Campaigns</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-campaign" [routerLink]="['/client-campaign-wizard']">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.clientCampaign.home.createLabel">
            Create new Client Campaign
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientCampaigns">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="cmaApp.clientCampaign.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="cmaApp.clientCampaign.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdByLogin"><span jhiTranslate="cmaApp.clientCampaign.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientCompanyName"><span jhiTranslate="cmaApp.clientCampaign.clientCompany">Client Company</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientLists"><span jhiTranslate="cmaApp.clientCampaign.clientList">Client List</span> <span class="fa fa-sort"></span></th>
            <!--do not sort by ManyToMany column - this will cause a duplicate entities-->
            <th><span jhiTranslate="cmaApp.clientCampaign.emailTemplates">Email Templates</span></th>
            <th><span jhiTranslate="cmaApp.clientCampaign.outcomes">Outcomes</span></th>
            <th><span jhiTranslate="cmaApp.clientCampaign.scripts">Scripts</span></th>
            <th><span>Percentage Complete</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientCampaign of clientCampaigns ;trackBy: trackId">
                <td><a [routerLink]="['../client-campaign', clientCampaign.id ]">{{clientCampaign.id}}</a></td>
                <td>{{clientCampaign.name}}</td>
                <td>{{clientCampaign.createdDate | date:'medium'}}</td>
                <td>
                    {{clientCampaign.createdByLogin}}
                </td>
                <td>
                    <div *ngIf="clientCampaign.clientCompanyId">
                        <a [routerLink]="['../client-company', clientCampaign.clientCompanyId  ]" >{{clientCampaign.clientCompanyName}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let clientList of clientCampaign.clientLists; let last = last">
                        <a [routerLink]="['/client-list', clientList?.id ]">{{clientList.name}}</a>{{last ? '' : ', '}}
                    </span>
                </td>
                <td>
                    <span *ngFor="let emailTemplate of clientCampaign.emailTemplates; let last = last">
                        <a [routerLink]="['/email-template', emailTemplate?.id ]">{{emailTemplate.name}}</a>{{last ? '' : ', '}}
                    </span>
                </td>
                <td>
                    <span *ngFor="let outcome of clientCampaign.outcomes; let last = last">
                        <a [routerLink]="['/outcome', outcome?.id ]">{{outcome.name}}</a>{{last ? '' : ', '}}
                    </span>
                </td>
                <td>
                    <span *ngFor="let script of clientCampaign.scripts; let last = last">
                        <a [routerLink]="['/client-campaign-script', script?.id ]">{{script.name}}</a>{{last ? '' : ', '}}
                    </span>
                </td>
                <td>
                    {{ClientCampaign.getCompletePercent(clientCampaign) + '%'}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['../client-campaign-wizard', clientCampaign.id, 'edit' ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['../client-campaign-wizard', clientCampaign.id, 'edit' ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-campaign/'+ clientCampaign.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clientCampaigns && clientCampaigns.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
