<div *ngIf="clientCampaign">
    <h2><span jhiTranslate="cmaApp.clientCampaign.detail.title">Client Campaign</span> {{clientCampaign.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.clientCampaign.name">Name</span></dt>
        <dd>
            <span>{{clientCampaign.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCampaign.createdDate">Created Date</span></dt>
        <dd>
            <span>{{clientCampaign.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCampaign.createdBy">Created By</span></dt>
        <dd>
            {{clientCampaign.createdByLogin}}
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCampaign.clientCompany">Client Company</span></dt>
        <dd>
            <div *ngIf="clientCampaign.clientCompanyId">
                <a [routerLink]="['/client-company', clientCampaign.clientCompanyId]">{{clientCampaign.clientCompanyName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCampaign.managers">Managers</span></dt>
        <dd>
            <span *ngFor="let managers of clientCampaign.managers; let last = last">
                {{managers.login}}{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCampaign.clientList">Client List</span></dt>
        <dd>
            <span *ngFor="let clientList of clientCampaign.clientLists; let last = last">
                <a [routerLink]="['/client-list', clientList?.id ]">{{clientList.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCampaign.emailTemplates">Email Templates</span></dt>
        <dd>
            <span *ngFor="let emailTemplate of clientCampaign.emailTemplates; let last = last">
                <a [routerLink]="['/email-template', emailTemplate?.id ]">{{emailTemplate.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-campaign/'+ clientCampaign.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
