<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientCampaignLabel" jhiTranslate="cmaApp.clientCampaign.home.createOrEditLabel">
            Create or edit a Client Campaign</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientCampaign.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientCampaign.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientCampaign.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="clientCampaign.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientCampaign.createdDate" for="field_createdDate">Created
                Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate"
                       [(ngModel)]="clientCampaign.createdDate"
                       disabled
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientCampaign.createdBy" for="field_createdBy">Created
                By</label>
            <select class="form-control" id="field_createdBy" name="createdBy" [(ngModel)]="clientCampaign.createdById"
                    disabled>
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">
                    {{userOption.login}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientCampaign.clientCompany"
                   for="field_clientCompany">Client Company</label>
            <select class="form-control" id="field_clientCompany" name="clientCompany"
                    [(ngModel)]="clientCampaign.clientCompanyId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCompanyOption.id"
                        *ngFor="let clientCompanyOption of clientcompanies; trackBy: trackClientCompanyById">
                    {{clientCompanyOption.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="cmaApp.clientCampaign.managers" for="field_managers">Managers</label>
            <select class="form-control" id="field_managers" multiple name="managers"
                    [(ngModel)]="clientCampaign.managers">
                <option [ngValue]="getSelected(clientCampaign.managers, userOption)"
                        *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="cmaApp.clientCampaign.clientList" for="field_clientList">Client
                List</label>
            <select class="form-control" id="field_clientList" multiple name="clientList"
                    [(ngModel)]="clientCampaign.clientLists">
                <option [ngValue]="getSelected(clientCampaign.clientLists, clientListOption)"
                        *ngFor="let clientListOption of clientLists; trackBy: trackClientListById">
                    {{clientListOption.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="cmaApp.clientCampaign.emailTemplates" for="field_emailTemplate">Email Templates</label>
            <select class="form-control" id="field_emailTemplate" multiple name="emailTemplate"
                    [(ngModel)]="clientCampaign.emailTemplates">
                <option [ngValue]="getSelected(clientCampaign.emailTemplates, emailTemplateOption)"
                        *ngFor="let emailTemplateOption of emailTemplates; trackBy: trackEmailTemplateById">
                    {{emailTemplateOption.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="cmaApp.clientCampaign.outcomes" for="field_outcomes">Outcomes</label>
            <select class="form-control" id="field_outcomes" multiple name="outcomes"
                    [(ngModel)]="clientCampaign.outcomes">
                <option [ngValue]="getSelected(clientCampaign.outcomes, outcome)"
                        *ngFor="let outcome of outcomes; trackBy: trackOutcomeById">
                    {{outcome.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="cmaApp.clientCampaign.scripts" for="field_scripts">Scripts</label>
            <select class="form-control" id="field_scripts" multiple name="scripts"
                    [(ngModel)]="clientCampaign.scripts">
                <option [ngValue]="getSelected(clientCampaign.scripts, script)"
                        *ngFor="let script of scripts; trackBy: trackScriptById">
                    {{script.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="cmaApp.clientCampaign.smss" for="field_smss">SMS</label>
            <select class="form-control" id="field_smss" multiple name="smss"
                    [(ngModel)]="clientCampaign.smss">
                <option [ngValue]="getSelected(clientCampaign.smss, sms)"
                        *ngFor="let sms of smss; trackBy: trackSmsById">
                    {{sms.name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input" type="checkbox"
                       id="field_weekly_headline_stats" name="field_weekly_headline_stats"
                       [(ngModel)]="clientCampaign.weeklyHeadlineStats">
                <label class="custom-control-label" for="field_weekly_headline_stats">Send Weekly Headline Stats To
                    Managers</label>
            </div>
        </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input" type="checkbox"
                       id="field_allowed_export_data" name="field_allowed_export_data"
                       [(ngModel)]="clientCampaign.allowedExportData">
                <label class="custom-control-label" for="field_allowed_export_data">Allowed to export data?</label>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_users_allowed_export">Users Allowed To Export</label>
            <ng-select id="field_users_allowed_export" name="field_users_allowed_export"
                       #portalUsersAllowedToExportSelect
                       [items]="clientCampaign.portalUsers"
                       multiple="true"
                       bindLabel="email"
                       bindValue="id"
                       [(ngModel)]="clientCampaign.portalUsersAllowedToExport"
                       [disabled]="!clientCampaign.allowedExportData">
            </ng-select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_sar_report">Send SAR Report</label>
            <div class="row">
                <div class="col-6">
                    <ng-select id="field_sar_report" name="field_sar_report"
                               [items]="RATES"
                               bindLabel="name"
                               bindValue="ident"
                               [(ngModel)]="clientCampaign.sarReportIdent">
                    </ng-select>
                </div>
                <div class="col-4">
                    <input id="field_sar_report_time" type="time" class="form-control" name="field_sar_report_time"
                           style="height: 36px;"
                           [(ngModel)]="clientCampaign.sarReportTime"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_stats_summary">Send Stats Summary & Report</label>
            <div class="row">
                <div class="col-6">
                    <ng-select id="field_stats_summary" name="field_stats_summary"
                               [items]="RATES"
                               bindLabel="name"
                               bindValue="ident"
                               [(ngModel)]="clientCampaign.statsSummaryIdent">
                    </ng-select>
                </div>
                <div class="col-4">
                    <input id="field_stats_summary_time" type="time" class="form-control"
                           name="field_stats_summary_time"
                           style="height: 36px;"
                           [(ngModel)]="clientCampaign.statsSummaryTime"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_report_distribution_method">Reports Distribution Method</label>
            <ng-select id="field_report_distribution_method" name="field_report_distribution_method"
                       [items]="METHODS"
                       multiple="true"
                       bindLabel="name"
                       bindValue="ident"
                       [(ngModel)]="clientCampaign.reportDistributionMethods">
            </ng-select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_portal_users">Portal Users</label>
            <ng-select id="field_portal_users" name="field_portal_users"
                       [items]="portalUsers"
                       multiple="true"
                       bindLabel="email"
                       [(ngModel)]="clientCampaign.portalUsers">
            </ng-select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_reports_delivered_to_users">Reports Delivered To Users</label>
            <ng-select id="field_reports_delivered_to_users" name="field_reports_delivered_to_users"
                       #reportsDeliveredToUsersSelect
                       [items]="clientCampaign.portalUsers"
                       multiple="true"
                       bindLabel="email"
                       bindValue="id"
                       [(ngModel)]="clientCampaign.reportsDeliveredToUsers">
            </ng-select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
