<div *ngIf="wizardData">
    <h2>
        <span jhiTranslate="cmaApp.clientCampaignWizard.home.title">Client Campaign Wizard</span>
    </h2>

    <br/>

    <div class="progress">
        <div class="progress-bar" role="progressbar"
             [style.width.%]="ClientCampaign.getCompletePercent(wizardData.clientCampaign)">{{ClientCampaign.getCompletePercent(wizardData.clientCampaign) + '%'}}</div>
    </div>

    <br/>

    <tabs (onTabClick)="onTabClick($event)" (tabChanged)="onTabChanged($event)">
        <tab tabTitle="Client" tabIdent="CLIENT"
             [tabClass]="wizardData.clientCampaign.clientCompanyId ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-client [wizardData]="wizardData"></jhi-client-campaign-wizard-client>
        </tab>
        <tab tabTitle="Campaign" tabIdent="CAMPAIGN"
             [tabClass]="wizardData.clientCampaign.name && wizardData.clientCampaign.name !== ClientCampaign.DEFAULT_NAME ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-campaign [wizardState]="wizardData"></jhi-client-campaign-wizard-campaign>
        </tab>
        <tab tabTitle="Access" tabIdent="ACCESS"
             [tabClass]="accessClassName(wizardData.clientCampaign)"
             [disabled]="finished">
            <jhi-client-campaign-wizard-access [wizardState]="wizardData"></jhi-client-campaign-wizard-access>
        </tab>
        <tab tabTitle="GDPR" tabIdent="GDPR"
             [tabClass]="gdprClassName(wizardData.clientCampaign)"
             [disabled]="finished">
            <jhi-client-campaign-wizard-gdpr
                [clientCampaign]="wizardData.clientCampaign"></jhi-client-campaign-wizard-gdpr>
        </tab>
        <tab tabTitle="Scripts" tabIdent="SCRIPT"
             [tabClass]="wizardData.clientCampaign.scripts.length ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-script [wizardState]="wizardData"></jhi-client-campaign-wizard-script>
        </tab>
        <tab tabTitle="SMS" tabIdent="SMS"
             [tabClass]="wizardData.clientCampaign.smss.length || wizardData.clientCampaign.smsTabNotRequired ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-sms [wizardState]="wizardData"></jhi-client-campaign-wizard-sms>
        </tab>
        <tab tabTitle="Email" tabIdent="EMAIL"
             [tabClass]="wizardData.clientCampaign.emailTemplates.length ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-email [wizardState]="wizardData"></jhi-client-campaign-wizard-email>
        </tab>
        <tab tabTitle="Outcomes" tabIdent="OUTCOME"
             [tabClass]="wizardData.clientCampaign.outcomes.length ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-outcome
                [clientCampaign]="wizardData.clientCampaign"></jhi-client-campaign-wizard-outcome>
        </tab>
        <tab tabTitle="Briefing Form" tabIdent="BRIEFING"
             [tabClass]="wizardData.clientCampaign.appointmentAttendees.length ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-briefing
                [clientCampaign]="wizardData.clientCampaign"></jhi-client-campaign-wizard-briefing>
        </tab>
        <tab tabTitle="Client Feedback Form" tabIdent="SURVEY"
             [tabClass]="wizardData.clientCampaign.surveyQuestions.length ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-survey [wizardState]="wizardData"></jhi-client-campaign-wizard-survey>
        </tab>
        <tab tabTitle="Booking" tabIdent="BOOKING"
             [tabClass]="wizardData.clientCampaign.bookingQuestions.length ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-booking [wizardState]="wizardData"></jhi-client-campaign-wizard-booking>
        </tab>
        <tab tabTitle="Create List" tabIdent="LIST"
             [tabClass]="wizardData.clientCampaign.clientLists.length ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-list [wizardState]="wizardData"></jhi-client-campaign-wizard-list>
        </tab>
        <tab tabTitle="Target Setting" tabIdent="TARGET"
             [tabClass]="targetClassName(wizardData.clientCampaign)"
             [disabled]="finished">
            <jhi-client-campaign-wizard-target [wizardState]="wizardData"></jhi-client-campaign-wizard-target>
        </tab>
        <tab tabTitle="Reporting" tabIdent="REPORTING"
             [tabClass]="'nav-item-state-secondary'"
             [disabled]="finished">
            <jhi-client-campaign-wizard-reporting [wizardState]="wizardData"></jhi-client-campaign-wizard-reporting>
        </tab>
        <!--<tab tabTitle="Create List Mapping" tabIdent="MAPPING"
             [tabClass]="finished ? 'nav-item-state-success': 'nav-item-state-secondary'"
             [disabled]="finished"
             (leave)="onMappingLeave($event)">
            <jhi-client-campaign-wizard-mapping [wizardData]="wizardData"></jhi-client-campaign-wizard-mapping>
        </tab>-->
        <tab tabTitle="Summary" tabIdent="SUMMARY"
             [tabClass]="'nav-item-state-success'"
             *ngIf="finished">
            <jhi-client-campaign-wizard-summary [clientCampaign]="resultClientCampaign">
            </jhi-client-campaign-wizard-summary>
        </tab>
    </tabs>

    <div class="pane" *ngIf="tabsViewChildReady">
        <div class="col-lg-12">
            <div class="float-right">
                <button class="btn btn-default" [hidden]="!tabs.hasPrevTab() || finished" (click)="tabs.prevTab()">
                    <span class="fa fa-arrow-left"></span>
                    <span>Back</span>
                </button>
                <button class="btn btn-primary" [hidden]="!tabs.hasNextTab() || tabs.isLastTab()"
                        (click)="tabs.nextTab()">
                    <span class="fa fa-arrow-right"></span>
                    <span>Next</span>
                </button>
                <button class="btn btn-success" [hidden]="!tabs.isLastTab() || finished" (click)="finish()"
                        [disabled]="finishing">
                    <span class="fa fa-flag-checkered"></span>
                    <span>Finish</span>
                </button>
                <button class="btn btn-primary" *ngIf="finished" (click)="reset()">
                    <span class="fa fa-refresh"></span>
                    <span>Import more</span>
                </button>
            </div>
        </div>
    </div>
</div>
