<jhi-header-console></jhi-header-console>

<h2>Transaction Report</h2>

<div class="row mb-5"></div>
<button class="btn btn-outline-info" style="margin-bottom: 1%;" (click)="getCsv()">Export CSV</button>
<ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
    [modules]="modules"
></ag-grid-angular>
