<div [ngStyle]="rootStyle">

    <div class="row form-group">
        <div class="console-stats" *ngIf="stats">
            <div *ngIf="showStat(Calls)">
                <h5>{{Calls}} <span class="badge badge-secondary"
                                    [@highlight]="changedStats[Calls] ? 'valueChanged' : ''">{{stats.calls}}</span></h5>
            </div>
            <div *ngIf="showStat(DM_Contact)">
                <h5>{{DM_Contact}} <span class="badge badge-secondary"
                                         [@highlight]="changedStats[DM_Contact] ? 'valueChanged' : ''">{{stats.dmContact}}</span>
                </h5>
            </div>
            <div *ngIf="showStat(Pending)">
                <h5>{{Pending}} <span class="badge badge-secondary"
                                      [@highlight]="changedStats[Pending] ? 'valueChanged' : ''">{{stats.pending}}</span>
                </h5>
            </div>
            <div *ngIf="showStat(Leads_Sales)">
                <h5>{{Leads_Sales}} <span class="badge badge-secondary"
                                          [@highlight]="changedStats[Leads_Sales] ? 'valueChanged' : ''">?</span></h5>
            </div>
            <div *ngIf="showStat(Conversion_rate)">
                <h5>{{Conversion_rate}} <span
                    class="badge badge-secondary">{{stats.leadSales === 0 ? '?' : stats.dmContact / stats.leadSales | number:'1.0-0'}}</span>
                </h5>
            </div>
            <div *ngIf="showStat(Pipeline_opps)">
                <h5>{{Pipeline_opps}} <span class="badge badge-secondary"
                                            [@highlight]="changedStats[Pipeline_opps] ? 'valueChanged' : ''">{{stats.pipelineOpps}}</span>
                </h5>
            </div>
            <div *ngIf="showStat(Skips)">
                <h5>{{Skips}} <span class="badge badge-secondary"
                                    [@highlight]="changedStats[Skips] ? 'valueChanged' : ''">{{stats.skips}}</span></h5>
            </div>
            <div>
                <ng-select id="stats"
                           [items]="availableStats"
                           multiple="true"
                           bindLabel="name"
                           placeholder="Filter..."
                           [(ngModel)]="selectedStats">
                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngIf="items.length === availableStats.length">
                            <span class="ng-value-label">Filter: All selected</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length < availableStats.length">
                            <span class="ng-value-label">Filter: {{items.length}} selected</span>
                        </div>
                    </ng-template>
                </ng-select>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row form-group">
        <div class="col-4">
            <div>
                <label class="form-control-label" for="field_campaign">Campaign</label>
                <ng-select id="field_campaign"
                           [items]="clientCampaigns"
                           bindLabel="name"
                           [ngModel]="selectedClientCampaign"
                           (change)="clientCampaignChange($event)"
                           [disabled]="!!consoleParams">
                </ng-select>
            </div>
        </div>
        <div class="col-4">
            <div>
                <label class="form-control-label" for="field_list">Data List</label>
                <ng-select id="field_list"
                           [items]="selectedClientCampaign && selectedClientCampaign.clientLists || []"
                           bindLabel="name"
                           [ngModel]="selectedClientList"
                           [disabled]="!selectedClientCampaign || !!consoleParams"
                           (change)="clientListChange($event)">
                </ng-select>
            </div>
        </div>
        <div class="col-4">
            <div>
                <label class="form-control-label" for="field_record_search">Record Search</label>
                <input type="text" class="form-control" name="record_search" id="field_record_search"
                       [(ngModel)]="recordSearch"
                       [disabled]="!selectedClientCampaign || !!consoleParams"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <button class="btn btn-primary"
                    [disabled]="!selectedClientList || !!consoleParams || qaUserAndPendingState()"
                    (click)="addNewCompany()">
                <span>Add new</span>
            </button>
            <button class="btn btn-primary" disabled>
                <span>FurtherInfo</span>
            </button>
        </div>
        <div class="col-3">
            <div *ngIf="dataListSummary && filteredCompanies && filteredCompanies.length"
                 style="display: inline-block; margin-right: 15px;">
                <ngb-pagination [collectionSize]="filteredCompanies.length"
                                [page]="companyActivePage" [pageSize]="1" [maxSize]="2"
                                [rotate]="true" [boundaryLinks]="false"
                                (pageChange)="companyPageChanged($event)"></ngb-pagination>
            </div>
        </div>
        <div class="col-5">
            <button class="btn btn-link" (click)="setShowMode(RecordState.ACTIVE)" [disabled]="!!consoleParams">
                <span [class.font-weight-bold]="showRecordsState === RecordState.ACTIVE">Show Active</span>
            </button>
            <span>/</span>
            <button class="btn btn-link" (click)="setShowMode(RecordState.MY_LIST)" [disabled]="!!consoleParams">
                <span [class.font-weight-bold]="showRecordsState === RecordState.MY_LIST">Show My List</span>
            </button>
            <span>/</span>
            <button class="btn btn-link" (click)="setShowMode(RecordState.PENDING)" [disabled]="!!consoleParams">
                <span [class.font-weight-bold]="showRecordsState === RecordState.PENDING">Pending</span>
            </button>
            <span>/</span>
            <button class="btn btn-link" (click)="setShowMode(RecordState.COMPLETED)" [disabled]="!!consoleParams">
                <span [class.font-weight-bold]="showRecordsState === RecordState.COMPLETED">Show Completed</span>
            </button>
        </div>
        <div class="col" *ngIf="displayQaUserCombobox()">
            <label class="form" for="field_user_mode">Mode (QA or User)</label>
            <button type="button" class="btn btn-toggle before-qa after-user" data-toggle="button" aria-pressed="true"
                    id="field_user_mode" name="field_user_mode"
                    style="display: block;"
                    [class.active]="userMode == UserMode.USER"
                    (click)="toggleQaUserCombobox()"
                    [disabled]="disabledQaUserCombobox()">
                <div class="handle"></div>
            </button>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-2">
            <div class="form-group">
                <tabs (onTabClick)="onTabClick(companyTabs, $event)"
                      (tabChanged)="companyTabChanged(companyTabs, $event)" #companyTabs>
                    <tab tabTitle="Org. Information" paneClass="console-pane">
                        <div *ngIf="dataListSummary && selectedCompany" [ngStyle]="panelsStyle">
                            <div class="form-group" *ngFor="let field of dataListSummary.pkFields">
                                <label class="form-control-label" [for]="'field_'+field.id">{{field.fieldName}}</label>
                                <input type="text" class="form-control" [name]="'field_'+field.id"
                                       [id]="'field_'+field.id"
                                       [(ngModel)]="selectedCompany.valueMap[field.id]"
                                       (ngModelChange)="companyFieldChange(selectedCompany)"
                                       [readOnly]="qaUserAndPendingState()"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_notes">Notes</label>
                                <textarea type="text" class="form-control" name="notes" id="field_notes"
                                          [(ngModel)]="selectedCompany.note"
                                          (ngModelChange)="companyFieldChange(selectedCompany)"
                                          [readOnly]="qaUserAndPendingState()"></textarea>
                            </div>
                        </div>
                    </tab>
                </tabs>
            </div>
        </div>
        <div class="col-10">
            <as-split unit="percent" direction="horizontal" #split="asSplit">
                <as-split-area size="47" minSize="30" #area1="asSplitArea">
                    <div class="row">
                        <div class="col-12">
                            <tabs *ngIf="selectedCompany" #contactTabs
                                  (onTabClick)="onTabClick(contactTabs, $event)"
                                  (tabChanged)="contactTabChanged(contactTabs, $event)">
                                <tab *ngFor="let contact of filteredContacts; let i = index"
                                     [tabTitle]="contact.contactType || '{empty}'"
                                     [tabData]="i"
                                     tabClass="contact-nav-item-state"
                                     paneClass="console-pane">
                                    <div [ngStyle]="panelsStyle">
                                        <div class="form-group" *ngFor="let field of dataListSummary.fields">
                                            <label class="form-control-label"
                                                   [for]="'field_'+field.id">{{field.fieldName}}</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" [name]="'field_'+field.id"
                                                       [id]="'field_'+field.id"
                                                       [(ngModel)]="contact.valueMap[field.id]"
                                                       [readOnly]="contactFieldIsReadonly(contact)"
                                                       (ngModelChange)="contactFieldChange(contact)"/>
                                                <div *ngIf="isPhoneField(field)" class="input-group-append">
                                                    <a class="btn btn-primary"
                                                       [href]="'tel:'+contact.valueMap[field.id]"
                                                       (click)="phoneClick()"
                                                       [class.disabled]="contactFieldIsReadonly(contact)">
                                                        <span class="fa fa-phone"></span>&nbsp;Call
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="field_contact_notes">Notes</label>
                                            <textarea type="text" class="form-control" name="notes"
                                                      id="field_contact_notes"
                                                      [(ngModel)]="contact.note"
                                                      [disabled]="contactFieldIsReadonly(contact)"
                                                      (ngModelChange)="contactFieldChange(contact)"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input class="custom-control-input" type="checkbox"
                                                       [id]="'field_contact_is_left_company_'+contact.rowNum"
                                                       [name]="'field_contact_is_left_company_'+contact.rowNum"
                                                       [(ngModel)]="contact.isLeftCompany"
                                                       (ngModelChange)="contactFieldChange(contact)"/>
                                                <label class="custom-control-label"
                                                       [for]="'field_contact_is_left_company_'+contact.rowNum">Left
                                                    Company</label>
                                            </div>
                                        </div>
                                    </div>
                                </tab>

                                <!-- the dummy Contact tab -->
                                <tab tabTitle="{{dummyDataListContact.contactType}}" paneClass="console-pane">
                                    <div [ngStyle]="panelsStyle">
                                        <div class="form-group" *ngFor="let field of dataListSummary.fields">
                                            <label class="form-control-label"
                                                   [for]="'field_'+field.id">{{field.fieldName}}</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" [name]="'field_'+field.id"
                                                       [id]="'field_'+field.id"
                                                       [(ngModel)]="dummyDataListContact.valueMap[field.id]"/>
                                                <div *ngIf="isPhoneField(field)" class="input-group-append">
                                                    <a class="btn btn-primary"
                                                       [href]="'tel:'+dummyDataListContact.valueMap[field.id]"
                                                       (click)="phoneClick()">
                                                        <span class="fa fa-phone"></span>&nbsp;Call
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-primary" (click)="saveContact(dummyDataListContact)">
                                                <span>Save</span>
                                            </button>
                                        </div>
                                    </div>
                                </tab>

                                <!--<tab tabTitle="Primary DM" tabIdent="PRIMARY_DM" paneClass="console-pane">
                                    &nbsp;
                                </tab>
                                <tab tabTitle="Secondary DM" tabIdent="SECONDARY_DM" paneClass="console-pane">
                                    &nbsp;
                                </tab>
                                <tab tabTitle="Influencer" tabIdent="INFLUENCER" paneClass="console-pane">
                                    &nbsp;
                                </tab>
                                <tab tabTitle="Gatekeeper/Other" tabIdent="GATEKEEPER_OTHER" paneClass="console-pane">
                                    &nbsp;
                                </tab>
                                <tab tabTitle="New Contact" tabIdent="NEW_CONTACT" paneClass="console-pane">
                                    &nbsp;
                                </tab>-->
                            </tabs>
                        </div>
                    </div>
                </as-split-area>
                <as-split-area size="53" minSize="30" #area2="asSplitArea">
                    <tabs (onTabClick)="onTabClick(tabs3, $event)" (tabChanged)="onTabChanged(tabs3, $event)" #tabs3>
                        <tab tabTitle="Call History" tabIdent="CALL_HISTORY" paneClass="console-pane">
                            <jhi-console-call-history *ngIf="selectedCompany"
                                                      [dataListSummary]="dataListSummary"
                                                      [dataListCompany]="selectedCompany"
                                                      [dataListContact]="selectedContact"
                                                      [panelsNgStyle]="rightPanelsStyle">
                            </jhi-console-call-history>
                        </tab>
                        <tab tabTitle="No Contact" paneClass="console-pane">
                            <jhi-console-no-contact *ngIf="selectedClientCampaign"
                                                    [clientCampaign]="selectedClientCampaign"
                                                    [clientList]="selectedClientList"
                                                    [dataListCompany]="selectedCompany"
                                                    [dataListContact]="selectedContact"
                                                    [panelsNgStyle]="rightPanelsStyle"
                                                    [readonly]="qaUserAndPendingState()"
                                                    (apply)="noContactApply($event)">
                            </jhi-console-no-contact>
                        </tab>
                        <tab tabTitle="Outcomes" tabIdent="OUTCOMES" paneClass="console-pane">
                            <jhi-console-outcome *ngIf="selectedClientCampaign"
                                                 [clientCampaign]="selectedClientCampaign"
                                                 [clientList]="selectedClientList"
                                                 [dataListCompany]="selectedCompany"
                                                 [dataListSummary]="dataListSummary"
                                                 [dataListContact]="selectedContact"
                                                 [panelsNgStyle]="rightPanelsStyle"
                                                 [buttonsAreDisabled]="qaUserAndPendingState()"
                                                 (moveContact)="outcomeMoveContact($event)"
                                                 (finish)="outcomeFinishHandler($event)">
                            </jhi-console-outcome>
                        </tab>
                        <tab tabTitle="SMS" paneClass="console-pane">
                            <jhi-console-sms *ngIf="selectedCompany"
                                             [clientCampaign]="selectedClientCampaign"
                                             [clientList]="selectedClientList"
                                             [dataListSummary]="dataListSummary"
                                             [dataListCompany]="selectedCompany"
                                             [dataListContact]="selectedContact"
                                             [panelsNgStyle]="rightPanelsStyle"
                                             [readonly]="qaUserAndPendingState()">
                            </jhi-console-sms>
                        </tab>
                        <tab tabTitle="Email" paneClass="console-pane">
                            <jhi-console-email *ngIf="selectedCompany"
                                               [clientCampaign]="selectedClientCampaign"
                                               [clientList]="selectedClientList"
                                               [dataListSummary]="dataListSummary"
                                               [dataListCompany]="selectedCompany"
                                               [dataListContact]="selectedContact"
                                               [panelsNgStyle]="rightPanelsStyle"
                                               [readonly]="qaUserAndPendingState()">
                            </jhi-console-email>
                        </tab>
                        <tab tabTitle="Script" paneClass="console-pane">
                            <jhi-console-script *ngIf="selectedClientCampaign"
                                                [clientCampaign]="selectedClientCampaign"
                                                [panelsNgStyle]="rightPanelsStyle"
                                                [readonly]="qaUserAndPendingState()"></jhi-console-script>
                        </tab>
                        <tab tabTitle="Briefing Doc" paneClass="console-pane">
                            <jhi-client-campaign-wizard-briefing *ngIf="selectedClientCampaign"
                                                                 [clientCampaign]="selectedClientCampaign"
                                                                 [mode]="BriefingComponentMode.CONSOLE"
                                                                 [panelsNgStyle]="rightPanelsStyle"></jhi-client-campaign-wizard-briefing>
                        </tab>
                        <tab tabTitle="Add. Docs" paneClass="console-pane">
                            <jhi-console-add-doc *ngIf="selectedClientCampaign"
                                                 [clientCampaign]="selectedClientCampaign"
                                                 [panelsNgStyle]="rightPanelsStyle"></jhi-console-add-doc>
                        </tab>
                        <tab tabTitle="GDPR" tabIdent="GDPR" paneClass="console-pane">
                            <jhi-client-campaign-wizard-gdpr *ngIf="selectedClientCampaign"
                                                             [clientCampaign]="selectedClientCampaign"
                                                             [mode]="GdprComponentMode.CONSOLE"
                                                             [panelsNgStyle]="rightPanelsStyle"></jhi-client-campaign-wizard-gdpr>
                        </tab>
                    </tabs>
                </as-split-area>
            </as-split>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-2">
            <button class="btn btn-primary" (click)="saveCompany()"
                    [disabled]="!selectedCompany || qaUserAndPendingState()">
                <span>Save</span>
            </button>
            <button class="btn btn-primary" disabled>
                <span>Chat room</span>
            </button>
            <button class="btn btn-primary" disabled>
                <span>Scheduler</span>
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="saveContact(selectedContact)"
                    [disabled]="saveContactButtonDisabled()">
                <span>Save Contact Details</span>
            </button>
            <div class="float-right">
                <button class="btn btn-primary" disabled>
                    <span>No Contact</span>
                </button>
                <button class="btn btn-primary" (click)="skipCompany()"
                        [disabled]="!selectedCompany || !!consoleParams">
                    <span>Skip</span>
                </button>
                <button class="btn btn-primary" disabled>
                    <span>No Answer</span>
                </button>
            </div>
        </div>
    </div>

</div>
