<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Comment Note</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-control">
            <p>{{message}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel click')">Close</button>
    </div>
</div>
