<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Remove Call Back ?</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-control">
            <p>Are you sure want remove this Record from your Pipeline ?</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-outline-success" (click)="modal.close(this.callBack)">Remove</button>
    </div>
</div>
