
<div *ngIf="appointmentAttendee">
    <h2><span jhiTranslate="cmaApp.appointmentAttendee.detail.title">Appointment Attendee</span> {{appointmentAttendee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.appointmentAttendee.name">Name</span></dt>
        <dd>
            <span>{{appointmentAttendee.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.appointmentAttendee.contactDetail">Contact Detail</span></dt>
        <dd>
            <span>{{appointmentAttendee.contactDetail}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.appointmentAttendee.domain">Domain</span></dt>
        <dd>
            <span>{{appointmentAttendee.domain}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.appointmentAttendee.username">Username</span></dt>
        <dd>
            <span>{{appointmentAttendee.username}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.appointmentAttendee.password">Password</span></dt>
        <dd>
            <span>{{appointmentAttendee.password}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.appointmentAttendee.appointmentDays">Appointment Days</span></dt>
        <dd>
            <span>{{appointmentAttendee.appointmentDays}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.appointmentAttendee.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="appointmentAttendee.clientCampaignId">
                <a [routerLink]="['/client-campaign', appointmentAttendee.clientCampaignId]">{{appointmentAttendee.clientCampaignName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'appointment-attendee/'+ appointmentAttendee.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
