<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAppointmentAttendeeLabel" jhiTranslate="cmaApp.appointmentAttendee.home.createOrEditLabel">Create or edit a Appointment Attendee</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!appointmentAttendee.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="appointmentAttendee.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.appointmentAttendee.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="appointmentAttendee.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.appointmentAttendee.contactDetail" for="field_contactDetail">Contact Detail</label>
            <input type="text" class="form-control" name="contactDetail" id="field_contactDetail"
                [(ngModel)]="appointmentAttendee.contactDetail" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.appointmentAttendee.domain" for="field_domain">Domain</label>
            <input type="text" class="form-control" name="domain" id="field_domain"
                [(ngModel)]="appointmentAttendee.domain" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.appointmentAttendee.username" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                [(ngModel)]="appointmentAttendee.username" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.appointmentAttendee.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="appointmentAttendee.password" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.appointmentAttendee.appointmentDays" for="field_appointmentDays">Appointment Days</label>
            <input type="text" class="form-control" name="appointmentDays" id="field_appointmentDays"
                [(ngModel)]="appointmentAttendee.appointmentDays" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.appointmentAttendee.clientCampaign" for="field_clientCampaign">Client Campaign</label>
            <select class="form-control" id="field_clientCampaign" name="clientCampaign" [(ngModel)]="appointmentAttendee.clientCampaignId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCampaignOption.id" *ngFor="let clientCampaignOption of clientcampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
