<div>
    <h2>
        <span jhiTranslate="cmaApp.appointmentAttendee.home.title">Appointment Attendees</span>
        <button class="btn btn-primary float-right jh-create-entity create-appointment-attendee" [routerLink]="['/', { outlets: { popup: ['appointment-attendee-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.appointmentAttendee.home.createLabel">
            Create new Appointment Attendee
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="appointmentAttendees">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="cmaApp.appointmentAttendee.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contactDetail"><span jhiTranslate="cmaApp.appointmentAttendee.contactDetail">Contact Detail</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="domain"><span jhiTranslate="cmaApp.appointmentAttendee.domain">Domain</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="username"><span jhiTranslate="cmaApp.appointmentAttendee.username">Username</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="password"><span jhiTranslate="cmaApp.appointmentAttendee.password">Password</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="appointmentDays"><span jhiTranslate="cmaApp.appointmentAttendee.appointmentDays">Appointment Days</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientCampaignName"><span jhiTranslate="cmaApp.appointmentAttendee.clientCampaign">Client Campaign</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let appointmentAttendee of appointmentAttendees ;trackBy: trackId">
                <td><a [routerLink]="['../appointment-attendee', appointmentAttendee.id ]">{{appointmentAttendee.id}}</a></td>
                <td>{{appointmentAttendee.name}}</td>
                <td>{{appointmentAttendee.contactDetail}}</td>
                <td>{{appointmentAttendee.domain}}</td>
                <td>{{appointmentAttendee.username}}</td>
                <td>{{appointmentAttendee.password}}</td>
                <td>{{appointmentAttendee.appointmentDays}}</td>
                <td>
                    <div *ngIf="appointmentAttendee.clientCampaignId">
                        <a [routerLink]="['../client-campaign', appointmentAttendee.clientCampaignId  ]" >{{appointmentAttendee.clientCampaignName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../appointment-attendee', appointmentAttendee.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'appointment-attendee/'+ appointmentAttendee.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'appointment-attendee/'+ appointmentAttendee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="appointmentAttendees && appointmentAttendees.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
