<div>
    <h2>
        <span jhiTranslate="userManagement.home.title">Users</span>
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['/', { outlets: { popup: ['user-management-new'] } }]">
            <span class="fa fa-plus"></span> <span jhiTranslate="userManagement.home.createLabel">Create a new User</span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>

    <tabs (onTabClick)="onTabClick($event)">
        <tab tabTitle="Team Users" tabIdent="TEAM_USERS"
             [tabClass]="'nav-item-state-secondary'">
            <jhi-users-grid [kind]="KIND.ALL_EXCEPT_PORTAL_USER"></jhi-users-grid>
        </tab>
        <tab tabTitle="Portal Users" tabIdent="PORTAL_USERS"
             [tabClass]="'nav-item-state-secondary'">
            <jhi-users-grid [kind]="KIND.CONTAINS_PORTAL_USER"></jhi-users-grid>
        </tab>
    </tabs>
</div>
