
<div *ngIf="surveyQuestionField">
    <h2><span jhiTranslate="cmaApp.surveyQuestionField.detail.title">Survey Question Field</span> {{surveyQuestionField.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.surveyQuestionField.name">Name</span></dt>
        <dd>
            <span>{{surveyQuestionField.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestionField.dataType">Data Type</span></dt>
        <dd>
            <span>{{surveyQuestionField.dataType}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestionField.category">Category</span></dt>
        <dd>
            <span>{{surveyQuestionField.category}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestionField.prePopulationData">Pre Population Data</span></dt>
        <dd>
            <span>{{surveyQuestionField.prePopulationData}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestionField.isVisible">Is Visible</span></dt>
        <dd>
            <span>{{surveyQuestionField.isVisible}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestionField.isRequired">Is Required</span></dt>
        <dd>
            <span>{{surveyQuestionField.isRequired}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestionField.surveyQuestion">Survey Question</span></dt>
        <dd>
            <div *ngIf="surveyQuestionField.surveyQuestionId">
                <a [routerLink]="['/survey-question', surveyQuestionField.surveyQuestionId]">{{surveyQuestionField.surveyQuestionName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'survey-question-field/'+ surveyQuestionField.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
