<div>
    <h2>
        <span jhiTranslate="cmaApp.surveyQuestionField.home.title">Survey Question Fields</span>
        <button class="btn btn-primary float-right jh-create-entity create-survey-question-field" [routerLink]="['/', { outlets: { popup: ['survey-question-field-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.surveyQuestionField.home.createLabel">
            Create new Survey Question Field
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="surveyQuestionFields">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="cmaApp.surveyQuestionField.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataType"><span jhiTranslate="cmaApp.surveyQuestionField.dataType">Data Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="category"><span jhiTranslate="cmaApp.surveyQuestionField.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prePopulationData"><span jhiTranslate="cmaApp.surveyQuestionField.prePopulationData">Pre Population Data</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isVisible"><span jhiTranslate="cmaApp.surveyQuestionField.isVisible">Is Visible</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isRequired"><span jhiTranslate="cmaApp.surveyQuestionField.isRequired">Is Required</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="surveyQuestionName"><span jhiTranslate="cmaApp.surveyQuestionField.surveyQuestion">Survey Question</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let surveyQuestionField of surveyQuestionFields ;trackBy: trackId">
                <td><a [routerLink]="['../survey-question-field', surveyQuestionField.id ]">{{surveyQuestionField.id}}</a></td>
                <td>{{surveyQuestionField.name}}</td>
                <td>{{surveyQuestionField.dataType}}</td>
                <td>{{surveyQuestionField.category}}</td>
                <td>{{surveyQuestionField.prePopulationData}}</td>
                <td>{{surveyQuestionField.isVisible}}</td>
                <td>{{surveyQuestionField.isRequired}}</td>
                <td>
                    <div *ngIf="surveyQuestionField.surveyQuestionId">
                        <a [routerLink]="['../survey-question', surveyQuestionField.surveyQuestionId  ]" >{{surveyQuestionField.surveyQuestionName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../survey-question-field', surveyQuestionField.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'survey-question-field/'+ surveyQuestionField.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'survey-question-field/'+ surveyQuestionField.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="surveyQuestionFields && surveyQuestionFields.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
