<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySurveyQuestionFieldLabel" jhiTranslate="cmaApp.surveyQuestionField.home.createOrEditLabel">Create or edit a Survey Question Field</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!surveyQuestionField.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="surveyQuestionField.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestionField.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="surveyQuestionField.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestionField.dataType" for="field_dataType">Data Type</label>
            <input type="text" class="form-control" name="dataType" id="field_dataType"
                [(ngModel)]="surveyQuestionField.dataType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestionField.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                [(ngModel)]="surveyQuestionField.category" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestionField.prePopulationData" for="field_prePopulationData">Pre Population Data</label>
            <input type="text" class="form-control" name="prePopulationData" id="field_prePopulationData"
                [(ngModel)]="surveyQuestionField.prePopulationData" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestionField.isVisible" for="field_isVisible">Is Visible</label>
            <input type="checkbox" class="form-control" name="isVisible" id="field_isVisible"
                [(ngModel)]="surveyQuestionField.isVisible" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestionField.isRequired" for="field_isRequired">Is Required</label>
            <input type="checkbox" class="form-control" name="isRequired" id="field_isRequired"
                [(ngModel)]="surveyQuestionField.isRequired" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestionField.surveyQuestion" for="field_surveyQuestion">Survey Question</label>
            <select class="form-control" id="field_surveyQuestion" name="surveyQuestion" [(ngModel)]="surveyQuestionField.surveyQuestionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="surveyQuestionOption.id" *ngFor="let surveyQuestionOption of surveyquestions; trackBy: trackSurveyQuestionById">{{surveyQuestionOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
