<div *ngIf="callHistory">
    <h2><span jhiTranslate="cmaApp.callHistory.detail.title">Call History</span> {{callHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.callHistory.createdDate">Created Date</span></dt>
        <dd>
            <span>{{callHistory.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.callHistory.details">Details</span></dt>
        <dd>
            <span>{{callHistory.details}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.callHistory.note">Note</span></dt>
        <dd>
            <span>{{callHistory.note}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.callHistory.orgRowNum">Org Row Num</span></dt>
        <dd>
            <span>{{callHistory.orgRowNum}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.callHistory.contactRowNum">Contact Row Num</span></dt>
        <dd>
            <span>{{callHistory.contactRowNum}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.callHistory.user">User</span></dt>
        <dd>
            {{callHistory.userLogin}}
        </dd>
        <dt><span jhiTranslate="cmaApp.callHistory.type">Type</span></dt>
        <dd>
            <div *ngIf="callHistory.typeId">
                <a [routerLink]="['/call-history-type', callHistory.typeId]">{{callHistory.typeName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.callHistory.list">List</span></dt>
        <dd>
            <div *ngIf="callHistory.listId">
                <a [routerLink]="['/client-list', callHistory.listId]">{{callHistory.listName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'call-history/'+ callHistory.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
