<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCallHistoryLabel" jhiTranslate="cmaApp.callHistory.home.createOrEditLabel">Create
            or edit a Call History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!callHistory.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="callHistory.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.callHistory.createdDate" for="field_createdDate">Created
                Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate"
                       [(ngModel)]="callHistory.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.callHistory.details"
                   for="field_details">Details</label>
            <input type="text" class="form-control" name="details" id="field_details"
                   [(ngModel)]="callHistory.details"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.callHistory.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                   [(ngModel)]="callHistory.note"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.callHistory.orgRowNum" for="field_orgRowNum">Org Row
                Num</label>
            <input type="number" class="form-control" name="orgRowNum" id="field_orgRowNum"
                   [(ngModel)]="callHistory.orgRowNum"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.callHistory.contactRowNum" for="field_contactRowNum">Contact
                Row Num</label>
            <input type="number" class="form-control" name="contactRowNum" id="field_contactRowNum"
                   [(ngModel)]="callHistory.contactRowNum"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.callHistory.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="callHistory.userId">
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id"
                        *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.callHistory.type" for="field_type">Type</label>
            <select class="form-control" id="field_type" name="type" [(ngModel)]="callHistory.typeId">
                <option [ngValue]="null"></option>
                <option [ngValue]="callHistoryTypeOption.id"
                        *ngFor="let callHistoryTypeOption of callhistorytypes; trackBy: trackCallHistoryTypeById">{{callHistoryTypeOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.callHistory.list" for="field_list">List</label>
            <select class="form-control" id="field_list" name="list" [(ngModel)]="callHistory.listId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientListOption.id"
                        *ngFor="let clientListOption of clientlists; trackBy: trackClientListById">{{clientListOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
