<div>
    <h2>
        <span jhiTranslate="cmaApp.callHistory.home.title">Call Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-call-history"
                [routerLink]="['/', { outlets: { popup: ['call-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="cmaApp.callHistory.home.createLabel">
            Create new Call History
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="callHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="createdDate"><span jhiTranslate="cmaApp.callHistory.createdDate">Created Date</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="details"><span jhiTranslate="cmaApp.callHistory.details">Details</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="note"><span jhiTranslate="cmaApp.callHistory.note">Note</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="orgRowNum"><span jhiTranslate="cmaApp.callHistory.orgRowNum">Org Row Num</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="contactRowNum"><span
                    jhiTranslate="cmaApp.callHistory.contactRowNum">Contact Row Num</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="userLogin"><span jhiTranslate="cmaApp.callHistory.user">User</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="typeName"><span jhiTranslate="cmaApp.callHistory.type">Type</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="listName"><span jhiTranslate="cmaApp.callHistory.list">List</span> <span
                    class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let callHistory of callHistories ;trackBy: trackId">
                <td><a [routerLink]="['../call-history', callHistory.id ]">{{callHistory.id}}</a></td>
                <td>{{callHistory.createdDate | date:'medium'}}</td>
                <td>{{callHistory.details}}</td>
                <td>{{callHistory.note}}</td>
                <td>{{callHistory.orgRowNum}}</td>
                <td>{{callHistory.contactRowNum}}</td>
                <td>
                    {{callHistory.userLogin}}
                </td>
                <td>
                    <div *ngIf="callHistory.typeId">
                        <a [routerLink]="['../call-history-type', callHistory.typeId  ]">{{callHistory.typeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="callHistory.listId">
                        <a [routerLink]="['../client-list', callHistory.listId  ]">{{callHistory.listName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../call-history', callHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'call-history/'+ callHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'call-history/'+ callHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="callHistories && callHistories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
