<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCallHistoryTypeLabel" jhiTranslate="cmaApp.callHistoryType.home.createOrEditLabel">Create or edit a Call History Type</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!callHistoryType.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="callHistoryType.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.callHistoryType.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="callHistoryType.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.callHistoryType.ident" for="field_ident">Ident</label>
            <input type="text" class="form-control" name="ident" id="field_ident"
                [(ngModel)]="callHistoryType.ident" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
