
<div *ngIf="callHistoryType">
    <h2><span jhiTranslate="cmaApp.callHistoryType.detail.title">Call History Type</span> {{callHistoryType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.callHistoryType.name">Name</span></dt>
        <dd>
            <span>{{callHistoryType.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.callHistoryType.ident">Ident</span></dt>
        <dd>
            <span>{{callHistoryType.ident}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'call-history-type/'+ callHistoryType.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
