<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientCampaignAddDocLabel" jhiTranslate="cmaApp.clientCampaignAddDoc.home.createOrEditLabel">Create or edit a Client Campaign Add Doc</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientCampaignAddDoc.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientCampaignAddDoc.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientCampaignAddDoc.link" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                [(ngModel)]="clientCampaignAddDoc.link" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientCampaignAddDoc.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="clientCampaignAddDoc.text" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientCampaignAddDoc.clientCampaign" for="field_clientCampaign">Client Campaign</label>
            <select class="form-control" id="field_clientCampaign" name="clientCampaign" [(ngModel)]="clientCampaignAddDoc.clientCampaignId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCampaignOption.id" *ngFor="let clientCampaignOption of clientcampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
