
<div *ngIf="clientCampaignAddDoc">
    <h2><span jhiTranslate="cmaApp.clientCampaignAddDoc.detail.title">Client Campaign Add Doc</span> {{clientCampaignAddDoc.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.clientCampaignAddDoc.link">Link</span></dt>
        <dd>
            <span>{{clientCampaignAddDoc.link}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCampaignAddDoc.text">Text</span></dt>
        <dd>
            <span>{{clientCampaignAddDoc.text}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCampaignAddDoc.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="clientCampaignAddDoc.clientCampaignId">
                <a [routerLink]="['/client-campaign', clientCampaignAddDoc.clientCampaignId]">{{clientCampaignAddDoc.clientCampaignName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-campaign-add-doc/'+ clientCampaignAddDoc.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
