<div>
    <h2>
        <span jhiTranslate="cmaApp.clientCampaignAddDoc.home.title">Client Campaign Add Docs</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-campaign-add-doc" [routerLink]="['/', { outlets: { popup: ['client-campaign-add-doc-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.clientCampaignAddDoc.home.createLabel">
            Create new Client Campaign Add Doc
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientCampaignAddDocs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="link"><span jhiTranslate="cmaApp.clientCampaignAddDoc.link">Link</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="text"><span jhiTranslate="cmaApp.clientCampaignAddDoc.text">Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientCampaignName"><span jhiTranslate="cmaApp.clientCampaignAddDoc.clientCampaign">Client Campaign</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientCampaignAddDoc of clientCampaignAddDocs ;trackBy: trackId">
                <td><a [routerLink]="['../client-campaign-add-doc', clientCampaignAddDoc.id ]">{{clientCampaignAddDoc.id}}</a></td>
                <td>{{clientCampaignAddDoc.link}}</td>
                <td>{{clientCampaignAddDoc.text}}</td>
                <td>
                    <div *ngIf="clientCampaignAddDoc.clientCampaignId">
                        <a [routerLink]="['../client-campaign', clientCampaignAddDoc.clientCampaignId  ]" >{{clientCampaignAddDoc.clientCampaignName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-campaign-add-doc', clientCampaignAddDoc.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-campaign-add-doc/'+ clientCampaignAddDoc.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-campaign-add-doc/'+ clientCampaignAddDoc.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clientCampaignAddDocs && clientCampaignAddDocs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
