<div [ngSwitch]="mode">
    <div class="form-group"
         *ngSwitchCase="ClientCampaignSmsDialogComponentMode.CREATE_OR_EDIT"
         [hidden]="!clientCampaignSms.id">
        <label for="id" jhiTranslate="global.field.id">ID</label>
        <input type="text" class="form-control" id="id" name="id"
               [(ngModel)]="clientCampaignSms.id" readonly/>
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="cmaApp.clientCampaignSms.name" for="field_name">Name</label>
        <input type="text" class="form-control" name="name" id="field_name"
               [(ngModel)]="clientCampaignSms.name" required/>
        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="form-group">
        <label class="form-control-label" for="field_excerpt">SMS Text</label>
        <textarea type="text" class="form-control" name="excerpt" id="field_excerpt"
                  [(ngModel)]="clientCampaignSms.excerpt"></textarea>
    </div>

    <div class="form-group" *ngSwitchCase="ClientCampaignSmsDialogComponentMode.CREATE_OR_EDIT">
        <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestion.clientCampaign"
               for="field_clientCampaign">Client Campaign</label>
        <select class="form-control" id="field_clientCampaign" name="clientCampaign"
                [(ngModel)]="clientCampaignSms.clientCampaignId">
            <option [ngValue]="null"></option>
            <option [ngValue]="clientCampaignOption.id"
                    *ngFor="let clientCampaignOption of clientCampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
        </select>
    </div>

</div>
