<div>
    <h2>
        <span jhiTranslate="cmaApp.clientCampaignSms.home.title">Client Campaign Sms</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-campaign-sms"
                [routerLink]="['/', { outlets: { popup: ['client-campaign-sms-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="cmaApp.clientCampaignSms.home.createLabel">
            Create new Client Campaign Sms
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientCampaignSms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="cmaApp.clientCampaignSms.name">Name</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="excerpt"><span>Text Of SMS</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="clientCampaignName"><span jhiTranslate="cmaApp.surveyQuestion.clientCampaign">Client Campaign</span>
                    <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientCampaignSms of clientCampaignSms ;trackBy: trackId">
                <td><a [routerLink]="['../client-campaign-sms', clientCampaignSms.id ]">{{clientCampaignSms.id}}</a>
                </td>
                <td>{{clientCampaignSms.name}}</td>
                <td>{{(clientCampaignSms.excerpt || '' | slice:0:80) + (clientCampaignSms.excerpt?.length > 80 ? '...' : '')}}</td>
                <td>
                    <div *ngIf="clientCampaignSms.clientCampaignId">
                        <a [routerLink]="['../client-campaign', clientCampaignSms.clientCampaignId  ]">{{clientCampaignSms.clientCampaignName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-campaign-sms', clientCampaignSms.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-campaign-sms/'+ clientCampaignSms.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-campaign-sms/'+ clientCampaignSms.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clientCampaignSms && clientCampaignSms.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
