
<div *ngIf="clientCampaignSms">
    <h2><span jhiTranslate="cmaApp.clientCampaignSms.detail.title">Client Campaign Sms</span> {{clientCampaignSms.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.clientCampaignSms.name">Name</span></dt>
        <dd>
            <span>{{clientCampaignSms.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCampaignSms.excerpt">Excerpt</span></dt>
        <dd>
            <span>{{clientCampaignSms.excerpt}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestion.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="clientCampaignSms.clientCampaignId">
                <a [routerLink]="['/client-campaign', clientCampaignSms.clientCampaignId]">{{clientCampaignSms.clientCampaignName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-campaign-sms/'+ clientCampaignSms.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
