<div>
    <h2>
        <span jhiTranslate="cmaApp.consoleStats.home.title">Console Stats</span>
        <button class="btn btn-primary float-right jh-create-entity create-console-stats"
                [routerLink]="['/', { outlets: { popup: ['console-stats-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="cmaApp.consoleStats.home.createLabel">
            Create new Console Stats
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="consoleStats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="calls"><span jhiTranslate="cmaApp.consoleStats.calls">Calls</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="skips"><span jhiTranslate="cmaApp.consoleStats.skips">Skips</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="pending"><span jhiTranslate="cmaApp.consoleStats.pending">Pending</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="stamp"><span jhiTranslate="cmaApp.consoleStats.stamp">Stamp</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="dmContact"><span jhiTranslate="cmaApp.consoleStats.dmContact">Dm Contact</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="leadSales"><span jhiTranslate="cmaApp.consoleStats.leadSales">Lead Sales</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="pipelineOpps"><span jhiTranslate="cmaApp.consoleStats.pipelineOpps">Pipeline Opps</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="userLogin"><span jhiTranslate="cmaApp.consoleStats.user">User</span> <span
                    class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let consoleStats of consoleStats ;trackBy: trackId">
                <td><a [routerLink]="['../console-stats', consoleStats.id ]">{{consoleStats.id}}</a></td>
                <td>{{consoleStats.calls}}</td>
                <td>{{consoleStats.skips}}</td>
                <td>{{consoleStats.pending}}</td>
                <td>{{consoleStats.stamp | date:'mediumDate'}}</td>
                <td>{{consoleStats.dmContact}}</td>
                <td>{{consoleStats.leadSales}}</td>
                <td>{{consoleStats.pipelineOpps}}</td>
                <td>
                    {{consoleStats.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../console-stats', consoleStats.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'console-stats/'+ consoleStats.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'console-stats/'+ consoleStats.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="consoleStats && consoleStats.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
