<div *ngIf="consoleStats">
    <h2><span jhiTranslate="cmaApp.consoleStats.detail.title">Console Stats</span> {{consoleStats.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.consoleStats.calls">Calls</span></dt>
        <dd>
            <span>{{consoleStats.calls}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.consoleStats.skips">Skips</span></dt>
        <dd>
            <span>{{consoleStats.skips}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.consoleStats.pending">Pending</span></dt>
        <dd>
            <span>{{consoleStats.pending}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.consoleStats.stamp">Stamp</span></dt>
        <dd>
            <span>{{consoleStats.stamp | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.consoleStats.dmContact">Dm Contact</span></dt>
        <dd>
            <span>{{consoleStats.dmContact}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.consoleStats.leadSales">Lead Sales</span></dt>
        <dd>
            <span>{{consoleStats.leadSales}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.consoleStats.pipelineOpps">Pipeline Opps</span></dt>
        <dd>
            <span>{{consoleStats.pipelineOpps}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.consoleStats.user">User</span></dt>
        <dd>
            {{consoleStats.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'console-stats/'+ consoleStats.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
