<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myConsoleStatsLabel" jhiTranslate="cmaApp.consoleStats.home.createOrEditLabel">
            Create or edit a Console Stats</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!consoleStats.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="consoleStats.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.consoleStats.calls" for="field_calls">Calls</label>
            <input type="number" class="form-control" name="calls" id="field_calls"
                   [(ngModel)]="consoleStats.calls"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.consoleStats.skips" for="field_skips">Skips</label>
            <input type="number" class="form-control" name="skips" id="field_skips"
                   [(ngModel)]="consoleStats.skips"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.consoleStats.pending"
                   for="field_pending">Pending</label>
            <input type="number" class="form-control" name="pending" id="field_pending"
                   [(ngModel)]="consoleStats.pending"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.consoleStats.stamp" for="field_stamp">Stamp</label>
            <div class="input-group">
                <input id="field_stamp" type="text" class="form-control" name="stamp" ngbDatepicker
                       #stampDp="ngbDatepicker" [(ngModel)]="consoleStats.stamp"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="stampDp.toggle()"><i
                        class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.consoleStats.dmContact" for="field_dmContact">Dm
                Contact</label>
            <input type="number" class="form-control" name="dmContact" id="field_dmContact"
                   [(ngModel)]="consoleStats.dmContact"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.consoleStats.leadSales" for="field_leadSales">Lead
                Sales</label>
            <input type="number" class="form-control" name="leadSales" id="field_leadSales"
                   [(ngModel)]="consoleStats.leadSales"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.consoleStats.pipelineOpps" for="field_pipelineOpps">Pipeline
                Opps</label>
            <input type="number" class="form-control" name="pipelineOpps" id="field_pipelineOpps"
                   [(ngModel)]="consoleStats.pipelineOpps"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.consoleStats.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="consoleStats.userId">
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id"
                        *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
