<div class="input-group" style="margin-bottom: auto;width: 110%;">
    <div class="input-group-append" *ngIf="typesSearch.length>0">
        <select name="selector-{{column2Search.name}}" class="form-control fa fmg-search-types"
                [(ngModel)]="search.type"
                (ngModelChange)="sendFilter()">
            <option *ngFor="let type of typesSearch" [ngClass]="type.icon"
                    [ngValue]="type.type" [innerHTML]="type.txt"></option>
        </select>
    </div>
    <input class="form-control" placeholder="dd/MM/yyyy"
           name="date-{{column2Search.name}}" [(ngModel)]="datePickVal" ngbDatepicker #a="ngbDatepicker"
           [minDate]="{year: 1900, month: 1, day: 1}" [disabled]="true">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="openModalDate()"
                type="button" style="width: auto;"></button>
    </div>
</div>
