<div>
    <div class="modal-body">
        <div class="input-group">
            <ngb-datepicker #dp [(ngModel)]="modelDatePick" (ngModelChange)="pickDate()"
                            [minDate]="{year: 1900, month: 1, day: 1}"></ngb-datepicker>
            <div class="input-group-append">
                <ngb-timepicker [(ngModel)]="modelTimePick" [meridian]="meridian"></ngb-timepicker>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark centerElemnt" (click)="pickToday()">Today
        </button>
        <button type="button" class="btn btn-outline-dark centerElemnt" (click)="clear()">Clear
        </button>
    </div>
</div>
