
<div *ngIf="surveyQuestion">
    <h2><span jhiTranslate="cmaApp.surveyQuestion.detail.title">Survey Question</span> {{surveyQuestion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.surveyQuestion.name">Name</span></dt>
        <dd>
            <span>{{surveyQuestion.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestion.questionText">Question Text</span></dt>
        <dd>
            <span>{{surveyQuestion.questionText}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestion.order">Order</span></dt>
        <dd>
            <span>{{surveyQuestion.order}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestion.isVisible">Is Visible</span></dt>
        <dd>
            <span>{{surveyQuestion.isVisible}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestion.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="surveyQuestion.clientCampaignId">
                <a [routerLink]="['/client-campaign', surveyQuestion.clientCampaignId]">{{surveyQuestion.clientCampaignName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'survey-question/'+ surveyQuestion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
