<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySurveyQuestionLabel" jhiTranslate="cmaApp.surveyQuestion.home.createOrEditLabel">Create or edit a Survey Question</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body" id="survey-question-dialog-modal-window">
        <jhi-alert-error></jhi-alert-error>

        <h4>Question's main details</h4>

        <!--<div class="form-group" [hidden]="!surveyQuestion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="surveyQuestion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestion.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="surveyQuestion.name" />
        </div>-->
        <div class="form-group">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input" type="checkbox"
                       id="field_is_visible" name="field_is_visible"
                       [(ngModel)]="surveyQuestion.isVisible">
                <label class="custom-control-label" for="field_is_visible">Question is visible in console</label>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestion.questionText" for="field_questionText">Question Text</label>
            <textarea type="text" class="form-control" name="questionText" id="field_questionText"
                      [(ngModel)]="surveyQuestion.questionText"></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestion.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                   [(ngModel)]="surveyQuestion.order" readonly/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestion.clientCampaign" for="field_clientCampaign">Client Campaign</label>
            <select class="form-control" id="field_clientCampaign" name="clientCampaign" [(ngModel)]="surveyQuestion.clientCampaignId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCampaignOption.id" *ngFor="let clientCampaignOption of clientCampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
            </select>
        </div>

        <h4>Question's fields</h4>

        <div class="form-group">
            <button class="btn btn-outline-success" type="button" id="btn-add-survey-question"
                    (click)="createNewField()">
                <span aria-hidden="true">{{surveyQuestion.fields.length ? 'Add another field' : 'Add field'}}</span>
            </button>
        </div>

        <div *ngFor="let field of surveyQuestion.fields; let i = index"
             class="card form-group">
            <div class="card-header">
                Field #{{i + 1}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        (click)="removeField(field)">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-control-label" [for]="'field_name_' + i">Label</label>
                    <input type="text" class="form-control" [name]="'field_name_' + i" [id]="'field_name_' + i"
                           [(ngModel)]="field.name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" [for]="'field_dataType_' + i">Data type</label>
                    <ng-select [id]="'field_dataType_' + i" [name]="'field_dataType_' + i"
                               [items]="SurveyQuestionFieldDataType.ITEMS"
                               bindLabel="name"
                               bindValue="ident"
                               [(ngModel)]="field.dataType">
                    </ng-select>
                </div>

                <div class="form-group"
                     *ngIf="field.dataType === SurveyQuestionFieldDataType.SHORT_TEXT.ident || field.dataType === SurveyQuestionFieldDataType.LONG_TEXT.ident">
                    <label class="form-control-label" [for]="'field_category_' + i">Category</label>
                    <ng-select [id]="'field_category_' + i" [name]="'field_category_' + i"
                               [items]="SurveyQuestionFieldCategory.ITEMS"
                               bindLabel="name"
                               bindValue="ident"
                               [(ngModel)]="field.category">
                    </ng-select>
                </div>

                <div class="form-group" *ngIf="field.dataType === SurveyQuestionFieldDataType.DROPDOWN.ident">
                    <label class="form-control-label" [for]="'field_prePopulationData_' + i">Pre-population data</label>
                    &nbsp;<span class="fa fa-question-circle"
                                ngbTooltip="The options for DropDown fields should be entered into this field, options separated by commas (e.g. Foo, Bar)"
                                container="body"></span>
                    <textarea type="text" class="form-control" [id]="'field_prePopulationData_' + i"
                              [name]="'field_prePopulationData_' + i"
                              [(ngModel)]="field.prePopulationData"></textarea>
                </div>

                <div class="form-group" *ngIf="field.dataType === SurveyQuestionFieldDataType.NON_EDITABLE.ident">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox"
                               [id]="'field_is_visible_' + i" [name]="'field_is_visible_' + i"
                               [(ngModel)]="field.isVisible">
                        <label class="custom-control-label" [for]="'field_is_visible_' + i">Visible in console</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox"
                               [id]="'field_is_required_' + i" [name]="'field_is_required_' + i"
                               [(ngModel)]="field.isRequired">
                        <label class="custom-control-label" [for]="'field_is_required_' + i">Required</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
