<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Customise Your HomePage</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="callBackId" [(ngModel)]="customiser.isCallBack">
            <label class="form-check-label" for="callBackId">Call back / Pipeline</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="feedBackId" [(ngModel)]="customiser.isClientFeedback">
            <label class="form-check-label" for="feedBackId">My Client Feedback</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="bestsId" [(ngModel)]="customiser.isPersonalBests">
            <label class="form-check-label" for="bestsId">Personal Bests</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="meetingsId" [(ngModel)]="customiser.isClientMeeting">
            <label class="form-check-label" for="meetingsId">My Client Meetings this week</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="summaryId" [(ngModel)]="customiser.isEmail">
            <label class="form-check-label" for="summaryId">SMS / Email Summary</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="transactionId"
                   [(ngModel)]="customiser.isTransactionReport">
            <label class="form-check-label" for="transactionId">Transaction Report</label>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-outline-success" (click)="modal.close(this.customiser)">Ok</button>
    </div>
</div>
