
<div *ngIf="clientCampaignScript">
    <h2><span jhiTranslate="cmaApp.clientCampaignScript.detail.title">Client Campaign Script</span> {{clientCampaignScript.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.clientCampaignScript.name">Name</span></dt>
        <dd>
            <span>{{clientCampaignScript.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCampaignScript.excerpt">Excerpt</span></dt>
        <dd>
            <span><div [innerHTML]="clientCampaignScript.excerpt"></div></span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestion.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="clientCampaignScript.clientCampaignId">
                <a [routerLink]="['/client-campaign', clientCampaignScript.clientCampaignId]">{{clientCampaignScript.clientCampaignName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-campaign-script/'+ clientCampaignScript.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
