<div>
    <h2>
        <span jhiTranslate="cmaApp.field.home.title">Fields</span>
        <button class="btn btn-primary float-right jh-create-entity create-field"
                [routerLink]="['/', { outlets: { popup: ['field-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="cmaApp.field.home.createLabel">
            Create new Field
            </span>
        </button>
    </h2>
    <!--<jhi-shared-alert></jhi-shared-alert>-->
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fields">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="cmaApp.field.name">Name</span> <span class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="mandatory"><span jhiTranslate="cmaApp.field.mandatory">Mandatory</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="order"><span>Order</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let field of fields | orderBy: 'order';trackBy: trackId; let i = index">
                <td><a [routerLink]="['../field', field.id ]">{{field.id}}</a></td>
                <td>{{field.name}}</td>
                <td>{{field.mandatory}}</td>
                <td>{{field.order}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" class="btn btn-outline-primary btn-sm"
                                [disabled]="!canMoveDown(field, i)"
                                (click)="moveDown(field)">
                            <span class="fa fa-arrow-down"></span>
                            <!--<span class="d-none d-md-inline">Edit</span>-->
                        </button>
                        <button type="submit" class="btn btn-outline-primary btn-sm"
                                [disabled]="!canMoveUp(field, i)"
                                (click)="moveUp(field)">
                            <span class="fa fa-arrow-up"></span>
                            <!--<span class="d-none d-md-inline">Edit</span>-->
                        </button>

                        <button type="submit"
                                [routerLink]="['../field', field.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'field/'+ field.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'field/'+ field.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="fields && fields.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
