
<div *ngIf="field">
    <h2><span jhiTranslate="cmaApp.field.detail.title">Field</span> {{field.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.field.name">Name</span></dt>
        <dd>
            <span>{{field.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.field.mandatory">Mandatory</span></dt>
        <dd>
            <span>{{field.mandatory}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'field/'+ field.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
