<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse"
           data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
           aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">Cma</span> <span
            class="navbar-version">{{version}}</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"
         [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="alerts-notifications" (click)="collapseNavbar()">
                    <span>
                        <span class="font-italic">Alerts/Notifications</span>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="gamification" (click)="collapseNavbar()">
                    <span>
                        <span class="font-italic">Gamification</span>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="timesheet" (click)="collapseNavbar()">
                    <span>
                        <span class="font-italic">Timesheet</span>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="my-pipeline" (click)="collapseNavbar()">
                    <span>
                        <span class="font-italic">My Pipeline</span>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="reports" (click)="collapseNavbar()">
                    <span>
                        <span class="font-italic">Reports</span>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="console" (click)="collapseNavbar()">
                    <span>
                        <span>Console</span>
                    </span>
                </a>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="home-menu">
                    <span>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="/" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span jhiTranslate="global.menu.home">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="my-pipeline" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Call back / Pipeline</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="client-feedback" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>My Client Feedback</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="personal-bests" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Personal Bests</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="reports" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Reports</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>My Client Meetings this week</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="email-sms" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Email SMS</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="transaction-report" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <span>Transaction Report</span>
                        </a>
                    </li>
                </ul>
            </li>
            <div *ngIf="!principal.hasOnlyAuthorityDirect(['ROLE_PORTAL_USER'])">
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" routerLink="user-company" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.userCompany">User Company</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="client-company-status" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span
                                    jhiTranslate="global.menu.entities.clientCompanyStatus">Client Company Status</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="client-company" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.clientCompany">Client Company</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="client-campaign-template" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.clientCampaignTemplate">Client Campaign Template</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="client-campaign" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.clientCampaign">Client Campaign</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="client-list" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.clientList">Client List</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="field" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.field">Field</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="client-field" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.clientField">Client Field</span>
                            </a>
                        </li>
                        <!--<li>
                            <a class="dropdown-item" routerLink="client-list-data" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.clientListData">Client List Data</span>
                            </a>
                        </li>-->
                        <li>
                            <a class="dropdown-item" routerLink="outcome" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.outcome">Outcome</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="outcome-type" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.outcomeType">Outcome Type</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="outcome-sub-reason" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.outcomeSubReason">Outcome Sub Reason</span>
                            </a>
                        </li>
                        <!--<li>
                        <a class="dropdown-item" routerLink="campaign-portal-user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.campaignPortalUser">Campaign Portal User</span>
                        </a>
                    </li>-->
                        <!--<li>
                        <a class="dropdown-item" routerLink="campaign-portal-user-outcome" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.campaignPortalUserOutcome">Campaign Portal User Outcome</span>
                        </a>
                    </li>-->
                        <li>
                            <a class="dropdown-item" routerLink="email-template" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.emailTemplate">Email Template</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="client-campaign-script" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span
                                    jhiTranslate="global.menu.entities.clientCampaignScript">Client Campaign Script</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="client-campaign-sms" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.clientCampaignSms">Client Campaign Sms</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="appointment-attendee" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span
                                    jhiTranslate="global.menu.entities.appointmentAttendee">Appointment Attendee</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="survey-question" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.surveyQuestion">Survey Question</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="survey-question-field" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span
                                    jhiTranslate="global.menu.entities.surveyQuestionField">Survey Question Field</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="booking-question" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.bookingQuestion">Booking Question</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="booking-question-field" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span
                                    jhiTranslate="global.menu.entities.bookingQuestionField">Booking Question Field</span>
                            </a>
                        </li>
                        <!--<li>
                        <a class="dropdown-item" routerLink="client-campaign-add-doc" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.clientCampaignAddDoc">Client Campaign Add Doc</span>
                        </a>
                    </li>-->
                        <!--<li>
                        <a class="dropdown-item" routerLink="call-history-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.callHistoryType">Call History Type</span>
                        </a>
                    </li>-->
                        <!--<li>
                        <a class="dropdown-item" routerLink="call-history" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.callHistory">Call History</span>
                        </a>
                    </li>-->
                        <li>
                            <a class="dropdown-item" routerLink="industry" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.industry">Industry</span>
                            </a>
                        </li>
                        <!--<li>
                        <a class="dropdown-item" routerLink="campaign-list-contact-result" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.campaignListContactResult">Campaign List Contact Result</span>
                        </a>
                    </li>-->
                        <!--<li>
                        <a class="dropdown-item" routerLink="campaign-list-contact-question-result" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.campaignListContactQuestionResult">Campaign List Contact Question Result</span>
                        </a>
                    </li>-->
                        <!--<li>
                        <a class="dropdown-item" routerLink="campaign-list-contact-management" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.campaignListContactManagement">Campaign List Contact Management</span>
                        </a>
                    </li>-->
                        <li>
                            <a class="dropdown-item" routerLink="console-stats" routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.consoleStats">Console Stats</span>
                            </a>
                        </li>
                        <!--<li>
                        <a class="dropdown-item" routerLink="alert" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.alert">Alert</span>
                        </a>
                    </li>
                        <li>
                        <a class="dropdown-item" routerLink="alert-user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.alertUser">Alert User</span>
                        </a>
                    </li>-->
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
            </div>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_SYSTEM_ADMIN'">
                        <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_SYSTEM_ADMIN'">
                        <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <!--<li>-->
                    <!--<a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">-->
                    <!--<i class="fa fa-fw fa-list" aria-hidden="true"></i>-->
                    <!--<span jhiTranslate="global.menu.admin.configuration">Configuration</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <!--<li>-->
                    <!--<a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">-->
                    <!--<i class="fa fa-fw fa-tasks" aria-hidden="true"></i>-->
                    <!--<span jhiTranslate="global.menu.admin.logs">Logs</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-hdd-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.database">Database</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="client-campaign-wizard" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.clientCampaignWizard">Create New Campaign</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
                           (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
