<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCampaignListContactManagementLabel"
            jhiTranslate="cmaApp.campaignListContactManagement.home.createOrEditLabel">Create or edit a Campaign List
            Contact Management</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!campaignListContactManagement.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="campaignListContactManagement.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactManagement.contactRowNum"
                   for="field_contactRowNum">Contact Row Num</label>
            <input type="number" class="form-control" name="contactRowNum" id="field_contactRowNum"
                   [(ngModel)]="campaignListContactManagement.contactRowNum"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactManagement.holdFromCallPool"
                   for="field_holdFromCallPool">Hold From Call Pool</label>
            <input type="checkbox" class="form-control" name="holdFromCallPool" id="field_holdFromCallPool"
                   [(ngModel)]="campaignListContactManagement.holdFromCallPool"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactManagement.stamp"
                   for="field_stamp">Stamp</label>
            <div class="d-flex">
                <input id="field_stamp" type="datetime-local" class="form-control" name="stamp"
                       [(ngModel)]="campaignListContactManagement.stamp"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactManagement.clientCampaign"
                   for="field_clientCampaign">Client Campaign</label>
            <select class="form-control" id="field_clientCampaign" name="clientCampaign"
                    [(ngModel)]="campaignListContactManagement.clientCampaignId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCampaignOption.id"
                        *ngFor="let clientCampaignOption of clientcampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactManagement.clientList"
                   for="field_clientList">Client List</label>
            <select class="form-control" id="field_clientList" name="clientList"
                    [(ngModel)]="campaignListContactManagement.clientListId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientListOption.id"
                        *ngFor="let clientListOption of clientlists; trackBy: trackClientListById">{{clientListOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
