<div>
    <h2>
        <span jhiTranslate="cmaApp.campaignListContactManagement.home.title">Campaign List Contact Managements</span>
        <button class="btn btn-primary float-right jh-create-entity create-campaign-list-contact-management"
                [routerLink]="['/', { outlets: { popup: ['campaign-list-contact-management-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="cmaApp.campaignListContactManagement.home.createLabel">
            Create new Campaign List Contact Management
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="campaignListContactManagements">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="contactRowNum"><span jhiTranslate="cmaApp.campaignListContactManagement.contactRowNum">Contact Row Num</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="holdFromCallPool"><span
                    jhiTranslate="cmaApp.campaignListContactManagement.holdFromCallPool">Hold From Call Pool</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="stamp"><span jhiTranslate="cmaApp.campaignListContactManagement.stamp">Stamp</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="clientCampaignName"><span
                    jhiTranslate="cmaApp.campaignListContactManagement.clientCampaign">Client Campaign</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="clientListName"><span jhiTranslate="cmaApp.campaignListContactManagement.clientList">Client List</span>
                    <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignListContactManagement of campaignListContactManagements ;trackBy: trackId">
                <td><a
                    [routerLink]="['../campaign-list-contact-management', campaignListContactManagement.id ]">{{campaignListContactManagement.id}}</a>
                </td>
                <td>{{campaignListContactManagement.contactRowNum}}</td>
                <td>{{campaignListContactManagement.holdFromCallPool}}</td>
                <td>{{campaignListContactManagement.stamp | date:'medium'}}</td>
                <td>
                    <div *ngIf="campaignListContactManagement.clientCampaignId">
                        <a [routerLink]="['../client-campaign', campaignListContactManagement.clientCampaignId  ]">{{campaignListContactManagement.clientCampaignName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campaignListContactManagement.clientListId">
                        <a [routerLink]="['../client-list', campaignListContactManagement.clientListId  ]">{{campaignListContactManagement.clientListName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../campaign-list-contact-management', campaignListContactManagement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign-list-contact-management/'+ campaignListContactManagement.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign-list-contact-management/'+ campaignListContactManagement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campaignListContactManagements && campaignListContactManagements.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
