<div *ngIf="campaignListContactManagement">
    <h2><span
        jhiTranslate="cmaApp.campaignListContactManagement.detail.title">Campaign List Contact Management</span> {{campaignListContactManagement.id}}
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.campaignListContactManagement.contactRowNum">Contact Row Num</span></dt>
        <dd>
            <span>{{campaignListContactManagement.contactRowNum}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignListContactManagement.holdFromCallPool">Hold From Call Pool</span></dt>
        <dd>
            <span>{{campaignListContactManagement.holdFromCallPool}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignListContactManagement.stamp">Stamp</span></dt>
        <dd>
            <span>{{campaignListContactManagement.stamp | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignListContactManagement.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="campaignListContactManagement.clientCampaignId">
                <a [routerLink]="['/client-campaign', campaignListContactManagement.clientCampaignId]">{{campaignListContactManagement.clientCampaignName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignListContactManagement.clientList">Client List</span></dt>
        <dd>
            <div *ngIf="campaignListContactManagement.clientListId">
                <a [routerLink]="['/client-list', campaignListContactManagement.clientListId]">{{campaignListContactManagement.clientListName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'campaign-list-contact-management/'+ campaignListContactManagement.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
