<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBookingQuestionFieldLabel" jhiTranslate="cmaApp.bookingQuestionField.home.createOrEditLabel">Create or edit a Booking Question Field</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bookingQuestionField.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bookingQuestionField.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.bookingQuestionField.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="bookingQuestionField.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.bookingQuestionField.dataType" for="field_dataType">Data Type</label>
            <input type="text" class="form-control" name="dataType" id="field_dataType"
                [(ngModel)]="bookingQuestionField.dataType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.bookingQuestionField.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                [(ngModel)]="bookingQuestionField.category" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.bookingQuestionField.prePopulationData" for="field_prePopulationData">Pre Population Data</label>
            <input type="text" class="form-control" name="prePopulationData" id="field_prePopulationData"
                [(ngModel)]="bookingQuestionField.prePopulationData" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.bookingQuestionField.isVisible" for="field_isVisible">Is Visible</label>
            <input type="checkbox" class="form-control" name="isVisible" id="field_isVisible"
                [(ngModel)]="bookingQuestionField.isVisible" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.bookingQuestionField.isRequired" for="field_isRequired">Is Required</label>
            <input type="checkbox" class="form-control" name="isRequired" id="field_isRequired"
                [(ngModel)]="bookingQuestionField.isRequired" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.bookingQuestionField.bookingQuestion" for="field_bookingQuestion">Booking Question</label>
            <select class="form-control" id="field_bookingQuestion" name="bookingQuestion" [(ngModel)]="bookingQuestionField.bookingQuestionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bookingQuestionOption.id" *ngFor="let bookingQuestionOption of bookingquestions; trackBy: trackBookingQuestionById">{{bookingQuestionOption.questionText}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
