<div>
    <h2>
        <span jhiTranslate="cmaApp.bookingQuestionField.home.title">Booking Question Fields</span>
        <button class="btn btn-primary float-right jh-create-entity create-booking-question-field" [routerLink]="['/', { outlets: { popup: ['booking-question-field-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.bookingQuestionField.home.createLabel">
            Create new Booking Question Field
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bookingQuestionFields">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="cmaApp.bookingQuestionField.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataType"><span jhiTranslate="cmaApp.bookingQuestionField.dataType">Data Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="category"><span jhiTranslate="cmaApp.bookingQuestionField.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prePopulationData"><span jhiTranslate="cmaApp.bookingQuestionField.prePopulationData">Pre Population Data</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isVisible"><span jhiTranslate="cmaApp.bookingQuestionField.isVisible">Is Visible</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isRequired"><span jhiTranslate="cmaApp.bookingQuestionField.isRequired">Is Required</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bookingQuestionName"><span jhiTranslate="cmaApp.bookingQuestionField.bookingQuestion">Booking Question</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bookingQuestionField of bookingQuestionFields ;trackBy: trackId">
                <td><a [routerLink]="['../booking-question-field', bookingQuestionField.id ]">{{bookingQuestionField.id}}</a></td>
                <td>{{bookingQuestionField.name}}</td>
                <td>{{bookingQuestionField.dataType}}</td>
                <td>{{bookingQuestionField.category}}</td>
                <td>{{bookingQuestionField.prePopulationData}}</td>
                <td>{{bookingQuestionField.isVisible}}</td>
                <td>{{bookingQuestionField.isRequired}}</td>
                <td>
                    <div *ngIf="bookingQuestionField.bookingQuestionId">
                        <a [routerLink]="['../booking-question', bookingQuestionField.bookingQuestionId  ]" >{{bookingQuestionField.bookingQuestionName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../booking-question-field', bookingQuestionField.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking-question-field/'+ bookingQuestionField.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking-question-field/'+ bookingQuestionField.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bookingQuestionFields && bookingQuestionFields.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
