
<div *ngIf="bookingQuestionField">
    <h2><span jhiTranslate="cmaApp.bookingQuestionField.detail.title">Booking Question Field</span> {{bookingQuestionField.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.bookingQuestionField.name">Name</span></dt>
        <dd>
            <span>{{bookingQuestionField.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.bookingQuestionField.dataType">Data Type</span></dt>
        <dd>
            <span>{{bookingQuestionField.dataType}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.bookingQuestionField.category">Category</span></dt>
        <dd>
            <span>{{bookingQuestionField.category}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.bookingQuestionField.prePopulationData">Pre Population Data</span></dt>
        <dd>
            <span>{{bookingQuestionField.prePopulationData}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.bookingQuestionField.isVisible">Is Visible</span></dt>
        <dd>
            <span>{{bookingQuestionField.isVisible}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.bookingQuestionField.isRequired">Is Required</span></dt>
        <dd>
            <span>{{bookingQuestionField.isRequired}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.bookingQuestionField.bookingQuestion">Booking Question</span></dt>
        <dd>
            <div *ngIf="bookingQuestionField.bookingQuestionId">
                <a [routerLink]="['/booking-question', bookingQuestionField.bookingQuestionId]">{{bookingQuestionField.bookingQuestionName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'booking-question-field/'+ bookingQuestionField.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
