<div>
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_wizardState.clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_wizardState.clientCampaign.name" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_managers">Managers</label>
        <ng-select id="field_managers"
                   [items]="managers"
                   multiple="true"
                   bindLabel="login"
                   [(ngModel)]="_wizardState.clientCampaign.managers"
                   [loading]="managersLoading">
        </ng-select>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_users">Users</label>
        <ng-select id="field_users"
                   [items]="users"
                   multiple="true"
                   bindLabel="login"
                   [(ngModel)]="_wizardState.clientCampaign.users"
                   [loading]="usersLoading">
        </ng-select>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_qa_users">QA Person, Please select 2</label>
        <ng-select id="field_qa_users"
                   [items]="qaUsers"
                   multiple="true"
                   bindLabel="login"
                   [(ngModel)]="_wizardState.clientCampaign.qaUsers"
                   [loading]="qaUsersLoading">
        </ng-select>
    </div>

    <div *ngFor="let item of _wizardState.clientCampaign.portalUsers; let i = index"
         class="card form-group">
        <div class="card-header">
            New Portal User
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    (click)="removePortalUser(item)">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>-->

            <div class="form-group">
                <label class="form-control-label" [for]="'field_email_'+i">Email</label>
                <input type="email" class="form-control" name="name" #email="ngModel" [id]="'field_email_'+i"
                       minlength=3 maxlength=100 email required
                       [ngModel]="item.email"
                       (blur)="exitEditingMode(item, $event)"/>

                <!--<ng-select [id]="'field_email_'+i"
                           [items]="portalUsers$ | async"
                           bindLabel="email"
                           [addTag]="true"
                           [multiple]="false"
                           [hideSelected]="true"
                           [loading]="portalUsersLoading"
                           [typeahead]="portalUsersInput$"
                           [(ngModel)]="item.email"
                           (ngModelChange)="setItemEmail(item, $event)">
                </ng-select>-->

            </div>

            <!--<div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input" type="checkbox" [id]="'field_email_outcome_'+i"
                       [(ngModel)]="item.emailOutcome">
                <label class="custom-control-label" [for]="'field_email_outcome_'+i">Email outcomes</label>
            </div>

            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input" type="checkbox" [id]="'field_email_daily_'+i"
                       [(ngModel)]="item.emailDaily">
                <label class="custom-control-label" [for]="'field_email_daily_'+i">Email daily</label>
            </div>-->
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="button" id="btn-add-portal-user"
                (click)="addPortalUser()">
            <span
                aria-hidden="true">{{_wizardState.clientCampaign.portalUsers.length ? 'Add Another Portal User' : 'Add Portal User'}}</span>
        </button>
    </div>

</div>
