<div [ngStyle]="panelsNgStyle">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_clientCampaign.name" readonly/>
    </div>

    <h4>Overview</h4>

    <div class="form-group">
        <label class="form-control-label" for="field_users">Campaign Manager</label>
        <ng-select id="field_users"
                   [items]="users"
                   multiple="true"
                   bindLabel="login"
                   [(ngModel)]="_clientCampaign.managers"
                   disabled>
        </ng-select>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_website">Website</label>
        <input type="text" class="form-control" name="website" id="field_website"
               [(ngModel)]="_clientCampaign.website"
               [readOnly]="isReadonlyMode()"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_appointmentType">Appointment Type</label>
        <input type="text" class="form-control" name="appointmentType" id="field_appointmentType"
               [(ngModel)]="_clientCampaign.appointmentType"
               [readOnly]="isReadonlyMode()"/>
    </div>

    <h4>Details of Appointment Attendees</h4>

    <div *ngFor="let appointmentAttendee of _clientCampaign.appointmentAttendees; let i = index"
         class="card form-group">
        <div class="card-header">
            Appointment Attendee #{{i + 1}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    (click)="removeAttendee(appointmentAttendee)"
                    [disabled]="isReadonlyMode()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>-->

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="field_appointmentAttendee_name">Name</label>
                        <input type="text" class="form-control" name="appointmentAttendee_name"
                               id="field_appointmentAttendee_name"
                               [(ngModel)]="appointmentAttendee.name"
                               (blur)="exitAttendee(appointmentAttendee, $event)"
                               #appointmentNames
                               required
                               [readOnly]="isReadonlyMode()"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="field_appointmentAttendee_contactDetail">Contact
                            details</label>
                        <input type="text" class="form-control" name="appointmentAttendee_contactDetail"
                               id="field_appointmentAttendee_contactDetail"
                               [(ngModel)]="appointmentAttendee.contactDetail"
                               (blur)="exitAttendee(appointmentAttendee, $event)"
                               [readOnly]="isReadonlyMode()"/>
                    </div>
                </div>
            </div>

            <h4>Diary Login Details</h4>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="field_domain">Domain</label>
                        <input type="text" class="form-control" name="domain" id="field_domain"
                               [(ngModel)]="appointmentAttendee.domain"
                               (blur)="exitAttendee(appointmentAttendee, $event)"
                               [readOnly]="isReadonlyMode()"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_username">Username</label>
                        <input type="text" class="form-control" name="username" id="field_username"
                               [(ngModel)]="appointmentAttendee.username"
                               (blur)="exitAttendee(appointmentAttendee, $event)"
                               [readOnly]="isReadonlyMode()"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_password">Password</label>
                        <input type="text" class="form-control" name="password" id="field_password"
                               [(ngModel)]="appointmentAttendee.password"
                               (blur)="exitAttendee(appointmentAttendee, $event)"
                               [readOnly]="isReadonlyMode()"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="field_appointmentDays">No. days out to set
                            appointments</label>
                        <ng-select id="field_appointmentDays" name="appointmentDays"
                                   [items]="AppointmentDays.ITEMS"
                                   bindLabel="name"
                                   bindValue="ident"
                                   [(ngModel)]="appointmentAttendee.appointmentDays"
                                   (blur)="exitAttendee(appointmentAttendee, $event)"
                                   [disabled]="isReadonlyMode()">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="button" id="btn-add-attendee"
                (click)="addAttendee()"
                [disabled]="isReadonlyMode()">
            <span
                aria-hidden="true">{{_clientCampaign.appointmentAttendees.length ? 'Add Another Attendee' : 'Add Attendee'}}</span>
        </button>
    </div>

    <h4>Meeting Details</h4>

    <div class="form-group">
        <label class="form-control-label" for="field_meetingDuration">Meeting Duration</label>
        <input type="text" class="form-control" name="meetingDuration" id="field_meetingDuration"
               [(ngModel)]="_clientCampaign.meetingDuration"
               [readOnly]="isReadonlyMode()"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_specialRequests">Any special requests</label>
        <input type="text" class="form-control" name="specialRequests" id="field_specialRequests"
               [(ngModel)]="_clientCampaign.specialRequests"
               [readOnly]="isReadonlyMode()"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_resultsPerHour">Results per Hour</label>
        <input type="text" class="form-control" name="resultsPerHour" id="field_resultsPerHour"
               [(ngModel)]="_clientCampaign.resultsPerHour"
               [readOnly]="isReadonlyMode()"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_qualityControl">Quality control</label>
        <input type="text" class="form-control" name="qualityControl" id="field_qualityControl"
               [(ngModel)]="_clientCampaign.qualityControl"
               [readOnly]="isReadonlyMode()"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_comments">Comments & Updates</label>
        <input type="text" class="form-control" name="comments" id="field_comments"
               [(ngModel)]="_clientCampaign.comments"
               [readOnly]="isReadonlyMode()"/>
    </div>

</div>
