<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_wizardState?.clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_name">Campaign Name</label>
        <input type="text" class="form-control" name="name" id="field_name"
               [(ngModel)]="_wizardState.clientCampaign.name" required/>
        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_strategy_document">Strategy Document</label>
        <input type="text" class="form-control" name="strategy_document" id="field_strategy_document"
               [(ngModel)]="_wizardState.clientCampaign.strategyDocument"
               placeholder="Paste Hyperlink Here"/>
    </div>

    <div *ngFor="let item of _wizardState.clientCampaign.addDocs; let i = index">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label" [for]="'field_additional_document'+i">Additional Document</label>
                    <input type="text" class="form-control" [name]="'additional_document'+i"
                           [id]="'field_additional_document'+i"
                           [(ngModel)]="item.link"
                           (blur)="exitAddDoc(item, $event)"
                           #addDocLinks
                           placeholder="Paste Hyperlink Here"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label" [for]="'field_free_text'+i">Free Text</label>
                    <div class="input-group">
                        <input type="text" class="form-control" [name]="'free_text'+i"
                               [id]="'field_free_text'+i"
                               [(ngModel)]="item.text"
                               (blur)="exitAddDoc(item, $event)"/>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-danger" data-dismiss="alert" aria-label="Close"
                                    (click)="removeAdditionalDocument(item)">
                                <span class="fa fa-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="button" id="btn-add-additional-document"
                (click)="addAdditionalDocument()">
            <span
                aria-hidden="true">{{_wizardState.clientCampaign.addDocs.length ? 'Add Another Additional Document' : 'Add Additional Document'}}</span>
        </button>
    </div>
</form>
