<div>
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group row justify-content-end">
        <div class="col-3">
            <label class="form-control-label" for="field_status">Filter Clients by Status</label>
            <ng-select id="field_status"
                       [items]="clientCompanyStatuses$ | async"
                       bindLabel="name"
                       [(ngModel)]="selectedClientCompanyStatus"
                       (change)="statusChange($event)">
            </ng-select>
        </div>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client">Select / Create Client</label>
        <ng-select id="field_client" required
                   [items]="clientCompanies"
                   bindLabel="name"
                   bindValue="id"
                   [ngModel]="_wizardData.clientCampaign.clientCompanyId"
                   (ngModelChange)="changeClientCompany($event)"
                   [loading]="clientCompaniesLoading"
                   [addTag]="addClientCompanyPromise.bind(this)">

            <ng-template ng-tag-tmp let-search="searchTerm">
                <b>Create new client</b>: {{search}}
            </ng-template>
        </ng-select>
    </div>

    <div class="form-group">
        <label class="form-control-label" jhiTranslate="cmaApp.clientCompany.industry"
               for="field_industry">Industry</label>
        <select class="form-control" id="field_industry" name="industry"
                [(ngModel)]="_wizardData.clientCampaign.clientCompanyIndustryId"
                (ngModelChange)="changeClientCompanyIndustry($event)"
                [disabled]="!this._wizardData.clientCampaign.clientCompanyId">
            <option [ngValue]="null"></option>
            <option [ngValue]="industryOption.id"
                    *ngFor="let industryOption of industries; trackBy: trackIndustryById">{{industryOption.name}}</option>
        </select>
    </div>
</div>
