<div>
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_wizardState.clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_wizardState.clientCampaign.name" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="copy_template">Copy Template from another campaign</label>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <ng-select id="field_campaign" name="field_campaign"
                               [items]="clientCampaigns"
                               bindLabel="name"
                               [(ngModel)]="clientCampaign">
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <ng-select id="field_template" name="field_template"
                               [items]="clientCampaign?.emailTemplates"
                               bindLabel="name"
                               [(ngModel)]="emailTemplate">
                    </ng-select>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="button" id="btn-clone"
                (click)="cloneEmail()">
            <span>Clone</span>
        </button>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="copy_template">Email Templates for Campaign</label>

        <div class="table-responsive" *ngIf="_wizardState.clientCampaign.emailTemplates.length">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="cmaApp.emailTemplate.name">Name</span></th>
                    <th><span jhiTranslate="cmaApp.emailTemplate.subject">Subject</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let emailTemplate of _wizardState.clientCampaign.emailTemplates ;trackBy: trackId">
                    <td>{{emailTemplate.name}}</td>
                    <td>{{emailTemplate.subject}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!--<button type="submit" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>-->
                            <button type="submit" class="btn btn-primary btn-sm"
                                    (click)="editTemplate(emailTemplate)">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'email-template/'+ emailTemplate.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="form-group">
        <button class="btn btn-primary" type="button" id="btn-new-email-template"
                (click)="createNewEmailTemplate()">
            <span>Create New Email Template</span>
        </button>
    </div>

</div>
