<div [ngStyle]="panelsNgStyle">
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_clientCampaign.name" readonly/>
    </div>

    <h4>Controller</h4>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_controller_full_name">Full Name</label>
                <input type="text" class="form-control" name="controller_full_name" id="field_controller_full_name"
                       [(ngModel)]="_clientCampaign.controllerFullName"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_controller_job_role">Job Role</label>
                <input type="text" class="form-control" name="controller_job_role" id="field_controller_job_role"
                       [(ngModel)]="_clientCampaign.controllerJobRole"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_controller_email">Email</label>
                <input type="text" class="form-control" name="controller_email" id="field_controller_email"
                       [(ngModel)]="_clientCampaign.controllerEmail"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_controller_phone">Phone</label>
                <input type="text" class="form-control" name="controller_phone" id="field_controller_phone"
                       [(ngModel)]="_clientCampaign.controllerPhone"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_controller_company_name">Company Name</label>
                <input type="text" class="form-control" name="controller_company_name"
                       id="field_controller_company_name"
                       [(ngModel)]="_clientCampaign.controllerCompanyName"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_controller_company_reg">Company Reg</label>
                <input type="text" class="form-control" name="controller_company_reg" id="field_controller_company_reg"
                       [(ngModel)]="_clientCampaign.controllerCompanyReg"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_controller_company_address">Company Address</label>
                <input type="text" class="form-control" name="controller_company_address"
                       id="field_controller_company_address"
                       [(ngModel)]="_clientCampaign.controllerCompanyAddress"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
    </div>

    <h4>SARs</h4>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_sars_full_name">Full Name</label>
                <input type="text" class="form-control" name="sars_full_name" id="field_sars_full_name"
                       [(ngModel)]="_clientCampaign.sarsFullName"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_sars_job_role">Job Role</label>
                <input type="text" class="form-control" name="sars_job_role" id="field_sars_job_role"
                       [(ngModel)]="_clientCampaign.sarsJobRole"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_sars_email">Email</label>
                <input type="text" class="form-control" name="sars_email" id="field_sars_email"
                       [(ngModel)]="_clientCampaign.sarsEmail"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_sars_phone">Phone</label>
                <input type="text" class="form-control" name="sars_phone" id="field_sars_phone"
                       [(ngModel)]="_clientCampaign.sarsPhone"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_sars_company_name">Company Name</label>
                <input type="text" class="form-control" name="sars_company_name" id="field_sars_company_name"
                       [(ngModel)]="_clientCampaign.sarsCompanyName"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_sars_company_reg">Company Reg</label>
                <input type="text" class="form-control" name="sars_company_reg" id="field_sars_company_reg"
                       [(ngModel)]="_clientCampaign.sarsCompanyReg"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="form-control-label" for="field_sars_company_address">Company Address</label>
                <input type="text" class="form-control" name="sars_company_address" id="field_sars_company_address"
                       [(ngModel)]="_clientCampaign.sarsCompanyAddress"
                       [readOnly]="isReadonlyMode()"/>
            </div>
        </div>
    </div>

    <h4>LIA</h4>

    <div class="row">
        <div class="col-12">
            <label class="form-control-label" for="field_lia_hyperlink">Hyperlink</label>
            <div class="form-group input-group">
                <input type="text" class="form-control" name="lia_hyperlink" id="field_lia_hyperlink"
                       #liaHyperlink
                       [(ngModel)]="_clientCampaign.liaHyperlink"
                       [readOnly]="isReadonlyMode()"
                       placeholder="Paste Hyperlink Here"/>
            </div>
        </div>
    </div>

</div>
