<div>
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_wizardState?.clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_wizardState?.clientCampaign.name" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_users">Managers</label>
        <ng-select id="field_users"
                   [items]="users"
                   multiple="true"
                   bindLabel="login"
                   [ngModel]="_wizardState.clientCampaign.managers"
                   [loading]="usersLoading"
                   disabled="">
        </ng-select>
    </div>

    <div class="form-group" *ngIf="_wizardState.clientCampaign.clientLists.length">
        <label class="form-control-label">Lists For Campaign</label>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="cmaApp.clientList.name">Name</span></th>
                    <th><span jhiTranslate="cmaApp.clientList.rowCount">No. Items</span></th>
                    <th><span jhiTranslate="cmaApp.clientList.portalUsers">Assigned Portal Users</span></th>
                </tr>

                </thead>
                <tbody>
                <tr *ngFor="let clientList of _wizardState.clientCampaign.clientLists; index as i; trackBy: trackId">
                    <td>{{clientList.name}}</td>
                    <td>{{clientList.rowCount || 0}}</td>
                    <td>{{portalUsersNameForLists[i] || 'Available To All'}} </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!--<a [routerLink]="['/client-list', clientList.id ]" target="_blank"
                               class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </a>-->
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'client-list/'+ clientList.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <a [routerLink]="['/client-list', clientList.id, 'grid' ]" target="_blank"
                               class="btn btn-info btn-sm">
                                <span class="fa fa-table"></span>
                                <span class="d-none d-md-inline">Grid</span>
                            </a>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'client-list/'+ clientList.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm"
                                    *ngIf="!principal.hasOnlyAuthorityDirect(['ROLE_USER'])">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <label class="form-control-label">Upload A New List</label>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="field_list_name">List Name</label>
                    <input type="text" class="form-control" name="name" id="field_list_name"
                           [(ngModel)]="listName" required/>
                    <!--<div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="field_csv">List Source Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" id="field_csv"
                               [ngModel]="getFileNameWithoutExtension()"
                               disabled
                               required/>
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-file">
                                <span>Select list file to upload</span>
                                <input #fileInput
                                       type="file"
                                       accept=".csv, text/csv"
                                       (change)="handleFileInput($event.target.files)"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <div class="float-right">
                    <button class="btn btn-primary" type="button" id="btn-new-email-template"
                            (click)="createNewClientList()">
                        <span>Create New Client List</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
