<div class="mapping-component">
    <div class="modal-header">
        <h4 class="modal-title" id="myEmailTemplateLabel">
            Create a Client List Mapping</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" for="field_list_name">List Name</label>
            <input type="text" class="form-control" name="name" id="field_list_name"
                   [ngModel]="mappingState.listName" readonly/>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_list_name">List Source Name</label>
            <input type="text" class="form-control" name="name" id="field_csv"
                   [ngModel]="getFileNameWithoutExtension()" readonly/>
        </div>

        <div class="row">
            <div class="col-7">
                <div class="form-inline">
                    <label class="form-control-label my-1 mr-2"><b>Fields in Hamilton</b></label>

                    <!--<div class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox" id="only_mapped"
                               [(ngModel)]="onlyMapped">
                        <label class="custom-control-label" for="only_mapped">Only mapped</label>
                    </div>-->
                </div>

                <div *ngFor="let oldField of oldFields"
                     class="row"
                     [hidden]="!displayNewField(oldField)">
                    <div class="col-3">
                        <span *ngIf="oldField.field.mandatory" style="color: red; font-weight: bold">* </span>
                        <span>{{oldField.field.name}}</span>
                    </div>
                    <div class="col-7">
                        <div class="field-drop-zone"
                             [attr.data-field-id]="oldField.field.id"
                             [dragula]="COLUMN"
                             [(dragulaModel)]="elementByField[oldField.field.id]">
                            <div class="alert pointer alert-dismissible fade show" role="alert"
                                 [ngClass]="oldField.isOrgInformation ? 'alert-danger' : 'alert-info'"
                                 *ngFor="let element of elementByField[oldField.field.id]"
                                 [attr.data-header-index]="element.index">
                                {{getHeaderName(element)}}
                                <button type="button" class="close" (click)="toggleOrgInformation(oldField)"
                                        style="right: 54px; font-size: 1rem;"
                                        [ngbTooltip]="'Click here to ' + (oldField.isOrgInformation ? 'unmark' : 'mark') + ' this field as Organization Information'"
                                        container="body">
                                    <span aria-hidden="true" class="fa fa-home"></span>
                                </button>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                        (click)="unMapOldField(oldField)"
                                        ngbTooltip="Remove mapping"
                                        container="body">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2" [hidden]="!displayCheckboxes(oldField.field)">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" [id]="oldField.field.id+'_edit'"
                                   [(ngModel)]="oldField.editable">
                            <label class="custom-control-label" [for]="oldField.field.id+'_edit'">Editable</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" [id]="oldField.field.id+'_vis'"
                                   [disabled]="oldField.field.mandatory"
                                   [(ngModel)]="oldField.visible">
                            <label class="custom-control-label" [for]="oldField.field.id+'_vis'">Visible</label>
                        </div>
                    </div>
                </div>

                <hr [hidden]="newFields.length === 0"/>

                <div *ngFor="let newField of newFields"
                     class="row">
                    <div class="col-3">
                        <span>{{getHeaderName(newField.header)}}</span>
                    </div>
                    <div class="col-7">
                        <div class="field-drop-zone">
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 [ngClass]="newField.isOrgInformation ? 'alert-danger' : 'alert-success'">
                                {{getHeaderName(newField.header)}}
                                <button type="button" class="close" (click)="toggleOrgInformation(newField)"
                                        style="right: 54px; font-size: 1rem;"
                                        [ngbTooltip]="'Click here to ' + (newField.isOrgInformation ? 'unmark' : 'mark') + ' this field as Organization Information'"
                                        container="body">
                                    <span aria-hidden="true" class="fa fa-home"></span>
                                </button>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                        (click)="removeNewField(newField)"
                                        ngbTooltip="Remove mapping"
                                        container="body">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" [id]="newField+'_edit'"
                                   [(ngModel)]="newField.editable">
                            <label class="custom-control-label" [for]="newField+'_edit'">Editable</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" [id]="newField+'_vis'"
                                   [(ngModel)]="newField.visible">
                            <label class="custom-control-label" [for]="newField+'_vis'">Visible</label>
                        </div>
                    </div>
                </div>

                <hr [hidden]="newFieldsNoMapping.length === 0"/>

                <div *ngFor="let newFieldNoMapping of newFieldsNoMapping"
                     class="row">
                    <div class="col-3">
                        <span>{{newFieldNoMapping.name}}</span>
                    </div>
                    <div class="col-7">
                        <div class="field-drop-zone">
                            <div class="alert alert-secondary alert-dismissible fade show" role="alert"
                                 [ngClass]="newFieldNoMapping.isOrgInformation ? 'alert-danger' : 'alert-secondary'">
                                <button type="button" class="close" (click)="toggleOrgInformation(newFieldNoMapping)"
                                        style="right: 54px; font-size: 1rem;"
                                        [ngbTooltip]="'Click here to ' + (newFieldNoMapping.isOrgInformation ? 'unmark' : 'mark') + ' this field as Organization Information'"
                                        container="body">
                                    <span aria-hidden="true" class="fa fa-home"></span>
                                </button>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                        (click)="removeNewFieldNoMapping(newFieldNoMapping)"
                                        ngbTooltip="Remove mapping"
                                        container="body">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" [id]="newFieldNoMapping.name+'_newedit'"
                                   [(ngModel)]="newFieldNoMapping.editable">
                            <label class="custom-control-label"
                                   [for]="newFieldNoMapping.name+'_newedit'">Editable</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" [id]="newFieldNoMapping.name+'_newvis'"
                                   [(ngModel)]="newFieldNoMapping.visible">
                            <label class="custom-control-label" [for]="newFieldNoMapping.name+'_newvis'">Visible</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-7">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="New field..." aria-label="New field..."
                                   aria-describedby="btn-add-new-field"
                                   [(ngModel)]="newFieldName"
                                   (keyup.enter)="tryToAddNewFieldNoMapping()">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" id="btn-add-new-field"
                                        (click)="tryToAddNewFieldNoMapping()">Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <label class="form-control-label">Fields in Import List</label>

                <div class="row"
                     *ngFor="let header of headers">
                    <div class="col-12">
                        <div class="field-drop-zone"
                             [hidden]="elementByIndex[header.index].length !== 0"
                             [dragula]="COLUMN"
                             [(dragulaModel)]="elementByIndex[header.index]"
                             [attr.data-header-index]="header.index">
                            <div class="alert alert-light" role="alert">
                                {{getHeaderName(header)}}
                            </div>
                        </div>

                        <div class="field-drop-zone"
                             [hidden]="elementByIndex[header.index].length === 0"
                             [dragula]="COLUMN"
                             [(dragulaModel)]="elementByIndex[header.index]"
                             [attr.data-header-index]="header.index">
                            <div class="alert pointer alert-dismissible fade show" role="alert"
                                 *ngFor="let element of elementByIndex[header.index]"
                                 [ngClass]="containsCaption(header) ? 'alert-info' : 'alert-warning'"
                                 [attr.data-header-index]="header.index">
                                <div *ngIf="editingHeader !== header;else mode_enter_name">
                                    <span>{{getHeaderName(header)}}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Add"
                                            [disabled]="!containsCaption(header) && !containsNewName(header)"
                                            (click)="mapOrMakeNewField(header)"
                                            ngbTooltip="Mapping as New field"
                                            container="body">
                                        <span aria-hidden="true">+</span>
                                    </button>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Edit name"
                                            style="right: 50px;"
                                            [hidden]="containsCaption(header)"
                                            (click)="enterEditingMode(header)">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                </div>
                            </div>

                            <ng-template #mode_enter_name>
                                <input type="text" class="form-control no-padding"
                                       #enterHeaderName
                                       [(ngModel)]="enteredHeaderName"
                                       (keyup.enter)="applyHeaderName()"
                                       (keyup.esc)="exitEditingMode()"
                                       (blur)="exitEditingMode()"/>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="isSaving" (click)="save()">
            <span class="fa fa-save"></span>&nbsp;<span>Upload</span>
        </button>
    </div>
</div>
