<div>
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_clientCampaign.name" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_templates">Copy outcomes from a standard template</label>
        <div class="row">
            <div class="col-3">
                <ng-select id="field_templates"
                           [items]="templates"
                           bindLabel="name"
                           [(ngModel)]="template">
                </ng-select>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="button" id="btn-templates-outcomes"
                        (click)="addTemplatesOutcomes()">
                    <span aria-hidden="true">Use template's outcomes</span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_campaigns">Copy outcomes from another campaign</label>
        <div class="row">
            <div class="col-3">
                <ng-select id="field_campaigns"
                           [items]="campaigns"
                           bindLabel="name"
                           [(ngModel)]="campaign">
                </ng-select>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="button" id="btn-campaigns-outcomes"
                        (click)="addCampaignsOutcomes()">
                    <span aria-hidden="true">Use campaign's outcomes</span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_campaigns">List of standard outcomes</label>
        <div class="row">
            <div class="col-3">
                <ng-select id="field_outcomes"
                           [items]="outcomes"
                           bindLabel="name"
                           [(ngModel)]="outcome">
                </ng-select>
            </div>
            <div class="col">
                <button class="btn btn-outline-success" type="button" id="btn-add-outcome"
                        (click)="addOutcome()">
                    <span aria-hidden="true">Add Outcome to Campaign</span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group" *ngIf="sortedOutcomes.length">
        <label class="form-control-label">Outcomes For Campaign</label>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="cmaApp.outcome.name">Name</span></th>
                    <th><span jhiTranslate="cmaApp.outcome.type">Type</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let outcome of sortedOutcomes; let i = index">
                    <td>{{outcome.name}}</td>
                    <td>{{outcome.typeName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" class="btn btn-outline-primary btn-sm"
                                    [disabled]="!canMoveDown(outcome, i)"
                                    (click)="moveDown(outcome)">
                                <span class="fa fa-arrow-down"></span>
                                <!--<span class="d-none d-md-inline">Edit</span>-->
                            </button>
                            <button type="submit" class="btn btn-outline-primary btn-sm"
                                    [disabled]="!canMoveUp(outcome, i)"
                                    (click)="moveUp(outcome)">
                                <span class="fa fa-arrow-up"></span>
                                <!--<span class="d-none d-md-inline">Edit</span>-->
                            </button>

                            <a [routerLink]="['/outcome', outcome.id ]" target="_blank"
                               class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </a>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'outcome/'+ outcome.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'outcome/'+ outcome.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
