<div>
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_wizardState.clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_wizardState.clientCampaign.name" readonly/>
    </div>

    <h4>Reporting Settings For Campaign</h4>

    <div class="form-group">
        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox"
                   id="field_weekly_headline_stats" name="field_weekly_headline_stats"
                   [(ngModel)]="_wizardState.clientCampaign.weeklyHeadlineStats">
            <label class="custom-control-label" for="field_weekly_headline_stats">Send Weekly Headline Stats To
                Managers</label>
            &nbsp;<span class="fa fa-question-circle"
                        ngbTooltip="Each week a PDF is created that shows weekly headline stats for the campaign. Emailed to the account managers of this campaign"
                        container="body"></span>
        </div>
    </div>

    <h4>Reporting Settings For Client</h4>

    <div class="form-group">
        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox"
                   id="field_allowed_export_data" name="field_allowed_export_data"
                   [(ngModel)]="_wizardState.clientCampaign.allowedExportData">
            <label class="custom-control-label" for="field_allowed_export_data">Allowed to export data?</label>
            <!--&nbsp;<span class="fa fa-question-circle"
                        ngbTooltip="TODO need business"
                        container="body"></span>-->
        </div>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_users_allowed_export">Users Allowed To Export</label>
        <ng-select id="field_users_allowed_export" name="field_users_allowed_export"
                   #portalUsersAllowedToExportSelect
                   [items]="portalUsers"
                   multiple="true"
                   bindLabel="email"
                   bindValue="id"
                   [(ngModel)]="_wizardState.clientCampaign.portalUsersAllowedToExport"
                   [disabled]="!_wizardState.clientCampaign.allowedExportData">
        </ng-select>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_sar_report">Send SAR Report</label>
        <div class="row">
            <div class="col-6">
                <ng-select id="field_sar_report" name="field_sar_report"
                           [items]="RATES"
                           bindLabel="name"
                           bindValue="ident"
                           [(ngModel)]="_wizardState.clientCampaign.sarReportIdent">
                </ng-select>
            </div>
            <div class="col-2">
                <input id="field_sar_report_time" type="time" class="form-control" name="field_sar_report_time"
                       style="height: 36px;"
                       [(ngModel)]="_wizardState.clientCampaign.sarReportTime"/>
                <!--&nbsp;<span class="fa fa-question-circle"
                            ngbTooltip="This will allow time of running to be selected"
                            container="body"></span>-->
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_stats_summary">Send Stats Summary & Report</label>
        <div class="row">
            <div class="col-6">
                <ng-select id="field_stats_summary" name="field_stats_summary"
                           [items]="RATES"
                           bindLabel="name"
                           bindValue="ident"
                           [(ngModel)]="_wizardState.clientCampaign.statsSummaryIdent">
                </ng-select>
            </div>
            <div class="col-2">
                <input id="field_stats_summary_time" type="time" class="form-control" name="field_stats_summary_time"
                       style="height: 36px;"
                       [(ngModel)]="_wizardState.clientCampaign.statsSummaryTime"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_report_distribution_method">Reports Distribution Method</label>
        <ng-select id="field_report_distribution_method" name="field_report_distribution_method"
                   [items]="METHODS"
                   multiple="true"
                   bindLabel="name"
                   bindValue="ident"
                   [(ngModel)]="_wizardState.clientCampaign.reportDistributionMethods">
        </ng-select>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_reports_delivered_to_users">Reports Delivered To Users</label>
        <ng-select id="field_reports_delivered_to_users" name="field_reports_delivered_to_users"
                   #reportsDeliveredToUsersSelect
                   [items]="portalUsers"
                   multiple="true"
                   bindLabel="email"
                   bindValue="id"
                   [(ngModel)]="_wizardState.clientCampaign.reportsDeliveredToUsers">
        </ng-select>
    </div>

    <h4>Outcome Email Notifications Per User</h4>

    <div class="form-group">
        <!--<label class="form-control-label" for="copy_template">Email Templates for Campaign</label>-->

        <div class="table-responsive" *ngIf="_wizardState.clientCampaign.portalUsers.length">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Email</span></th>
                    <th><span>Email Immediately</span></th>
                    <th><span>Email Daily Digest</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let portalUser of _wizardState.clientCampaign.portalUsers ;trackBy: trackId">
                    <td>{{portalUser.email}}</td>
                    <td>{{summaryMap[portalUser.id]?.emailImmediately ? 'Yes' : 'No'}}</td>
                    <td>{{summaryMap[portalUser.id]?.emailDaily ? 'Yes' : 'No'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!--<button class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>-->
                            <button type="submit" class="btn btn-primary btn-sm"
                                    (click)="editPortalUser(portalUser)">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
