<div>
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_wizardState.clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_wizardState.clientCampaign.name" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_campaigns">Copy scripts from another campaign</label>
        <div class="row">
            <div class="col-3">
                <ng-select id="field_campaigns"
                           [items]="campaigns"
                           bindLabel="name"
                           [(ngModel)]="campaign">
                </ng-select>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="button" id="btn-campaigns-outcomes"
                        (click)="addCampaignsScripts()">
                    <span aria-hidden="true">Use campaign's scripts</span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-outline-success" type="button" id="btn-add-script"
                (click)="createNewScript()">
            <span aria-hidden="true">Create New Script</span>
        </button>
    </div>

    <div class="form-group" *ngIf="_wizardState.clientCampaign.scripts.length">
        <label class="form-control-label">Scripts For Campaign</label>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="cmaApp.clientCampaignScript.name">Name</span></th>
                    <th><span>Text Of Script</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let script of _wizardState.clientCampaign.scripts ;trackBy: trackId">
                    <td>{{script.name}}</td>
                    <td style="display: flex;">
                        <div [innerHTML]="script.excerpt | slice:0:80"></div>
                        {{script.excerpt?.length > 80 ? '...' : ''}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/client-campaign-script', script.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'client-campaign-script/'+ script.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'client-campaign-script/'+ script.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
