<div>
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_wizardState.clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_wizardState.clientCampaign.name" readonly/>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="button" id="btn-sms-tab-not-required"
                (click)="_wizardState.clientCampaign.smsTabNotRequired = !_wizardState.clientCampaign.smsTabNotRequired">
            <span
                aria-hidden="true">{{_wizardState.clientCampaign.smsTabNotRequired ? 'Mark as "Required"' : 'Mark as "Not required"'}}</span>
        </button>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_campaigns">Copy SMS texts from another campaign</label>
        <div class="row">
            <div class="col-3">
                <ng-select id="field_campaigns"
                           [items]="campaigns"
                           bindLabel="name"
                           [(ngModel)]="campaign">
                </ng-select>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="button" id="btn-campaigns-outcomes"
                        (click)="addCampaignsSmss()">
                    <span aria-hidden="true">Use campaign's SMS's</span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-outline-success" type="button" id="btn-add-sms"
                (click)="createNewSms()">
            <span aria-hidden="true">Create New SMS Text</span>
        </button>
    </div>

    <div class="form-group" *ngIf="_wizardState.clientCampaign.smss.length">
        <label class="form-control-label">SMS Texts For Campaign</label>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="cmaApp.clientCampaignSms.name">Name</span></th>
                    <th><span>Text Of SMS</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sms of _wizardState.clientCampaign.smss ;trackBy: trackId">
                    <td>{{sms.name}}</td>
                    <td>{{(sms.excerpt || '' | slice:0:80) + (sms.excerpt?.length > 80 ? '...' : '')}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/client-campaign-sms', sms.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'client-campaign-sms/'+ sms.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'client-campaign-sms/'+ sms.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
