<div>
    <jhi-alert-error></jhi-alert-error>

    <span>You have successfully created a Campaign</span>

    <!--<button type="submit"
            [routerLink]="['../client-list', clientCampaign.clientListId, 'grid' ]"
            class="btn btn-link">
        <span>Open loaded data</span>
    </button>-->
</div>
