<div>
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_wizardState.clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_wizardState.clientCampaign.name" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_survey_name">Survey name</label>
        <input type="text" class="form-control" name="survey_name" id="field_client_campaign_survey_name"
               [(ngModel)]="_wizardState.clientCampaign.surveyName"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_campaigns">Copy survey questions from another campaign</label>
        <div class="row">
            <div class="col-3">
                <ng-select id="field_campaigns"
                           [items]="campaigns"
                           bindLabel="name"
                           [(ngModel)]="campaign">
                </ng-select>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="button" id="btn-campaigns-outcomes"
                        (click)="addCampaignsSurveyQuestions()">
                    <span aria-hidden="true">Clone</span>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-outline-success" type="button" id="btn-add-survey-question"
                (click)="createNewSurveyQuestion()">
            <span aria-hidden="true">Add question</span>
        </button>
    </div>

    <div class="form-group" *ngIf="sortedSurveyQuestions.length">
        <label class="form-control-label">Survey questions for campaign</label>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <!--<th><span>Order</span></th>-->
                    <th><span>Question text</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let surveyQuestion of sortedSurveyQuestions; let i = index">
                    <!--<td>{{surveyQuestion.order}}</td>-->
                    <td>{{(surveyQuestion.questionText || '' | slice:0:80) + (surveyQuestion.questionText?.length > 80 ? '...' : '')}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" class="btn btn-outline-primary btn-sm"
                                    [disabled]="!canMoveDown(surveyQuestion, i)"
                                    (click)="moveDown(surveyQuestion)">
                                <span class="fa fa-arrow-down"></span>
                                <!--<span class="d-none d-md-inline">Edit</span>-->
                            </button>
                            <button type="submit" class="btn btn-outline-primary btn-sm"
                                    [disabled]="!canMoveUp(surveyQuestion, i)"
                                    (click)="moveUp(surveyQuestion)">
                                <span class="fa fa-arrow-up"></span>
                                <!--<span class="d-none d-md-inline">Edit</span>-->
                            </button>


                            <!--<button type="submit"
                                    [routerLink]="['/survey-question', surveyQuestion.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>-->
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'survey-question/'+ surveyQuestion.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'survey-question/'+ surveyQuestion.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
