<div>
    <jhi-alert-error></jhi-alert-error>

    <div class="form-group">
        <label class="form-control-label" for="field_client_company_name">Client</label>
        <input type="text" class="form-control" name="client_company_name" id="field_client_company_name"
               [ngModel]="_wizardState.clientCampaign.clientCompanyName" readonly/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_client_campaign_name">Campaign</label>
        <input type="text" class="form-control" name="client_campaign_name" id="field_client_campaign_name"
               [ngModel]="_wizardState.clientCampaign.name" readonly/>
    </div>

    <div class="row">
        <div class="col-4">
            <h4>Campaign Targets</h4>
        </div>
        <div class="col-4">
            <h4>Performance Threshold Configuration</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_callPerHour">Call Per Hour</label>
                <input type="number" class="form-control"
                       id="field_callPerHour" name="callPerHour"
                       [(ngModel)]="this._wizardState.clientCampaign.callPerHour"
                       [range]="[callPerHourMin(), callPerHourMax()]"
                       #callPerHour="ngModel"/>

                <div
                    *ngIf="callPerHour.invalid && (callPerHour.dirty || callPerHour.touched)">
                    <small *ngIf="callPerHour.errors?.range" class="form-text text-danger">Target
                        must be in range of {{callPerHourMin()}} to {{callPerHourMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_callPerHourLow">Low (numeric {{CALL_PER_HOUR_MIN}}
                    -{{CALL_PER_HOUR_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_callPerHourLow" name="callPerHourLow"
                       [(ngModel)]="this._wizardState.clientCampaign.callPerHourLow"
                       [range]="[CALL_PER_HOUR_MIN, callPerHourMax()]"
                       #callPerHourLow="ngModel"/>

                <div
                    *ngIf="callPerHourLow.invalid && (callPerHourLow.dirty || callPerHourLow.touched)">
                    <small *ngIf="callPerHourLow.errors?.range" class="form-text text-danger">Low
                        must be in range of 1 to {{callPerHourMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_callPerHourHigh">High (numeric {{CALL_PER_HOUR_MIN}}
                    -{{CALL_PER_HOUR_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_callPerHourHigh" name="callPerHourHigh"
                       [(ngModel)]="this._wizardState.clientCampaign.callPerHourHigh"
                       [range]="[callPerHourMin(), CALL_PER_HOUR_MAX]"
                       #callPerHourHigh="ngModel"/>

                <div
                    *ngIf="callPerHourHigh.invalid && (callPerHourHigh.dirty || callPerHourHigh.touched)">
                    <small *ngIf="callPerHourHigh.errors?.range" class="form-text text-danger">High
                        must be in range of {{callPerHourMin()}} to 40
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_conversationsPerHour">Conversations Per Hour</label>
                <input type="number" class="form-control"
                       id="field_conversationsPerHour" name="conversationsPerHour"
                       [(ngModel)]="this._wizardState.clientCampaign.conversationsPerHour"
                       [range]="[conversationsPerHourMin(), conversationsPerHourMax()]"
                       #conversationsPerHour="ngModel"/>

                <div
                    *ngIf="conversationsPerHour.invalid && (conversationsPerHour.dirty || conversationsPerHour.touched)">
                    <small *ngIf="conversationsPerHour.errors?.range" class="form-text text-danger">Target
                        must be in range of {{conversationsPerHourMin()}} to {{conversationsPerHourMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_conversationsPerHourLow">Low
                    (numeric {{CONVERSATIONS_PER_HOUR_MIN}}
                    -{{CONVERSATIONS_PER_HOUR_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_conversationsPerHourLow" name="conversationsPerHourLow"
                       [(ngModel)]="this._wizardState.clientCampaign.conversationsPerHourLow"
                       [range]="[CONVERSATIONS_PER_HOUR_MIN, conversationsPerHourMax()]"
                       #conversationsPerHourLow="ngModel"/>

                <div
                    *ngIf="conversationsPerHourLow.invalid && (conversationsPerHourLow.dirty || conversationsPerHourLow.touched)">
                    <small *ngIf="conversationsPerHourLow.errors?.range" class="form-text text-danger">Low
                        must be in range of 1 to {{conversationsPerHourMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_conversationsPerHourHigh">High
                    (numeric {{CONVERSATIONS_PER_HOUR_MIN}}
                    -{{CONVERSATIONS_PER_HOUR_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_conversationsPerHourHigh" name="conversationsPerHourHigh"
                       [(ngModel)]="this._wizardState.clientCampaign.conversationsPerHourHigh"
                       [range]="[conversationsPerHourMin(), CONVERSATIONS_PER_HOUR_MAX]"
                       #conversationsPerHourHigh="ngModel"/>

                <div
                    *ngIf="conversationsPerHourHigh.invalid && (conversationsPerHourHigh.dirty || conversationsPerHourHigh.touched)">
                    <small *ngIf="conversationsPerHourHigh.errors?.range" class="form-text text-danger">High
                        must be in range of {{conversationsPerHourMin()}} to 40
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_contactRate">Contact Rate, %</label>
                <input type="number" class="form-control"
                       id="field_contactRate" name="contactRate"
                       [(ngModel)]="this._wizardState.clientCampaign.contactRate"
                       [range]="[contactRateMin(), contactRateMax()]"
                       #contactRate="ngModel"/>

                <div
                    *ngIf="contactRate.invalid && (contactRate.dirty || contactRate.touched)">
                    <small *ngIf="contactRate.errors?.range" class="form-text text-danger">Target
                        must be in range of {{contactRateMin()}} to {{contactRateMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_contactRateLow">Low (percentage {{CONTACT_RATE_MIN}}
                    -{{CONTACT_RATE_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_contactRateLow" name="contactRateLow"
                       [(ngModel)]="this._wizardState.clientCampaign.contactRateLow"
                       [range]="[CONTACT_RATE_MIN, contactRateMax()]"
                       #contactRateLow="ngModel"/>

                <div
                    *ngIf="contactRateLow.invalid && (contactRateLow.dirty || contactRateLow.touched)">
                    <small *ngIf="contactRateLow.errors?.range" class="form-text text-danger">Low
                        must be in range of 1 to {{contactRateMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_contactRateHigh">High (percentage {{CONTACT_RATE_MIN}}
                    -{{CONTACT_RATE_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_contactRateHigh" name="contactRateHigh"
                       [(ngModel)]="this._wizardState.clientCampaign.contactRateHigh"
                       [range]="[contactRateMin(), CONTACT_RATE_MAX]"
                       #contactRateHigh="ngModel"/>

                <div
                    *ngIf="contactRateHigh.invalid && (contactRateHigh.dirty || contactRateHigh.touched)">
                    <small *ngIf="contactRateHigh.errors?.range" class="form-text text-danger">High
                        must be in range of {{contactRateMin()}} to 40
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_hoursPerLead">Hours Per Lead</label>
                <input type="number" class="form-control"
                       id="field_hoursPerLead" name="hoursPerLead"
                       [(ngModel)]="this._wizardState.clientCampaign.hoursPerLead"
                       [range]="[hoursPerLeadMin(), hoursPerLeadMax()]"
                       #hoursPerLead="ngModel"/>

                <div
                    *ngIf="hoursPerLead.invalid && (hoursPerLead.dirty || hoursPerLead.touched)">
                    <small *ngIf="hoursPerLead.errors?.range" class="form-text text-danger">Target
                        must be in range of {{hoursPerLeadMin()}} to {{hoursPerLeadMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_hoursPerLeadLow">Low (numeric {{HOURS_PER_LEAD_MIN}}
                    -{{HOURS_PER_LEAD_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_hoursPerLeadLow" name="hoursPerLeadLow"
                       [(ngModel)]="this._wizardState.clientCampaign.hoursPerLeadLow"
                       [range]="[HOURS_PER_LEAD_MIN, hoursPerLeadMax()]"
                       #hoursPerLeadLow="ngModel"/>

                <div
                    *ngIf="hoursPerLeadLow.invalid && (hoursPerLeadLow.dirty || hoursPerLeadLow.touched)">
                    <small *ngIf="hoursPerLeadLow.errors?.range" class="form-text text-danger">Low
                        must be in range of 1 to {{hoursPerLeadMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_hoursPerLeadHigh">High (numeric {{HOURS_PER_LEAD_MIN}}
                    -{{HOURS_PER_LEAD_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_hoursPerLeadHigh" name="hoursPerLeadHigh"
                       [(ngModel)]="this._wizardState.clientCampaign.hoursPerLeadHigh"
                       [range]="[hoursPerLeadMin(), HOURS_PER_LEAD_MAX]"
                       #hoursPerLeadHigh="ngModel"/>

                <div
                    *ngIf="hoursPerLeadHigh.invalid && (hoursPerLeadHigh.dirty || hoursPerLeadHigh.touched)">
                    <small *ngIf="hoursPerLeadHigh.errors?.range" class="form-text text-danger">High
                        must be in range of {{hoursPerLeadMin()}} to 40
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_conversionRate">Conversion Rate, %</label>
                <input type="number" class="form-control"
                       id="field_conversionRate" name="conversionRate"
                       [(ngModel)]="this._wizardState.clientCampaign.conversionRate"
                       [range]="[conversionRateMin(), conversionRateMax()]"
                       #conversionRate="ngModel"/>

                <div
                    *ngIf="conversionRate.invalid && (conversionRate.dirty || conversionRate.touched)">
                    <small *ngIf="conversionRate.errors?.range" class="form-text text-danger">Target
                        must be in range of {{conversionRateMin()}} to {{conversionRateMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_conversionRateLow">Low (percentage {{CONVERSION_RATE_MIN}}
                    -{{CONVERSION_RATE_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_conversionRateLow" name="conversionRateLow"
                       [(ngModel)]="this._wizardState.clientCampaign.conversionRateLow"
                       [range]="[CONVERSION_RATE_MIN, conversionRateMax()]"
                       #conversionRateLow="ngModel"/>

                <div
                    *ngIf="conversionRateLow.invalid && (conversionRateLow.dirty || conversionRateLow.touched)">
                    <small *ngIf="conversionRateLow.errors?.range" class="form-text text-danger">Low
                        must be in range of 1 to {{conversionRateMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_conversionRateHigh">High
                    (percentage {{CONVERSION_RATE_MIN}}
                    -{{CONVERSION_RATE_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_conversionRateHigh" name="conversionRateHigh"
                       [(ngModel)]="this._wizardState.clientCampaign.conversionRateHigh"
                       [range]="[conversionRateMin(), CONVERSION_RATE_MAX]"
                       #conversionRateHigh="ngModel"/>

                <div
                    *ngIf="conversionRateHigh.invalid && (conversionRateHigh.dirty || conversionRateHigh.touched)">
                    <small *ngIf="conversionRateHigh.errors?.range" class="form-text text-danger">High
                        must be in range of {{conversionRateMin()}} to 40
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_leadToSaleConversion">Lead To Sale Conversion, %</label>
                <input type="number" class="form-control"
                       id="field_leadToSaleConversion" name="leadToSaleConversion"
                       [(ngModel)]="this._wizardState.clientCampaign.leadToSaleConversion"
                       [range]="[leadToSaleConversionMin(), leadToSaleConversionMax()]"
                       #leadToSaleConversion="ngModel"/>

                <div
                    *ngIf="leadToSaleConversion.invalid && (leadToSaleConversion.dirty || leadToSaleConversion.touched)">
                    <small *ngIf="leadToSaleConversion.errors?.range" class="form-text text-danger">Target
                        must be in range of {{leadToSaleConversionMin()}} to {{leadToSaleConversionMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_leadToSaleConversionLow">Low
                    (percentage {{LEAD_TO_SALE_CONVERSION_MIN}}
                    -{{LEAD_TO_SALE_CONVERSION_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_leadToSaleConversionLow" name="leadToSaleConversionLow"
                       [(ngModel)]="this._wizardState.clientCampaign.leadToSaleConversionLow"
                       [range]="[LEAD_TO_SALE_CONVERSION_MIN, leadToSaleConversionMax()]"
                       #leadToSaleConversionLow="ngModel"/>

                <div
                    *ngIf="leadToSaleConversionLow.invalid && (leadToSaleConversionLow.dirty || leadToSaleConversionLow.touched)">
                    <small *ngIf="leadToSaleConversionLow.errors?.range" class="form-text text-danger">Low
                        must be in range of 1 to {{leadToSaleConversionMax()}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_leadToSaleConversionHigh">High
                    (percentage {{LEAD_TO_SALE_CONVERSION_MIN}}
                    -{{LEAD_TO_SALE_CONVERSION_MAX}})</label>
                <input type="number" class="form-control"
                       id="field_leadToSaleConversionHigh" name="leadToSaleConversionHigh"
                       [(ngModel)]="this._wizardState.clientCampaign.leadToSaleConversionHigh"
                       [range]="[leadToSaleConversionMin(), LEAD_TO_SALE_CONVERSION_MAX]"
                       #leadToSaleConversionHigh="ngModel"/>

                <div
                    *ngIf="leadToSaleConversionHigh.invalid && (leadToSaleConversionHigh.dirty || leadToSaleConversionHigh.touched)">
                    <small *ngIf="leadToSaleConversionHigh.errors?.range" class="form-text text-danger">High
                        must be in range of {{leadToSaleConversionMin()}} to 40
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_averageSaleValue">Average Sale Value</label>
                <input type="number" class="form-control"
                       id="field_averageSaleValue" name="averageSaleValue"
                       [(ngModel)]="this._wizardState.clientCampaign.averageSaleValue"
                       [range]="[this._wizardState.clientCampaign.averageSaleValueLow, this._wizardState.clientCampaign.averageSaleValueHigh]"
                       #averageSaleValue="ngModel"/>

                <div
                    *ngIf="averageSaleValue.invalid && (averageSaleValue.dirty || averageSaleValue.touched)">
                    <small *ngIf="averageSaleValue.errors?.range" class="form-text text-danger">Target
                        must be in range of {{this._wizardState.clientCampaign.averageSaleValueLow}}
                        to {{this._wizardState.clientCampaign.averageSaleValueHigh}}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_averageSaleValueLow">Low (currency £ - freetype)</label>
                <input type="number" class="form-control"
                       id="field_averageSaleValueLow" name="averageSaleValueLow"
                       [(ngModel)]="this._wizardState.clientCampaign.averageSaleValueLow"/>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="form-control-label" for="field_averageSaleValueHigh">High (currency £ - freetype)</label>
                <input type="number" class="form-control"
                       id="field_averageSaleValueHigh" name="averageSaleValueHigh"
                       [(ngModel)]="this._wizardState.clientCampaign.averageSaleValueHigh"/>
            </div>
        </div>
    </div>

</div>
