<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div [ngSwitch]="principal.hasOnlyAuthorityDirect(['ROLE_PORTAL_USER'])">
            <h1 *ngSwitchCase="false"
                class="display-4" jhiTranslate="home.title">Welcome, Hamilton User!</h1>
            <h1 *ngSwitchCase="true"
                class="display-4" jhiTranslate="home.portalTitle">Welcome, Portal User!</h1>
        </div>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}
                    ". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a
                    new account</a>
            </div>
            <div *ngIf="isAuthenticated()">
                <div class="alert" id="customiserId">
                    <a class="customise" (click)="customiseModal()">Customise</a>
                </div>
                <div class="alert">
                    <button class="btn btn-outline-primary" routerLink="my-pipeline" *ngIf="isCallBack">Call Back / Pipeline
                    </button>
                    <button class="btn btn-outline-primary" routerLink="client-feedback" *ngIf="isClientFeedback">My Client FeedBack
                    </button>
                    <button class="btn btn-outline-primary" routerLink="personal-bests" *ngIf="isPersonalBests">Personal Bests
                    </button>
                    <button class="btn btn-outline-primary" routerLink="/" *ngIf="isClientMeeting">Client Meetings this
                        week
                    </button>
                    <button class="btn btn-outline-primary" routerLink="email-sms" *ngIf="isEmail">SMS / Email Summary</button>

                    <button class="btn btn-outline-primary" routerLink="transaction-report" *ngIf="isTransactionReport">Transaction Report</button>
                </div>
            </div>
        </div>

        <!--<p jhiTranslate="home.question">-->
        <!--If you have any question on CMA:-->
        <!--</p>-->

        <!--<ul>-->
        <!--<li><a href="http://cma.qualitygateway.com/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">CMA homepage</a></li>-->
        <!--</ul>-->

    </div>
</div>
