/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/secure.png") no-repeat center top;
    background-size: contain;
}

.linkCustomiser {
    float: left;
    padding-right: 10px;
    color: blue !important;
}

.customise {
    float: right;
    padding-right: 10px;
    color: blue !important;
    text-decoration: underline !important;
}


.oval {
    left: 50px;
    top: 50px;
    width: 205px;
    height: 100px;
    background-color: transparent;
    border-color: red !important;
    border-radius: 100px / 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: -6px 3px 3px 0px;
    border-radius: 100px / 50px;
    margin-right: 10px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/secure2x.png") no-repeat center top;
        background-size: contain;
    }
}

