<div>
    <h4 class="pb-md-4">Alerts / Notifications</h4>

    <a *ngFor="let alertElement of alertElements"
       [routerLink]="['../console']"
       [queryParams]="{method: 'APPROVE_ONLY', campaignId: alertElement.campaignId, listId: alertElement.listId, contactRowNums: alertElement.contactRowNums}"
       class="pb-md-4">
        {{alertElement.campaignName + ' (' + alertElement.listName + ')'}}
    </a>

    <form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" jhiSortable="dateAlert" (sort)="onSort($event)">Date</th>
                <th scope="col" jhiSortable="typeAlert" (sort)="onSort($event)">Type</th>
                <th scope="col" jhiSortable="campaign" (sort)="onSort($event)">Campaign</th>
                <th scope="col" jhiSortable="descriptionAlert" (sort)="onSort($event)">Description</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alerts of alertElementsList | async; index as i">
                <td>
                    <ngb-highlight [result]="alerts.dateTime | date:'dd/MM/yyyy HH:mm:ss'"
                                   [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <div class="text-center alert alert-success" role="alert">
                        <ngb-highlight [result]="alerts.label" [term]="filter.value"></ngb-highlight>
                    </div>
                </td>
                <td>
                    <ngb-highlight [result]="alerts.campaignName" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="alerts.listName" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-outline-info" (click)="navigate(alerts)">View Record</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </form>


</div>
