<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientListDataLabel" jhiTranslate="cmaApp.clientListData.home.createOrEditLabel">Create or edit a Client List Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientListData.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientListData.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientListData.rowNum" for="field_rowNum">Row Num</label>
            <input type="number" class="form-control" name="rowNum" id="field_rowNum"
                [(ngModel)]="clientListData.rowNum" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientListData.cvalue" for="field_cvalue">Cvalue</label>
            <input type="text" class="form-control" name="cvalue" id="field_cvalue"
                [(ngModel)]="clientListData.cvalue" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientListData.clientField" for="field_clientField">Client Field</label>
            <select class="form-control" id="field_clientField" name="clientField" [(ngModel)]="clientListData.clientFieldId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientFieldOption.id" *ngFor="let clientFieldOption of clientfields; trackBy: trackClientFieldById">{{clientFieldOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
