
<div *ngIf="clientListData">
    <h2><span jhiTranslate="cmaApp.clientListData.detail.title">Client List Data</span> {{clientListData.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.clientListData.rowNum">Row Num</span></dt>
        <dd>
            <span>{{clientListData.rowNum}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientListData.cvalue">Cvalue</span></dt>
        <dd>
            <span>{{clientListData.cvalue}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientListData.clientField">Client Field</span></dt>
        <dd>
            <div *ngIf="clientListData.clientFieldId">
                <a [routerLink]="['/client-field', clientListData.clientFieldId]">{{clientListData.clientFieldId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-list-data/'+ clientListData.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
