<div>
    <h2>
        <span jhiTranslate="cmaApp.clientListData.home.title">Client List Data</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-list-data" [routerLink]="['/', { outlets: { popup: ['client-list-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.clientListData.home.createLabel">
            Create new Client List Data
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientListData">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rowNum"><span jhiTranslate="cmaApp.clientListData.rowNum">Row Num</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cvalue"><span jhiTranslate="cmaApp.clientListData.cvalue">Cvalue</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientFieldId"><span jhiTranslate="cmaApp.clientListData.clientField">Client Field</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientListData of clientListData ;trackBy: trackId">
                <td><a [routerLink]="['../client-list-data', clientListData.id ]">{{clientListData.id}}</a></td>
                <td>{{clientListData.rowNum}}</td>
                <td>{{clientListData.cvalue}}</td>
                <td>
                    <div *ngIf="clientListData.clientFieldId">
                        <a [routerLink]="['../client-field', clientListData.clientFieldId  ]" >{{clientListData.clientFieldId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-list-data', clientListData.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-list-data/'+ clientListData.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-list-data/'+ clientListData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clientListData && clientListData.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
