<div [ngSwitch]="mode">
    <div *ngSwitchCase="EmailTemplateDialogMode.CREATE_OR_EDIT" class="form-group" [hidden]="!emailTemplate.id">
        <label for="id" jhiTranslate="global.field.id">ID</label>
        <input type="text" class="form-control" id="id" name="id"
               [(ngModel)]="emailTemplate.id" readonly/>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div *ngSwitchCase="EmailTemplateDialogMode.CREATE_OR_EDIT" class="form-group">
                <label class="form-control-label" jhiTranslate="cmaApp.emailTemplate.name"
                       for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="emailTemplate.name" required/>
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div *ngSwitchCase="EmailTemplateDialogMode.SEND" class="form-group">
                <label class="form-control-label" for="field_to">To</label>
                <input type="text" class="form-control" name="to" id="field_to"
                       [(ngModel)]="emailTemplate.to" required readonly/>
                <div [hidden]="!(editForm.controls.to?.dirty && editForm.controls.to?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.to?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="cmaApp.emailTemplate.from"
                       for="field_from">From</label>
                <input type="text" class="form-control" name="from" id="field_from"
                       #fromInput="ngModel" [email]="emailTemplate.from != null && emailTemplate.from !==''"
                       [(ngModel)]="emailTemplate.from"/>
                <div *ngIf="fromInput.dirty && fromInput.invalid">
                    <small class="form-text text-danger"
                           *ngIf="fromInput.errors.email"
                           jhiTranslate="global.messages.validate.email.invalid">
                        Your email is invalid.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="cmaApp.emailTemplate.subject"
                       for="field_subject">Subject</label>
                <input type="text" class="form-control" name="subject" id="field_subject"
                       [(ngModel)]="emailTemplate.subject"/>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="cmaApp.emailTemplate.cc"
                       for="field_cc">Cc</label>
                <input type="text" class="form-control" name="cc" id="field_cc"
                       #ccInput="ngModel" [email]="emailTemplate.cc != null && emailTemplate.cc !==''"
                       [(ngModel)]="emailTemplate.cc"/>
                <div *ngIf="ccInput.dirty && ccInput.invalid">
                    <small class="form-text text-danger"
                           *ngIf="ccInput.errors.email"
                           jhiTranslate="global.messages.validate.email.invalid">
                        Your email is invalid.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="cmaApp.emailTemplate.bcc"
                       for="field_bcc">Bcc</label>
                <input type="text" class="form-control" name="bcc" id="field_bcc"
                       #bccInput="ngModel" [email]="emailTemplate.bcc != null && emailTemplate.bcc !==''"
                       [(ngModel)]="emailTemplate.bcc"/>
                <div *ngIf="bccInput.dirty && bccInput.invalid">
                    <small class="form-text text-danger"
                           *ngIf="bccInput.errors.email"
                           jhiTranslate="global.messages.validate.email.invalid">
                        Your email is invalid.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="cmaApp.emailTemplate.replyTo"
                       for="field_replyTo">Reply
                    To</label>
                <input type="text" class="form-control" name="replyTo" id="field_replyTo"
                       #replyToInput="ngModel"
                       [email]="emailTemplate.replyTo != null && emailTemplate.replyTo !==''"
                       [(ngModel)]="emailTemplate.replyTo"/>
                <div *ngIf="replyToInput.dirty && replyToInput.invalid">
                    <small class="form-text text-danger"
                           *ngIf="replyToInput.errors.email"
                           jhiTranslate="global.messages.validate.email.invalid">
                        Your email is invalid.
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="form-control-label" jhiTranslate="cmaApp.emailTemplate.body">Body</label>

        <ckeditor name="field_body"
                  [editor]="Editor"
                  [config]="editorConfig"
                  [ngModel]="getBody()"
                  (ngModelChange)="setBody($event)"></ckeditor>
    </div>

    <div *ngSwitchCase="EmailTemplateDialogMode.CREATE_OR_EDIT" class="form-group">
        <label class="form-control-label" jhiTranslate="cmaApp.surveyQuestion.clientCampaign"
               for="field_clientCampaign">Client Campaign</label>
        <select class="form-control" id="field_clientCampaign" name="clientCampaign"
                [(ngModel)]="emailTemplate.clientCampaignId">
            <option [ngValue]="null"></option>
            <option [ngValue]="clientCampaignOption.id"
                    *ngFor="let clientCampaignOption of clientCampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
        </select>
    </div>
</div>
