<div>
    <h2>
        <span jhiTranslate="cmaApp.emailTemplate.home.title">Email Templates</span>
        <button class="btn btn-primary float-right jh-create-entity create-email-template" [routerLink]="['/', { outlets: { popup: ['email-template-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.emailTemplate.home.createLabel">
            Create new Email Template
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="emailTemplates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="cmaApp.emailTemplate.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="from"><span jhiTranslate="cmaApp.emailTemplate.from">From</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subject"><span jhiTranslate="cmaApp.emailTemplate.subject">Subject</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cc"><span jhiTranslate="cmaApp.emailTemplate.cc">Cc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bcc"><span jhiTranslate="cmaApp.emailTemplate.bcc">Bcc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="replyTo"><span jhiTranslate="cmaApp.emailTemplate.replyTo">Reply To</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="body"><span jhiTranslate="cmaApp.emailTemplate.body">Body</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="clientCampaignName"><span jhiTranslate="cmaApp.surveyQuestion.clientCampaign">Client Campaign</span>
                <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emailTemplate of emailTemplates ;trackBy: trackId">
                <td><a [routerLink]="['../email-template', emailTemplate.id ]">{{emailTemplate.id}}</a></td>
                <td>{{emailTemplate.name}}</td>
                <td>{{emailTemplate.from}}</td>
                <td>{{emailTemplate.subject}}</td>
                <td>{{emailTemplate.cc}}</td>
                <td>{{emailTemplate.bcc}}</td>
                <td>{{emailTemplate.replyTo}}</td>
                <!--<td><div [innerHTML]="emailTemplate.body"></div></td>-->
                <td>
                    <div *ngIf="emailTemplate.clientCampaignId">
                        <a [routerLink]="['../client-campaign', emailTemplate.clientCampaignId  ]">{{emailTemplate.clientCampaignName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../email-template', emailTemplate.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'email-template/'+ emailTemplate.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'email-template/'+ emailTemplate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="emailTemplates && emailTemplates.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
