
<div *ngIf="emailTemplate">
    <h2><span jhiTranslate="cmaApp.emailTemplate.detail.title">Email Template</span> {{emailTemplate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.emailTemplate.name">Name</span></dt>
        <dd>
            <span>{{emailTemplate.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.emailTemplate.from">From</span></dt>
        <dd>
            <span>{{emailTemplate.from}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.emailTemplate.subject">Subject</span></dt>
        <dd>
            <span>{{emailTemplate.subject}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.emailTemplate.cc">Cc</span></dt>
        <dd>
            <span>{{emailTemplate.cc}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.emailTemplate.bcc">Bcc</span></dt>
        <dd>
            <span>{{emailTemplate.bcc}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.emailTemplate.replyTo">Reply To</span></dt>
        <dd>
            <span>{{emailTemplate.replyTo}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.emailTemplate.body">Body</span></dt>
        <dd>
            <span><div [innerHTML]="emailTemplate.body"></div></span>
        </dd>
        <dt><span jhiTranslate="cmaApp.surveyQuestion.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="emailTemplate.clientCampaignId">
                <a [routerLink]="['/client-campaign', emailTemplate.clientCampaignId]">{{emailTemplate.clientCampaignName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'email-template/'+ emailTemplate.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
