<div *ngIf="clientCompany">
    <h2><span jhiTranslate="cmaApp.clientCompany.detail.title">Client Company</span> {{clientCompany.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.clientCompany.name">Name</span></dt>
        <dd>
            <span>{{clientCompany.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCompany.createdDate">Created Date</span></dt>
        <dd>
            <span>{{clientCompany.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCompany.createdBy">Created By</span></dt>
        <dd>
            {{clientCompany.createdByLogin}}
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCompany.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{clientCompany.updatedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCompany.updatedBy">Updated By</span></dt>
        <dd>
            {{clientCompany.updatedByLogin}}
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCompany.status">Status</span></dt>
        <dd>
            <div *ngIf="clientCompany.statusId">
                <a [routerLink]="['/client-company-status', clientCompany.statusId]">{{clientCompany.statusName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientCompany.industry">Industry</span></dt>
        <dd>
            <div *ngIf="clientCompany.industryId">
                <a [routerLink]="['/industry', clientCompany.industryId]">{{clientCompany.industryName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-company/'+ clientCompany.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
