<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientCompanyLabel" jhiTranslate="cmaApp.clientCompany.home.createOrEditLabel">
            Create or edit a Client Company</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientCompany.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientCompany.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientCompany.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="clientCompany.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientCompany.status"
                   for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" [(ngModel)]="clientCompany.statusId" required>
                <option *ngIf="!editForm.value.status" [ngValue]="null" selected></option>
                <option [ngValue]="clientCompanyStatusOption.id"
                        *ngFor="let clientCompanyStatusOption of usercompanystatuses; trackBy: trackClientCompanyStatusById">
                    {{clientCompanyStatusOption.name}}
                </option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientCompany.industry"
                   for="field_industry">Industry</label>
            <select class="form-control" id="field_industry" name="industry" [(ngModel)]="clientCompany.industryId">
                <option [ngValue]="null"></option>
                <option [ngValue]="industryOption.id"
                        *ngFor="let industryOption of industries; trackBy: trackIndustryById">{{industryOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
