<div>
    <h2>
        <span jhiTranslate="cmaApp.clientCompany.home.title">Client Companies</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-company"
                [routerLink]="['/', { outlets: { popup: ['client-company-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="cmaApp.clientCompany.home.createLabel">
            Create new Client Company
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientCompanies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="cmaApp.clientCompany.name">Name</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="createdDate"><span jhiTranslate="cmaApp.clientCompany.createdDate">Created Date</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="createdByLogin"><span jhiTranslate="cmaApp.clientCompany.createdBy">Created By</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="statusName"><span jhiTranslate="cmaApp.clientCompany.status">Status</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="updatedDate"><span jhiTranslate="cmaApp.clientCompany.updatedDate">Updated Date</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="updatedByLogin"><span jhiTranslate="cmaApp.clientCompany.updatedBy">Updated By</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="industryName"><span jhiTranslate="cmaApp.clientCompany.industry">Industry</span> <span
                    class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientCompany of clientCompanies ;trackBy: trackId">
                <td><a [routerLink]="['../client-company', clientCompany.id ]">{{clientCompany.id}}</a></td>
                <td>{{clientCompany.name}}</td>
                <td>{{clientCompany.createdDate | date:'medium'}}</td>
                <td>
                    {{clientCompany.createdByLogin}}
                </td>
                <td>
                    <div *ngIf="clientCompany.statusId">
                        <a [routerLink]="['../client-company-status', clientCompany.statusId  ]">{{clientCompany.statusName}}</a>
                    </div>
                </td>
                <td>{{clientCompany.updatedDate | date:'medium'}}</td>
                <td>
                    {{clientCompany.updatedByLogin}}
                </td>
                <td>
                    <div *ngIf="clientCompany.industryId">
                        <a [routerLink]="['../industry', clientCompany.industryId  ]">{{clientCompany.industryName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-company', clientCompany.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-company/'+ clientCompany.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-company/'+ clientCompany.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clientCompanies && clientCompanies.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
