<div>
    <h2>
        <span jhiTranslate="cmaApp.clientField.home.title">Client Fields</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-field" [routerLink]="['/', { outlets: { popup: ['client-field-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.clientField.home.createLabel">
            Create new Client Field
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientFields">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="visible"><span jhiTranslate="cmaApp.clientField.visible">Visible</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="editable"><span jhiTranslate="cmaApp.clientField.editable">Editable</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isOrgInformation"><span>Is Org Information</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fieldName"><span jhiTranslate="cmaApp.clientField.field">Field</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="listName"><span jhiTranslate="cmaApp.clientField.list">List</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientField of clientFields ;trackBy: trackId">
                <td><a [routerLink]="['../client-field', clientField.id ]">{{clientField.id}}</a></td>
                <td>{{clientField.visible}}</td>
                <td>{{clientField.editable}}</td>
                <td>{{clientField.isOrgInformation}}</td>
                <td>
                    <div *ngIf="clientField.fieldId">
                        <a [routerLink]="['../field', clientField.fieldId  ]" >{{clientField.fieldName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="clientField.listId">
                        <a [routerLink]="['../client-list', clientField.listId  ]" >{{clientField.listName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-field', clientField.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-field/'+ clientField.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-field/'+ clientField.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clientFields && clientFields.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
