
<div *ngIf="clientField">
    <h2><span jhiTranslate="cmaApp.clientField.detail.title">Client Field</span> {{clientField.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.clientField.visible">Visible</span></dt>
        <dd>
            <span>{{clientField.visible}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientField.editable">Editable</span></dt>
        <dd>
            <span>{{clientField.editable}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientField.field">Field</span></dt>
        <dd>
            <div *ngIf="clientField.fieldId">
                <a [routerLink]="['/field', clientField.fieldId]">{{clientField.fieldName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.clientField.list">List</span></dt>
        <dd>
            <div *ngIf="clientField.listId">
                <a [routerLink]="['/client-list', clientField.listId]">{{clientField.listName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-field/'+ clientField.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
