<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientFieldLabel" jhiTranslate="cmaApp.clientField.home.createOrEditLabel">Create or edit a Client Field</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientField.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientField.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientField.visible" for="field_visible">Visible</label>
            <input type="checkbox" class="form-control" name="visible" id="field_visible"
                [(ngModel)]="clientField.visible" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientField.editable" for="field_editable">Editable</label>
            <input type="checkbox" class="form-control" name="editable" id="field_editable"
                [(ngModel)]="clientField.editable" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isOrgInformation">Is Org Information</label>
            <input type="checkbox" class="form-control" name="isOrgInformation" id="field_isOrgInformation"
                   [(ngModel)]="clientField.isOrgInformation" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientField.field" for="field_field">Field</label>
            <select class="form-control" id="field_field" name="field" [(ngModel)]="clientField.fieldId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="fieldOption.id" *ngFor="let fieldOption of fields; trackBy: trackFieldById">{{fieldOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.clientField.list" for="field_list">List</label>
            <select class="form-control" id="field_list" name="list" [(ngModel)]="clientField.listId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientListOption.id" *ngFor="let clientListOption of clientlists; trackBy: trackClientListById">{{clientListOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
