<div>
    <h2>
        <span jhiTranslate="cmaApp.bookingQuestion.home.title">Booking Questions</span>
        <button class="btn btn-primary float-right jh-create-entity create-booking-question" [routerLink]="['/', { outlets: { popup: ['booking-question-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmaApp.bookingQuestion.home.createLabel">
            Create new Booking Question
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bookingQuestions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="cmaApp.bookingQuestion.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="questionText"><span jhiTranslate="cmaApp.bookingQuestion.questionText">Question Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="order"><span jhiTranslate="cmaApp.bookingQuestion.order">Order</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isVisible"><span jhiTranslate="cmaApp.bookingQuestion.isVisible">Is Visible</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientCampaignName"><span jhiTranslate="cmaApp.bookingQuestion.clientCampaign">Client Campaign</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bookingQuestion of bookingQuestions ;trackBy: trackId">
                <td><a [routerLink]="['../booking-question', bookingQuestion.id ]">{{bookingQuestion.id}}</a></td>
                <td>{{bookingQuestion.name}}</td>
                <td>{{bookingQuestion.questionText}}</td>
                <td>{{bookingQuestion.order}}</td>
                <td>{{bookingQuestion.isVisible}}</td>
                <td>
                    <div *ngIf="bookingQuestion.clientCampaignId">
                        <a [routerLink]="['../client-campaign', bookingQuestion.clientCampaignId  ]" >{{bookingQuestion.clientCampaignName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../booking-question', bookingQuestion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking-question/'+ bookingQuestion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking-question/'+ bookingQuestion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="bookingQuestions && bookingQuestions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
