
<div *ngIf="bookingQuestion">
    <h2><span jhiTranslate="cmaApp.bookingQuestion.detail.title">Booking Question</span> {{bookingQuestion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.bookingQuestion.name">Name</span></dt>
        <dd>
            <span>{{bookingQuestion.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.bookingQuestion.questionText">Question Text</span></dt>
        <dd>
            <span>{{bookingQuestion.questionText}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.bookingQuestion.order">Order</span></dt>
        <dd>
            <span>{{bookingQuestion.order}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.bookingQuestion.isVisible">Is Visible</span></dt>
        <dd>
            <span>{{bookingQuestion.isVisible}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.bookingQuestion.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="bookingQuestion.clientCampaignId">
                <a [routerLink]="['/client-campaign', bookingQuestion.clientCampaignId]">{{bookingQuestion.clientCampaignName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'booking-question/'+ bookingQuestion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
