<div [ngStyle]="panelsNgStyle">

    <h4>Strategy Document</h4>

    <a [href]="clientCampaign.strategyDocument" target="_blank"
       class="btn btn-link text-left">{{clientCampaign.strategyDocument}}</a>

    <h4>Additional Documentation</h4>

    <div class="btn-group-vertical">
        <a *ngFor="let addDoc of clientCampaign.addDocs" [href]="addDoc.link" target="_blank"
           class="btn btn-link text-left">{{addDoc.text}}</a>
    </div>

</div>
