<div [ngStyle]="panelsNgStyle">

    <div class="row form-group">
        <div class="col-12">
            <button type="button" class="btn btn-link" (click)="setMode(CallHistoryMode.SHOW_ALL)">
                <span [class.font-weight-bold]="mode === CallHistoryMode.SHOW_ALL">Show all</span>
            </button>
            <span>/</span>
            <button type="button" class="btn btn-link" (click)="setMode(CallHistoryMode.SHOW_BY_CONTACT)">
                <span [class.font-weight-bold]="mode === CallHistoryMode.SHOW_BY_CONTACT">Show by Contact</span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>Date</span></th>
                            <th><span>Caller Id</span></th>
                            <th><span>Type</span></th>
                            <th><span>Details</span></th>
                            <th><span>Notes</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let history of (callHistories | orderBy:'createdDate')">
                            <td>{{history.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                            <td>{{history.userLogin}}</td>
                            <td>{{history.typeName}}</td>
                            <td>{{history.details}}</td>
                            <td>{{history.note}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
