<div [ngStyle]="panelsNgStyle">

    <div class="row form-group">
        <div class="col-12">
            <button class="btn btn-primary" (click)="newEmail()" [disabled]="!clientCampaign || readonly">
                <span>New Email</span>
            </button>
        </div>
    </div>

    <h4>Or select from Template</h4>

    <div class="row">
        <div class="col-12">
            <div class="form-group" *ngIf="clientCampaign && clientCampaign.emailTemplates.length">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span jhiTranslate="cmaApp.clientCampaignSms.name">Name</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let emailTemplate of clientCampaign.emailTemplates ;trackBy: trackId">
                            <td>{{emailTemplate.name}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button class="btn btn-primary btn-sm" (click)="selectFromTemplate(emailTemplate)"
                                            [disabled]="readonly">
                                        <span>Use it</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
