<div class="modal-header">
    <h4 class="modal-title">New SMS</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="form-control-label" for="field_phone">Text to</label>
        <input type="text" class="form-control" name="phone" id="field_phone"
               [(ngModel)]="phone"
               readonly/>
    </div>
    <div class="form-group">
        <label class="form-control-label" for="field_text">Text</label>
        <textarea type="text" class="form-control" name="text" id="field_text"
                  [(ngModel)]="text"
                  placeholder="Enter your text here"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            (click)="cancel()">Cancel
    </button>
    <button type="button" class="btn btn-success"
            (click)="send()">Send
    </button>
</div>
