<div [ngStyle]="panelsNgStyle">

    <div class="form-group">
        <label class="form-control-label" for="field_notes">Notes</label>
        <textarea type="text" class="form-control" name="notes" id="field_notes"
                  [(ngModel)]="noContact.notes"
                  [readOnly]="readonly"></textarea>
    </div>

    <div class="form-group">
        <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio"
                   id="field_voiceMail" name="field_call_option"
                   [value]="NoContact.IS_VOICE_MAIL"
                   [(ngModel)]="noContact.type"
                   [disabled]="readonly">
            <label class="custom-control-label"
                   for="field_voiceMail">Voicemail</label>
        </div>
        <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio"
                   id="field_away" name="field_call_option"
                   [value]="NoContact.IS_AWAY"
                   [(ngModel)]="noContact.type"
                   [disabled]="readonly">
            <label class="custom-control-label"
                   for="field_away">Away</label>
        </div>
        <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio"
                   id="field_inMeeting" name="field_call_option"
                   [value]="NoContact.IS_IN_MEETING"
                   [(ngModel)]="noContact.type"
                   [disabled]="readonly">
            <label class="custom-control-label"
                   for="field_inMeeting">In Meeting</label>
        </div>
        <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio"
                   id="field_engaged" name="field_call_option"
                   [value]="NoContact.IS_ENGAGED"
                   [(ngModel)]="noContact.type"
                   [disabled]="readonly">
            <label class="custom-control-label"
                   for="field_engaged">Engaged</label>
        </div>
    </div>

    <div class="form-group">
        <div class="custom-control custom-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox"
                   id="field_holdFromCallPool"
                   name="field_holdFromCallPool"
                   [(ngModel)]="noContact.isHoldFromCallPool"
                   [disabled]="readonly">
            <label class="custom-control-label" for="field_holdFromCallPool">Hold from call pool?</label>
        </div>

        <div class="col-4 no-padding">
            <input type="datetime-local" class="form-control" id="field_stamp" name="field_stamp"
                   [(ngModel)]="noContact.stamp"
                   [disabled]="!noContact.isHoldFromCallPool || readonly"/>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" (click)="applyToOrganisation()" [disabled]="readonly">
            <span>Apply to Organisation</span>
        </button>
        <button class="btn btn-primary" (click)="applyToContact()" [disabled]="readonly">
            <span>Apply to Contact</span>
        </button>
    </div>

</div>
