<div [ngStyle]="panelsNgStyle">

    <div *ngIf="!selectedOutcome || buttonsAreDisabled">
        <button *ngFor="let outcome of clientCampaign.outcomes | orderBy: 'order'"
                type="button" class="btn btn-block"
                style="border-width: medium;"
                [ngClass]="outcomeColorClass(outcome)"
                [disabled]="!_dataListContact || buttonsAreDisabled"
                (click)="outcomeClick(outcome)">{{outcome.name}}</button>
    </div>

    <div *ngIf="selectedOutcome && _dataListContact && !buttonsAreDisabled">
        <jhi-outcome-wizard [clientCampaign]="clientCampaign"
                            [clientList]="clientList"
                            [dataListSummary]="dataListSummary"
                            [dataListCompany]="dataListCompany"
                            [dataListContact]="_dataListContact"
                            [withQaApprovalTab]="withQaApprovalTab"
                            [outcome]="selectedOutcome"
                            (cancel)="cancelHandler()"
                            (finish)="finishHandler($event)"
                            (moveContact)="doMoveContact($event)"></jhi-outcome-wizard>
    </div>

</div>
