<div [ngStyle]="panelsNgStyle">

    <div class="form-group" *ngIf="clientCampaign.scripts.length">
        <div class="form-group">
            <button class="btn btn-primary" (click)="toggleAll()">
                <span>{{this.allExpanded ? 'Collapse All' : 'Expand All'}}</span>
            </button>
        </div>
        <div class="accordion" id="scriptAccordion">
            <div class="card" *ngFor="let script of clientCampaign.scripts; let i = index">
                <div class="card-header" [id]="'heading_'+script.id">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-lg" type="button" data-toggle="collapse" aria-expanded="true"
                                [class.collapsed]="states[i]"
                                [attr.data-target]="'#collapse'+script.id"
                                [attr.aria-controls]="'collapse'+script.id"
                                (click)="toggleState(i)">
                            {{script.name}}
                        </button>
                    </h2>
                </div>

                <div class="collapse" data-parent="#scriptAccordion"
                     [id]="'collapse'+script.id"
                     [class.show]="states[i]"
                     [attr.aria-labelledby]="'heading_'+script.id">
                    <div class="card-body">
                        <div [innerHTML]="script.excerpt"></div>

                        <div>
                            <label class="form-control-label" [for]="'script_change_'+script.id">Suggested Script
                                Change</label>
                            <div class="input-group">
                                <textarea type="text" class="form-control"
                                          rows="6" style="resize:none"
                                          [name]="'script_change_'+script.id"
                                          [id]="'script_change_'+script.id"
                                          [(ngModel)]="changes[i]"
                                          [readOnly]="readonly"></textarea>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" (click)="submitChange(script, i)"
                                            [disabled]="readonly">Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
