<div *ngIf="outcomeSubReason">
    <h2><span jhiTranslate="cmaApp.outcomeSubReason.detail.title">Outcome Sub Reason</span> {{outcomeSubReason.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.outcomeSubReason.name">Name</span></dt>
        <dd>
            <span>{{outcomeSubReason.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'outcome-sub-reason/'+ outcomeSubReason.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
