<div class="row form-group">
    <div class="console-stats" *ngIf="stats">
        <div *ngIf="showStat(Calls)">
            <h5>{{Calls}} <span class="badge badge-secondary"
                                [@highlight]="changedStats[Calls] ? 'valueChanged' : ''">{{stats.calls}}</span></h5>
        </div>
        <div *ngIf="showStat(DM_Contact)">
            <h5>{{DM_Contact}} <span class="badge badge-secondary"
                                     [@highlight]="changedStats[DM_Contact] ? 'valueChanged' : ''">{{stats.dmContact}}</span>
            </h5>
        </div>
        <div *ngIf="showStat(Pending)">
            <h5>{{Pending}} <span class="badge badge-secondary"
                                  [@highlight]="changedStats[Pending] ? 'valueChanged' : ''">{{stats.pending}}</span>
            </h5>
        </div>
        <div *ngIf="showStat(Leads_Sales)">
            <h5>{{Leads_Sales}} <span class="badge badge-secondary"
                                      [@highlight]="changedStats[Leads_Sales] ? 'valueChanged' : ''">?</span></h5>
        </div>
        <div *ngIf="showStat(Conversion_rate)">
            <h5>{{Conversion_rate}} <span
                class="badge badge-secondary">{{stats.leadSales === 0 ? '?' : stats.dmContact / stats.leadSales | number:'1.0-0'}}</span>
            </h5>
        </div>
        <div *ngIf="showStat(Pipeline_opps)">
            <h5>{{Pipeline_opps}} <span class="badge badge-secondary"
                                        [@highlight]="changedStats[Pipeline_opps] ? 'valueChanged' : ''">{{stats.pipelineOpps}}</span>
            </h5>
        </div>
        <div *ngIf="showStat(Skips)">
            <h5>{{Skips}} <span class="badge badge-secondary"
                                [@highlight]="changedStats[Skips] ? 'valueChanged' : ''">{{stats.skips}}</span></h5>
        </div>
        <div>
            <ng-select id="stats"
                       [items]="availableStats"
                       multiple="true"
                       bindLabel="name"
                       placeholder="Filter..."
                       [(ngModel)]="selectedStats">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngIf="items.length === availableStats.length">
                        <span class="ng-value-label">Filter: All selected</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length < availableStats.length">
                        <span class="ng-value-label">Filter: {{items.length}} selected</span>
                    </div>
                </ng-template>
            </ng-select>
        </div>
    </div>
</div>

<div class="row mb-5"></div>
