<div *ngIf="campaignListContactResult">
    <h2><span
        jhiTranslate="cmaApp.campaignListContactResult.detail.title">Campaign List Contact Result</span> {{campaignListContactResult.id}}
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmaApp.campaignListContactResult.contactRowNum">Contact Row Num</span></dt>
        <dd>
            <span>{{campaignListContactResult.contactRowNum}}</span>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignListContactResult.clientCampaign">Client Campaign</span></dt>
        <dd>
            <div *ngIf="campaignListContactResult.clientCampaignId">
                <a [routerLink]="['/client-campaign', campaignListContactResult.clientCampaignId]">{{campaignListContactResult.clientCampaignName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignListContactResult.clientList">Client List</span></dt>
        <dd>
            <div *ngIf="campaignListContactResult.clientListId">
                <a [routerLink]="['/client-list', campaignListContactResult.clientListId]">{{campaignListContactResult.clientListName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmaApp.campaignListContactResult.outcomeSubReason">Outcome Sub Reason</span></dt>
        <dd>
            <div *ngIf="campaignListContactResult.outcomeSubReasonId">
                <a [routerLink]="['/outcome-sub-reason', campaignListContactResult.outcomeSubReasonId]">{{campaignListContactResult.outcomeSubReasonName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'campaign-list-contact-result/'+ campaignListContactResult.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
