<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCampaignListContactResultLabel"
            jhiTranslate="cmaApp.campaignListContactResult.home.createOrEditLabel">Create or edit a Campaign List
            Contact Result</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!campaignListContactResult.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="campaignListContactResult.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactResult.contactRowNum"
                   for="field_contactRowNum">Contact Row Num</label>
            <input type="number" class="form-control" name="contactRowNum" id="field_contactRowNum"
                   [(ngModel)]="campaignListContactResult.contactRowNum"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactResult.clientCampaign"
                   for="field_clientCampaign">Client Campaign</label>
            <select class="form-control" id="field_clientCampaign" name="clientCampaign"
                    [(ngModel)]="campaignListContactResult.clientCampaignId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientCampaignOption.id"
                        *ngFor="let clientCampaignOption of clientcampaigns; trackBy: trackClientCampaignById">{{clientCampaignOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactResult.clientList"
                   for="field_clientList">Client List</label>
            <select class="form-control" id="field_clientList" name="clientList"
                    [(ngModel)]="campaignListContactResult.clientListId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientListOption.id"
                        *ngFor="let clientListOption of clientlists; trackBy: trackClientListById">{{clientListOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmaApp.campaignListContactResult.outcomeSubReason"
                   for="field_outcomeSubReason">Outcome Sub Reason</label>
            <select class="form-control" id="field_outcomeSubReason" name="outcomeSubReason"
                    [(ngModel)]="campaignListContactResult.outcomeSubReasonId">
                <option [ngValue]="null"></option>
                <option [ngValue]="outcomeSubReasonOption.id"
                        *ngFor="let outcomeSubReasonOption of outcomesubreasons; trackBy: trackOutcomeSubReasonById">{{outcomeSubReasonOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
