<div>
    <h2>
        <span jhiTranslate="cmaApp.campaignListContactResult.home.title">Campaign List Contact Results</span>
        <button class="btn btn-primary float-right jh-create-entity create-campaign-list-contact-result"
                [routerLink]="['/', { outlets: { popup: ['campaign-list-contact-result-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="cmaApp.campaignListContactResult.home.createLabel">
            Create new Campaign List Contact Result
            </span>
        </button>
    </h2>
    <jhi-shared-alert></jhi-shared-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="campaignListContactResults">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="contactRowNum"><span jhiTranslate="cmaApp.campaignListContactResult.contactRowNum">Contact Row Num</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="clientCampaignName"><span jhiTranslate="cmaApp.campaignListContactResult.clientCampaign">Client Campaign</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="clientListName"><span jhiTranslate="cmaApp.campaignListContactResult.clientList">Client List</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="outcomeSubReasonName"><span
                    jhiTranslate="cmaApp.campaignListContactResult.outcomeSubReason">Outcome Sub Reason</span> <span
                    class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaignListContactResult of campaignListContactResults ;trackBy: trackId">
                <td><a
                    [routerLink]="['../campaign-list-contact-result', campaignListContactResult.id ]">{{campaignListContactResult.id}}</a>
                </td>
                <td>{{campaignListContactResult.contactRowNum}}</td>
                <td>
                    <div *ngIf="campaignListContactResult.clientCampaignId">
                        <a [routerLink]="['../client-campaign', campaignListContactResult.clientCampaignId  ]">{{campaignListContactResult.clientCampaignName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campaignListContactResult.clientListId">
                        <a [routerLink]="['../client-list', campaignListContactResult.clientListId  ]">{{campaignListContactResult.clientListName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="campaignListContactResult.outcomeSubReasonId">
                        <a [routerLink]="['../outcome-sub-reason', campaignListContactResult.outcomeSubReasonId  ]">{{campaignListContactResult.outcomeSubReasonName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../campaign-list-contact-result', campaignListContactResult.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign-list-contact-result/'+ campaignListContactResult.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campaign-list-contact-result/'+ campaignListContactResult.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campaignListContactResults && campaignListContactResults.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
